@font-face {
  font-family: 'iransans';
  src: url("../../../assets/all-fonts/iransans/IRANSansWeb(FaNum).eot") format("eot");
  src: url("../../../assets/all-fonts/iransans/IRANSansWeb(FaNum).woff") format("woff");
  src: url("../../../assets/all-fonts/iransans/IRANSansWeb(FaNum).woff2") format("woff2");
  src: url("../../../assets/all-fonts/iransans/IRANSansWeb(FaNum).ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: 'iranbold';
  src: url("../../../assets/all-fonts/iranbold/IRANSansWeb_Bold.eot") format("eot");
  src: url("../../../assets/all-fonts/iranbold/IRANSansWeb_Bold.woff") format("woff");
  src: url("../../../assets/all-fonts/iranbold/IRANSansWeb_Bold.woff2") format("woff2");
  src: url("../../../assets/all-fonts/iranbold/IRANSansWeb_Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}