
@font-face {
  font-family: 'yekanbakhBold';
  src: url("../fonts/yekanbakhBold/Yekan-Bakh-FaNum-06-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'yekanbakhmedium';
  src: url("../fonts/yekanbakhmedium/Yekan-Bakh-FaNum-05-Medium.woff") format("woff");
}

@font-face {
  font-family: 'IRANYekanX-Black';
  src: url("../fonts/IRANYekanX-Black/IRANYekanX-Black.ttf") format("truetype");
}
