@import "components/variables";
@import "components/mixin";
@import "components/fonts";


body {
  overflow-x: hidden;
  direction: rtl;
  padding: 0;
  background: #e8e8e8 !important;
  line-height: 24px;
  text-align: right;
  color: #4b5259 !important;
  font-family: $fontFamily !important;
  font-variation-settings: "dots" 3;
  font-weight: 500;
  -moz-font-feature-settings: "ss02";
  -webkit-font-feature-settings: "ss02";
  font-feature-settings: "ss02";
}

@supports (font-variation-settings: normal) {
  body {
    font-family: $fontFamilyXVF !important;
  }
}

a:hover {
  text-decoration: none;
}


@media (min-width: 1200px) {
  .container {
    max-width: 1240px;
  }
}

main{
  background: #f8f5f4;
  padding-top: 10px;
}

//استایل برای لینک سایت قدیم
.demo-ticket-old {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(223, 223, 223);
  border-radius: $rounded;
  height: 30px;
  gap: 3px;

  p {
    margin-bottom: 0;
    color: #333;
    font-size: 14px;
    font-weight: 450;
  }

  a {
    transition: $transition;
    font-size: 14px;
    font-weight: 450;
  }
}


//banner-demo
.banner-demo {
  width: 100%;
  height: 470px;
  display: flex;
  position: relative;
  padding-bottom: 30px;
  margin-top: 10px;

  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: 1;
    bottom: 0;
    opacity: .9;
    left: 0;
  }

  //.large-header {
  //  position: absolute;
  //  z-index: 2;
  //  height: 100% !important;
  //  width: 100% !important;
  //  left: 0;
  //}
  //.large-header canvas {
  //  width: 100%;
  //  height: 100%;
  //}

  .parent-data-demo {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding: 40px;
    position: relative;
    height: 100%;
    //background: url("../images/bg-parvaz.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    background-position: center;
    border-radius: $rounded;

    &:after {
      content: '';
      width: 100%;
      height: 100%;
      background: rgb(238, 56, 78);
      background: linear-gradient(90deg, $mainColor 17%, rgba(9, 9, 121, 0) 93%);
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      border-radius: $rounded;
    }

    img {
      width: 100%;
      border-radius: $rounded;
      height: 100%;
      position: absolute;
      inset: 0;
    }

    .parent-text-banner-demo {
      position: relative;
      z-index: 2;
      @include flex-direction-colum();
      gap: 14px;
      text-align: center;

      h2 {
        font-size: 28px;
        color: #fff;
        font-weight: 800;
        margin-bottom: 0;
      }

      p {
        font-size: 14px;
        color: #fff;
        line-height: 24px;
        margin-bottom: 0;
      }
    }
  }
}


//title-demo
.title-demo {
  @include flex-between();
  gap: 14px;
  margin-bottom: 30px;
  align-items: center;

  div {
    @include flex-direction-colum();
    gap: 5px;

    h2 {
      font-size: 20px;
      color: #444;
      font-weight: 600;
      margin-bottom: 0;
      position: relative;
      width: fit-content;
      z-index: 1;
      @include flex-align-items-center();
      gap: 7px;

      .square-title {
        @include width_height(16px);
        background: $mainColor;
        border-radius: 4px;
      }
    }

    p {
      font-size: 12px;
      color: #808080;
      line-height: 24px;
      margin-bottom: 0;
    }
  }

  a {
    @include flex-align-items-center();
    background: transparent;
    color: #444;
    transition: $transition;
    font-size: 12px;
    justify-content: center;
    border: none;
    padding-left: 0;

    svg {
      @include width_height(14px);
      fill: #444;
      transition: $transition;
    }

    &:hover {
      color: $mainColor;
    }

    &:hover svg {
      fill: $mainColor;
    }
  }
}


//title-center
.title-center-demo {
  @include flex-center-all();
  margin-bottom: 30px;

  div {
    @include flex-direction-colum();
    gap: 10px;
    align-items: center;

    h2 {
      font-size: 20px;
      color: #444;
      font-weight: 600;
      margin-bottom: 0;
      position: relative;
      width: fit-content;
      z-index: 2;
      @include flex-align-items-center();
      gap: 7px;

      .square-title {
        @include width_height(16px);
        background: $mainColor;
        border-radius: 4px;
      }
    }

    p {
      font-size: 12px;
      color: gray;
      line-height: 24px;
      margin-bottom: 0;
      width: 659px;
      text-align: center;
    }
  }
}


//TOUR
.tour-demo {
  padding: 0 0 70px;
  position: relative;

  .bg-absolute3 {
    opacity: .25;
    filter: blur(125px);
    background: rgb(239 68 68/1);
    border-radius: 9999px;
    width: 15rem;
    height: 15rem;
    z-index: -10;
    right: 0;
    top: 0;
    position: absolute;
  }

  .category-tour-demo {
    margin-bottom: 60px;

    .parent-category-tour-demo {
      @include grid-style(4, 20px, 20px);

      a {
        background: #fff;
        border-radius: $rounded;
        transition: $transition;
        display: flex;
        box-shadow: $boxShadow;
        padding: 15px;
        gap: 15px;
        align-items: center;

        &:hover {
          transform: translateY(-7px);
        }

        img {
          @include width_height(70px);
          border: 5px solid #fff;
          box-shadow: rgba(0, 0, 0, .15) 0.4px 0.4px 3.2px;
          border-radius: 50%;
          object-fit: cover;
        }

        .parent-text-category-tour-demo {
          @include flex-direction-colum();
          gap: 10px;

          h3 {
            font-size: 16px;
            font-weight: 500;
            color: #4e5162;
            margin-bottom: 0;
            @include text-limit(1);
          }

          div {
            @include flex-align-items-center();
            gap: 2px;
            font-size: 14px;

            svg {
              @include width_height(18px);
              fill: #b9b9c5;
              margin-left: 5px;
            }

            span {
              color: #b9b9c5;
            }
          }
        }
      }
    }
  }

  .tour-internal-external {

    .parent-data-tour-tab-demo {
      @include flex-direction-colum();
      gap: 20px;

      ul {
        @include flex-align-items-center();
        justify-content: center;
        gap: 10px;
        padding: 0;

        button {
          background: transparent;
          border-radius: $rounded;
          border: 1px solid $mainColor;
          transition: $transition;
          padding: 10px 24px;
          font-size: 16px;

          font-weight: 500;
          color: $mainColor;

          &.active {
            background: $mainColor !important;
            color: #fff;
          }
        }
      }

      .owl-tour-demo {
        display: none;
      }

      .parent-tour-demo {
        @include grid-style(3, 20px, 30px);
      }

      a {
        background: #fff;
        border-radius: $rounded;
        transition: $transition;
        padding: 15px;
        box-shadow: 0 1px 16px 0 rgba(0, 0, 0, .12);
        @include flex-direction-colum();
        gap: 15px;

        &:hover button {
          background: transparent !important;
        }

        &:hover button svg {
          fill: $mainColor !important;
        }

        &:hover .parent-img img {
          transform: scale(1.1);
        }

        .parent-img {
          width: 100%;
          border-radius: $rounded;
          overflow: hidden;
          transition: $transition;
          position: relative;
          height: 240px;

          img {
            width: 100%;
            height: 100%;
            transition: $transition;
            filter: brightness(80%);
            object-fit: cover;
          }

          .price-tour-demo {
            position: absolute;
            bottom: 10px;
            left: 10px;
            background: #fff;
            color: #333;
            font-weight: 500;
            font-size: 14px;
            padding: 6px 14px;
            border-radius: $rounded;
          }
        }

        .text-tour {
          @include flex-direction-colum();
          gap: 12px;
          height: 208px;

          .city-tour {
            @include flex-align-items-center();
            gap: 3px;
            font-size: 14px;
            color: rgb(185, 185, 197);

            svg {
              @include width_height(18px);
              fill: rgb(185, 185, 197);
            }
          }

          h4 {
            font-weight: 500;
            color: #222;
            font-size: 18px;
            @include text-limit(1);
            margin-bottom: 0;
          }

          p {
            font-size: 12px;
            color: #808080;
            line-height: 24px;
            @include text-limit(2);
            margin-bottom: 0;
          }

          .data-tour {
            @include flex-align-items-center();
            gap: 7px;
            font-size: 14px;
            color: gray;

            .color-data-tour-demo {
              color: #262626;
            }

            svg {
              @include width_height(18px);
              fill: gray;
            }
          }

          .parent-btn {
            @include flex-between();
            align-items: center;
            margin-top: auto;

            .parent-logo-airline {
              @include flex-align-items-center();
              gap: 7px;

              img {
                width: 40px !important;
                height: 40px;
              }

              .text-airline {
                @include flex-align-items-center();
                gap: 7px;

                h6 {
                  font-size: 12px;
                  color: #b9b9c5;
                  margin-bottom: 0;
                }

                svg {
                  @include width_height(16px);
                  fill: #b9b9c5;
                }
              }
            }

            button {
              @include flex-center-all();
              background: transparent;
              border: none;
              border-radius: 50%;
              box-shadow: none;
              color: #fff;
              padding: 0;
              outline: none;
              transition: $transition;

              svg {
                fill: #555;
                transition: $transition;
                @include width_height(22px);
              }
            }
          }
        }
      }
    }

  }

}

//installmentCalculator
.installmentCalculator {
  user-select: none;
  padding-bottom: 70px;

  .installmentCalculator_box .installmentCalculator_box_div1 > h2 {
    color: $mainColor;
    font-size: 36px;
    margin-bottom: 30px;
  }
  .installmentCalculator_box .installmentCalculator_box_div1 > div > div.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 .5rem 0;
  }
  .installmentCalculator_box .installmentCalculator_box_div1 > div > div.header > h3 {
    font-size: 16px;
    text-align: right;
    color: #6c6c6c;
    margin-bottom: 0;
    position: relative;
  }
  .installmentCalculator_box{
    display: flex;
    flex-direction: column;
  }
  .installmentCalculator_box_div1{
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .installmentCalculator_box-title i{
    font-size: 18px;
  }
  .AdvancedInstallmentCalculatorBox{
    margin-top: 30px;
  }
  .installmentCalculator_box .installmentCalculator_box_div1 > div > div.header > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: $rounded;
    border: 1px solid #ddd;
    padding: 5px;
    background-color: #ffffff;
  }
  .installmentCalculator_box .installmentCalculator_box_div1 > div > div.header > div h6 {
    margin: 0;
  }
  .installmentCalculator_box_div2 {
    border: 1px solid #ddd;
    background-color: #ffffff;
    border-radius: $rounded;
    overflow: hidden;
  }
  .installmentCalculator_box_div2 > h3 {
    text-align: right;
    color: $mainColor;
    font-size: 26px;
  }
  .installmentCalculator_box_div2 .main_price {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .installmentCalculator_box_div2 .main_price p {
    color: #fff;
    font-size: 22px;
    margin: 0;
  }
  .parent-main_price h3{
    margin-bottom: 0;
    color: #fff;
  }
  .installmentCalculator_box_div2 .main_price h3 {
    color: #fff;
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 0;
  }
  .installmentCalculator_box-parent{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: #ffdee26b;
    padding: 20px 5px;
    border-radius: $rounded;
  }
  .installmentCalculator_box_div2 .box_price {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
  }
  .parent-box_price-all{
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .installmentCalculator_box_div2 .box_price > div {
    display: flex;
    align-items: flex-end;
    gap: 8px;
  }
  .installmentCalculator_box_div2 .box_price > div p {
    color: #6c6c6c;
    text-align: center;
    font-size: 20px;
    margin: 0;
  }
  .installmentCalculator_box_div2 .box_price > div h3 {
    color: /* $secondColor */ #YOUR_COLOR;
    font-size: 28px;
    text-align: center;
    margin: 0;
  }
  .installmentCalculator_box_div2 .box_price > div span {
    color: #6c6c6c;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
  }
  .parent-main_price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $mainColor;
    padding: 15px;
  }
  .AdvancedInstallmentCalculatorBox > h2 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .AdvancedInstallmentCalculatorBox > h2 > i{
    font-size: 18px;
  }
  .AdvancedInstallmentCalculatorBox > div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    background: #f7f7f7;
    padding: 10px;
    border-radius: $rounded;
  }
  .AdvancedInstallmentCalculatorBox > div > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .AdvancedInstallmentCalculatorBox > div > div p,
  .AdvancedInstallmentCalculatorBox > div > div h6.title-2 {
    font-size: 16px;
    color: #6c6c6c;
    margin-bottom: 10px;
  }
  .AdvancedInstallmentCalculatorBox > div > div h6.title-2 > div {
    border: 1px solid #ddd;
    padding: 2px;
    border-radius: $rounded;
    color: #333;
  }
  .AdvancedInstallmentCalculatorBox > div > div h6.title-2 > div button {
    border: none;
    padding: 5px;
    border-radius: $rounded;
    font-size: 10px;
    color: #333;
    background-color: transparent;
    cursor: pointer;
  }
  .AdvancedInstallmentCalculatorBox > div > div h6.title-2 > div button.active {
    background-color: $mainColor;
    color: #fff;
  }
  .AdvancedInstallmentCalculatorBox > div > div > input,
  .AdvancedInstallmentCalculatorBox > div > div .anAmount > input {
    border: 1px solid #ddd;
    width: 100%;
    padding: 0 25px;
    height: 47px;
    border-radius: $rounded;
    background: #fff;
    color: #333;
    font-size: 12px;
  }
  .AdvancedInstallmentCalculatorBox > div > div .plus_minus_box {
    border: 1px solid #ddd;
    padding: 0 25px;
    height: 47px;
    border-radius: $rounded;
    background: #fff;
    color: #333;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .AdvancedInstallmentCalculatorBox > div > div .plus_minus_box > i {
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: $rounded;
    border: 1px solid #ddd;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
  }
  .AdvancedInstallmentCalculatorBox > div > div .plus_minus_box > i:hover {
    background: #f3f3f3;
  }
  .AdvancedInstallmentCalculatorBox_response {
    padding: 15px;
    border-radius: $rounded;
    border: 1px solid #f7f7f7;
    background-color: #fdfdfd;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .parent-div{
    display: flex;
    align-items: center;
    gap: 3px;
  }
  .AdvancedInstallmentCalculatorBox_response h2{
    font-size: 16px;
    color: #555;
  }
  .parent-div h3{
    margin-bottom: 0;
  }
  .AdvancedInstallmentCalculatorBtn {
    margin: 2rem auto 0 auto;
    cursor: pointer;
    border: 1px solid $mainColor;
    padding: 12px 25px;
    border-radius: $rounded;
    background: $mainColor;
    color: #fff;
    font-size: 12px;
    transition: all .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .AdvancedInstallmentCalculatorBtn:hover,
  .AdvancedInstallmentCalculatorBtn.active {
    background: #f1f1f1;
    color: #666;
  }
  .AdvancedInstallmentCalculatorBox > div > div h6.title-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .AdvancedInstallmentCalculatorBox > div .Main_AdvancedInstallmentCalculatorBtn {
    width: 100%;
    cursor: pointer;
    border: 1px solid $mainColor;
    padding: 12px 25px;
    border-radius: $rounded;
    background: $mainColor;
    color: #fff;
    font-size: 12px;
    transition: all .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .AdvancedInstallmentCalculatorBox > div .Main_AdvancedInstallmentCalculatorBtn:hover, .installmentCalculator .AdvancedInstallmentCalculatorBox > div .Main_AdvancedInstallmentCalculatorBtn.active {
    background: #f1f1f1;
    color: #666;
  }
  .AdvancedInstallmentCalculatorBox > div > div .plus_minus_box > i svg {
    width: 15px;
    height: 15px;
    fill: #333;
  }
  .AdvancedInstallmentCalculatorBtn {
    margin: 2rem auto 0 auto;
    cursor: pointer;
    border: 1px solid $mainColor;
    padding: 12px 25px;
    border-radius: $rounded;
    background: $mainColor;
    color: #fff;
    font-size: 12px;
    transition: all .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #AdvancedInstallmentCalculatorBox_response_hide{
    display: none;
  }
  .AdvancedInstallmentCalculatorBox > div > div .anAmount {
    display: none;
  }

  @media (max-width: 991px) {
    .installmentCalculator_box_div2{
      margin-top: 30px;
    }
    .AdvancedInstallmentCalculatorBox > div{
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 576px) {
    .AdvancedInstallmentCalculatorBox > div{
      grid-template-columns: repeat(1, 1fr) !important;
      gap: 22px !important;
    }
    .AdvancedInstallmentCalculatorBox_response{
      grid-template-columns: repeat(1, 1fr) !important;
      gap: 34px !important;
    }
    .installmentCalculator_box-title{
      margin-bottom: 14px !important;
      font-size: 18px !important;
    }
    .AdvancedInstallmentCalculatorBox > h2{
      font-size: 16px !important;
    }
    .parent-main_price h3{
      font-size: 16px !important;
    }
    .installmentCalculator_box_div2 .main_price h3{
      font-size: 20px !important;
    }
    .installmentCalculator_box_div2 .box_price > div h3{
      font-size: 18px !important;
    }
    .installmentCalculator_box_div2 .box_price > div p{
      font-size: 14px !important;
    }
    .installmentCalculator_box_div2 .box_price > div{
      gap: 3px !important;
    }
    .installmentCalculator_box_div2 .box_price > div span{
      font-size: 12px !important;
    }
  }
}


//BLOG
.blog-demo {
  padding: 0 0 70px;
  position: relative;

  .bg-absolute4 {
    opacity: .25;
    filter: blur(125px);
    background: rgb(34 197 94/1);
    border-radius: 9999px;
    width: 15rem;
    height: 15rem;
    z-index: -10;
    left: 0;
    top: 0;
    position: absolute;
  }

  .blog-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px
  }

  .blog-grid .div1 {
    grid-area: 3/2/5/4
  }

  .blog-grid .div2 {
    grid-area: 1/1/5/2;
    height: 550px
  }

  .blog-grid .div3 {
    grid-area: 1/2/3/3
  }

  .blog-grid .div4 {
    grid-area: 1/3/3/4
  }

  .blog-grid > div > a {
    border-radius: $rounded;
    box-shadow: 0 1px 16px 0 rgba(0, 0, 0, .12);
    overflow: hidden;
    position: relative;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column
  }

  .blog-grid > div > a::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background: linear-gradient(transparent, #000)
  }

  .blog-grid > div > a:hover img {
    transform: scale(1.3)
  }

  .blog-grid > div > a:hover > div > i > svg {
    fill: $mainColor;
  }

  .blog-grid > div > a > img {
    position: absolute;
    z-index: -1;
    transition: all .3s;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover
  }

  .blog-grid > div > a > div {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
    padding: 1rem
  }

  .blog-grid > div > a > div > i {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    transition: all .3s
  }

  .blog-grid > div > a > div > i > svg {
    width: 20px;
    height: 20px;
    fill: #fff;
    transition: $transition;
  }

  .blog-grid > div > a > div > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - 40px)
  }

  .blog-grid > div > a > div > div h4 {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    margin: 0 0 .7rem 0;
    text-align: right;
    @include text-limit(1);
  }

  .blog-grid > div > a > div > div span {
    font-size: 12px;
    color: #fff;
    @include text-limit(2);
  }
}

//start search_flight
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2{
    font-family: $fontFamily;
    color: #333;
    margin-bottom: 0;
    font-size: 26px;
  }
}
.search_flight{
  padding: 210px 0 70px;
  .container{
    position: relative;
  }
  .dropdown_custom{
    position: relative;
    &::after{
      content: "";
      width: 1px;
      height: 30px;
      background: #d2cfcd;
      display: flex;
      position: absolute;
      right: -16px;
      top: 50%;
      transform: translateY(-50%);
    }
    >button{
      svg{
        width: 15px;
        height: 15px;
        fill: #fff;
      }
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #4885ff;
      box-sizing: border-box;
      color: #fff;
      height: 40px;
      padding: 15px;
      gap: 5px;
      cursor: pointer;
      border: none;
      border-radius: $rounded;
      font-size: 14px;
      transition: all .3s;
      font-weight: 500;
    }
    >div{
      box-shadow: 0 12px 24px 0 rgba(0,0,0,.2);
      width: 100%;
      left: 0;
      background-color: #fff;
      outline: 0;
      position: absolute;
      border-radius: $rounded;
      overflow: hidden;
      z-index: 10;
      top: 100%;
      display: none;
      ul{
        padding: 0 !important;
        margin: 0 !important;
        flex-direction: column;
        button{
          border: none !important;
          display: flex;
          border-radius: unset !important;
          color: #333 !important;
          background-color: transparent !important;
          font-size: 14px;
          width: 100%;
          transition: all .3s;
          cursor: pointer;
          align-items: center;
          justify-content: center;
          font-weight: 500;
          &:hover{
            background-color:#e7edfd !important;
          }
          &.active{
            background-color: #becdf8 !important;
            color: #3662de !important;
          }
        }
      }
    }
  }
  #search_flight-tabContent {
    .nav.nav-pills{
      display: flex;
      gap: 10px;
      position: absolute;
      top: 7px;
      left: 161px;
      .nav-link{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $mainColor;
        box-sizing: border-box;
        background-color: transparent;
        color: $mainColor;
        height: 40px;
        gap: 5px;
        cursor: pointer;
        border-radius: $rounded;
        font-size: 14px;
        transition: all .3s;
        font-weight: 500;
        &.active{
          background-color: $mainColor;
          color: #fff;
        }
      }
    }
    .search_flight_grid {
      display: grid;
      margin-top: 30px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      >
      div{
        padding: 15px 30px;
        border-radius: $rounded;
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all .3s;
        cursor: pointer;
        box-shadow: $boxShadow;
        &:hover{
          box-shadow: 0 12px 24px 0 rgba(88,114,195,.2);
        }
        h5{
          color: #575757;
          margin-bottom: 0;
          font-size: 1rem;
          font-family: $fontFamily;
        }
        >div{
          display: flex;
          align-items: center;
          gap: 3px;
          svg:nth-child(1){
            width: 4px;
            height: 4px;
            fill: #62666b;
          }
          svg:nth-child(2){
            width: 6px;
            height: 6px;
            fill: #5b6065;
          }
          svg:nth-child(3){
            width: 8px;
            height: 8px;
            fill: #4e555b;
          }
          svg:nth-child(4){
            width: 30px;
            height: 30px;
            fill: $mainColor;
            transform: rotate(180deg);
          }
        }
      }
      a{
        padding: 15px 30px;
        border-radius: $rounded;
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all .3s;
        cursor: pointer;
        box-shadow: $boxShadow;
        &:hover{
          box-shadow: 0 12px 24px 0 rgba(88,114,195,.2);
        }
        h5{
          color: #575757;
          margin-bottom: 0;
          font-size: 1rem;
          font-family: $fontFamily;
        }
        >div{
          display: flex;
          align-items: center;
          gap: 3px;
          svg:nth-child(1){
            width: 4px;
            height: 4px;
            fill: #62666b;
          }
          svg:nth-child(2){
            width: 6px;
            height: 6px;
            fill: #5b6065;
          }
          svg:nth-child(3){
            width: 8px;
            height: 8px;
            fill: #4e555b;
          }
          svg:nth-child(4){
            width: 30px;
            height: 30px;
            fill: $mainColor;
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}
.button {
  background: $mainColor;
  color: #fff;
  padding: 8px 20px;
  cursor: pointer;
  border-radius: $rounded;
  border:1px solid $mainColor;
  transition: all .3s;
  font-size: .9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button:hover {
  background: $secondColor;
  color: #fff;
  border-color: $secondColor;
}
.moreBtnMobile{
  display: none;
}
@media(max-width : 992px){
  .moreBtnMobile{
    display: flex;
  }
}
//end search_flight

::selection {
  background-color: $mainColor;
  color: white;
}

//HOTEL
.hotel-demo {
  padding: 0 0 70px;
  position: relative;

  .bg-absolute2 {
    opacity: .25;
    filter: blur(125px);
    background: rgb(14 165 233/1);
    border-radius: 9999px;
    width: 15rem;
    height: 15rem;
    z-index: -10;
    right: 0;
    top: 0;
    position: absolute;
  }

  .parent-data-hotel-tab-demo {
    @include flex-direction-colum();
    gap: 20px;

    ul {
      @include flex-align-items-center();
      justify-content: center;
      gap: 10px;
      padding: 0;

      button {
        background: rgba(0, 0, 0, 0);
        border-radius: $rounded;
        border: 1px solid $mainColor;
        transition: $transition;
        padding: 10px 24px;
        font-size: 16px;
        font-weight: 500;
        color: $mainColor;

        &.active {
          background: $mainColor !important;
          color: #fff;
        }
      }
    }

    .owl-hotel-demo {
      display: none;
    }

    .parent-hotel-demo {
      @include grid-style(4, 20px, 30px);
    }

    a {
      @include flex-direction-colum();
      gap: 15px;

      .parent-img {
        width: 100%;
        height: 206px;
        border-radius: $rounded;
        transition: $transition;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.12) 0 1px 16px 0;
        position: relative;

        img {
          @include width_height(100%);
          transition: $transition;
          filter: brightness(80%);
          object-fit: cover;
        }

        .star-hotel-demo {
          position: absolute;
          top: 10px;
          left: 10px;
          background: #fff;
          color: #333;
          font-size: 14px;
          padding: 3px 8px;
          border-radius: $rounded;
          @include flex-center-all();
          gap: 3px;

          svg {
            @include width_height(18px);
            fill: #FFC12F;
          }
        }
      }

      .text-hotel {
        @include flex-direction-colum();
        gap: 12px;

        .city-hotel {
          @include flex-align-items-center();
          gap: 3px;
          font-size: 14px;
          color: #b9b9c5;

          svg {
            @include width_height(18px);
            fill: #b9b9c5;
          }
        }

        h4 {
          margin-bottom: 0;
          @include flex-align-items-center();
          justify-content: space-between;
          padding: 10px;
          border-radius: $rounded;
          background: #e4e4ef;

          span {

            font-weight: 500;
            color: #222;
            font-size: 18px;
            @include text-limit(1);
            width: 83%;
          }

          svg {
            fill: #555;
            transition: $transition;
            width: 7%;
          }
        }

        p {
          font-size: 14px;
          color: gray;
          line-height: 24px;
          @include text-limit(3);
          margin-bottom: 0;
          text-align: justify;
          display: none;
        }

        .parent-price-hotel-demo {
          border-radius: $rounded;
          background: #e4e4ef;
          @include flex-between();
          align-items: center;
          padding: 10px;
          display: none;

          .price-hotel-demo {
            @include flex-center-all();
            gap: 5px;

            span {
              font-size: 14px;
              color: grey;
            }

            h6 {
              margin-bottom: 0;
              font-size: 16px;
              color: #262626;
            }
          }

          button {
            @include flex-center-all();
            background: rgba(0, 0, 0, 0);
            border: none;
            border-radius: 50%;
            box-shadow: none;
            color: #fff;
            padding: 0;
            outline: none;
            transition: $transition;

            svg {
              fill: #555;
              transition: $transition;
              @include width_height(22px)
            }
          }
        }
      }


      &:hover img {
        transform: scale(1.1);
      }

      &:hover .text-hotel h4 svg {
        fill: $mainColor !important;
      }
    }
  }
}


//hotel-popular
.hotel-popular{
  padding: 0 0 70px;

  .box-hotel-popular{
    @include grid-style(4,20px,30px);
    
    .link-parent{
      @include flex-direction-colum();
      gap: 10px;
      width: 100%;
      transition: $transition;

      &:hover{
        transform: translateY(-7px);
      }

      img{
        width: 100%;
        height: 180px;
        border-radius: $rounded;
      }

      .text-hotel{
        display: flex;
        align-items: center;
        justify-content: space-between;

        h3{
          font-size: 16px;
          color: #4e5162;
          margin-bottom: 0;
          -webkit-line-clamp: 1;
          overflow: hidden;
          -webkit-box-orient: vertical;
          display: -webkit-box;
          font-weight: 600;
        }
        .star-hotel{
          display: flex;
          align-items: center;

          i{
            font-size: 12px;
            color: #ffc12f;
          }
        }
      }
    }
  }
}







//NEWS
.news-demo {
  padding: 0 0 70px;

  .parent-news-demo {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;


    .box-news-demo-indicator {
      grid-area: 1 / 1 / 2 / 9;
      @include grid-style(2, 20px, 20px);

      a {
        @include flex-direction-colum();
        gap: 15px;

        .parent-img {
          width: 100%;
          height: 250px;
          overflow: hidden;
          border-radius: $rounded;

          img {
            @include width_height(100%);
            filter: brightness(80%);
            transition: $transition;
            object-fit: cover;
          }
        }

        .parent-text {
          @include flex-direction-colum();
          gap: 12px;

          .parent-data-cate-news {
            @include flex-align-items-center();
            gap: 18px;

            .item-data-news-demo {
              @include flex-align-items-center();
              gap: 3px;
              color: gray;
              font-size: 12px;

              svg {
                @include width_height(14px);
                fill: grey;
              }
            }

            .item-data-cate-news-demo {
              font-size: 12px;
              color: grey;
            }
          }

          h4 {
            font-weight: 500;
            color: #222;
            font-size: 18px;
            @include text-limit(1);
            margin-bottom: 0;
          }

          p {
            font-size: 12px;
            color: gray;
            line-height: 24px;
            @include text-limit(3);
            margin-bottom: 0;
            text-align: justify;
          }
        }

        &:hover img {
          transform: scale(1.1);
        }
      }
    }


    .box-news-demo-category {
      grid-area: 1 / 9 / 2 / 13;
      @include flex-direction-colum();

      a {
        padding: 15px 0;
        transition: $transition;
        display: flex;
        border-bottom: 1px solid #ccc;
        gap: 10px;

        &:first-child {
          padding-top: 0;
        }

        .parent-img {
          width: 28%;
          height: 76px;
          border-radius: $rounded;
          overflow: hidden;

          img {
            @include width_height(100%);
            transition: $transition;
            filter: brightness(80%);
            object-fit: cover;
          }
        }

        .parent-text {
          @include flex-direction-colum();
          gap: 5px;
          width: 72%;

          .parent-data-cate-news {
            @include flex-align-items-center();
            gap: 18px;

            .item-data-news-demo {
              @include flex-align-items-center();
              gap: 3px;
              color: gray;
              font-size: 12px;

              svg {
                @include width_height(14px);
                fill: grey;
              }
            }

            .item-data-cate-news-demo {
              font-size: 12px;
              color: grey;
            }
          }

          h4 {

            font-weight: 500;
            color: #222;
            font-size: 14px;
            @include text-limit(1);
            margin-bottom: 0;
            transition: $transition;
          }

          p {
            font-size: 12px;
            color: gray;
            line-height: 24px;
            @include text-limit(1);
            margin-bottom: 0;
            text-align: justify;
          }
        }

        &:hover h4 {
          color: $mainColor;
        }
      }
    }
  }
}


//APP
.app-demo {
  padding: 40px 0 0;
  background: #e8e8e8;
  margin-bottom: -50px;

  .parent-app-demo {
    @include grid-style(3, 20px, 20px);

    .items-app-demo {
      @include flex-direction-colum();
      gap: 30px;

      a {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        transition: $transition;

        img {
          transition: $transition;

          &:hover {
            transform: translateY(-7px);
          }
        }
      }

      .box-app-demo {
        display: flex;
        gap: 14px;

        .parent-icon-app {
          @include width_height(40px);
          border-radius: 50px;
          @include flex-center-all();
          background: $mainColor;

          svg {
            @include width_height(22px);
            fill: #fff;
          }
        }

        .text-box-app {
          width: calc(100% - 40px);
          @include flex-direction-colum();
          gap: 5px;

          h3 {
            font-weight: 500;
            font-size: 16px;
            color: rgb(34, 34, 34);
            margin-bottom: 0;
          }

          p {
            font-size: 13px;
            color: gray;
            line-height: 24px;
            @include text-limit(2);
            margin-bottom: 0;
            font-weight: 400;
          }
        }
      }
    }

    .img-app-demo {
      display: flex;
      justify-content: center;

      img {
        width: 350px;
      }
    }
  }

  .parent-app-demo-responsive {
    display: none;
  }

}


//MODULE
.module-other-demo {
  padding: 0 0 70px;
  position: relative;

  .bg-absolute1 {
    opacity: .25;
    filter: blur(125px);
    background: rgb(251 191 36/1);
    border-radius: 9999px;
    width: 15rem;
    height: 15rem;
    z-index: -10;
    right: 0;
    top: 0;
    position: absolute;
  }

  .parent-module-other-demo {
    @include grid-style(3, 20px, 20px);

    a {
      display: flex;
      //gap: 10px;
      padding: 15px;
      background: #fff;
      border-radius: $rounded;
      transition: $transition;
      box-shadow: 0 1px 16px 0 rgba(0, 0, 0, .12);

      &:hover {
        transform: translateY(-5px);
      }

      .bg-1 {
        background: #f0f9ff;
      }

      .bg-2 {
        background: #fffbeb;
      }

      .bg-3 {
        background: #f0fdf4;
      }

      .bg-4 {
        background: #fef2f2;
      }

      .bg-5 {
        background: #fdeff4;
      }

      .bg-6 {
        background: #fbf2fe;
      }

      .parent-icon {
        margin-left: 2.75rem;
        height: 100%;
        width: 52px;
        border-radius: 99px;
        @include flex-align-items-center();

        svg {
          @include width_height(52px);
          transform: translateX(-50%);
        }


        .fill-1 {
          fill: #0ea5e9;
        }

        .fill-2 {
          fill: #fbbf24;
        }

        .fill-3 {
          fill: #22c55e;
        }

        .fill-4 {
          fill: #ef4444;
        }

        .fill-5 {
          fill: #ff82a3;
        }

        .fill-6 {
          fill: #de44ef;
        }
      }

      .parent-text {
        @include flex-direction-colum();
        gap: 10px;

        h4 {
          font-weight: 500;
          color: #222;
          font-size: 18px;
          @include text-limit(1);
          margin-bottom: 0;
        }

        p {
          font-size: 13px;
          color: gray;
          line-height: 24px;
          @include text-limit(2);
          margin-bottom: 0;
          font-weight: 400;
        }
      }
    }
  }
}

#scroll-top {
  display: flex;
  transition: all ease .4s;
}

.active-btn-up {
  transform: translateX(42px);
}

.active-btn-down {
  display: flex;
  transform: translateX(0px);
}

.special-pages-div {
  margin-top: 120px;
  padding-top: 0 !important;
}

.banner-slider {
  display: none !important;
}


.nav-user-tracking .nav-item .nav-link {
  font-weight: 500 !important;
}
.col-text form h2{
  font-size: 20px;
}
.box-item-survey h3{
  font-size: 17px;
}
.parent-label label{
  font-size: 14px;
}
.parent-accordion .btn-link{
  font-size: 16px !important;
}
.main-temperature-selected{
  font-size: 24px !important;
}
.parent-name-city h2{
  font-size: 22px !important;
}
.parent-name-city-selected h2{
  font-size: 23px !important;
}
.clubTitle h2{
  font-size: 18px !important;
}
.embassy-parent h3{
  font-size: 16px !important;
}
.parent-form-pay h2{
  font-size: 22px !important;
}
.parent-form-pay p{
  font-size: 14px !important;
}
.parent-form-pay form input{
  font-size: 14px !important;
}
.parent-form-pay form textarea{
  font-size: 14px !important;
}
.login-captcha.gds-l-r-error input{
  font-size: 14px !important;
}
.btn-form{
  font-size: 14px !important;
}
.contactUs-title h2{
  font-size: 28px !important;
}
.contactUs-title p{
  font-size: 14px !important;
}
.Questions-title > div > h2{
  font-size: 18px !important;
}
.Questions-title > div > svg {
  width: 20px !important;
  height: 20px !important;
}
.contactUs-info-title{
  font-size: 18px !important;
}
.contactUs-form-title{
  font-size: 18px !important;
}
.select2-container--open .select2-dropdown--below{
  border-top: 1px solid #eee;
  border-top-left-radius: $rounded;
  border-top-right-radius: $rounded;
}
.title-searchBox-mobile{
  display: none;
}
//GOL
.snowflake img {
  width: 30px; /* اندازه تصویر گل */
  height: 30px;
  animation: spin 4s linear infinite; /* چرخش گل */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



.glyphicon {
  font-size: 2em;
  color: white;
  position: absolute;
  z-index: 10;
  opacity: 1;
  animation: snow 10s infinite ease-in-out;
}

.glyphicon img {
  width: 20px;
}

@keyframes snow {
  0% {
    top: -50%; /* شروع از بالای صفحه (خارج از دید) */
    left: var(--start-left); /* موقعیت افقی شروع */
    opacity: 1;
    transform: rotate(0deg);
  }
  70% {
    opacity: 1; /* تا ۷۰٪ انیمیشن opacity ثابت بماند */
  }
  100% {
    top: 110%; /* پایان در پایین صفحه (خارج از دید) */
    left: var(--end-left); /* موقعیت افقی پایان */
    opacity: 0; /* در انتها محو شود */
    transform: rotate(360deg);
  }
}

#snow1 { --start-left: 5%; --end-left: 10%; animation-duration: 10s; }
#snow2 { --start-left: 10%; --end-left: 15%; animation-duration: 8s; }
#snow3 { --start-left: 15%; --end-left: 20%; animation-duration: 5s; }
#snow4 { --start-left: 20%; --end-left: 25%; animation-duration: 12s; }
#snow5 { --start-left: 25%; --end-left: 30%; animation-duration: 15s; }
#snow6 { --start-left: 30%; --end-left: 35%; animation-duration: 7s; }
#snow7 { --start-left: 35%; --end-left: 40%; animation-duration: 19s; }
#snow8 { --start-left: 40%; --end-left: 45%; animation-duration: 15s; }
#snow9 { --start-left: 45%; --end-left: 50%; animation-duration: 4s; }
#snow10 { --start-left: 50%; --end-left: 55%; animation-duration: 6s; }
#snow11 { --start-left: -5%; --end-left: 0%; animation-duration: 3s; }
#snow12 { --start-left: 60%; --end-left: 65%; animation-duration: 14s; }
#snow13 { --start-left: 65%; --end-left: 70%; animation-duration: 20s; }
#snow14 { --start-left: 70%; --end-left: 75%; animation-duration: 9s; }
#snow15 { --start-left: 75%; --end-left: 80%; animation-duration: 17s; }
#snow16 { --start-left: 80%; --end-left: 85%; animation-duration: 4s; }
#snow17 { --start-left: 85%; --end-left: 90%; animation-duration: 10s; }
#snow18 { --start-left: 90%; --end-left: 95%; animation-duration: 5s; }
#snow19 { --start-left: 95%; --end-left: 100%; animation-duration: 16s; }
#snow20 { --start-left: 100%; --end-left: 105%; animation-duration: 9s; }




@media (max-width: 991px) {
  .banner-demo {
    height: 344px;
    margin-top: 0;
  }
  .flight-modal-items{
    width: 33%;
  }
  #exampleModalScrollableTitle{
    font-size: 16px;
  }
  .search_box {
    width: 100%;
    margin: -113px auto;
  }
  #searchBoxTabs .nav-link.active::after {
    display: none;
  }
  #searchBoxTabs {
    gap: 16px !important;
    padding: 0 !important;
  }
  #searchBoxTabs .nav-link {
    padding: 5px !important;
  }
  .title-demo div p {
    display: none;
  }
  .container {
    max-width: none;
  }
  //.title-demo button {
  //  padding-left: 0;
  //}
  .search_box_div {
    border-radius: 0 0 $rounded $rounded;
    border-top: none !important;
  }
  .box-item-footer {
    margin-top: 0;
  }
  .module-other-demo .parent-module-other-demo a .parent-icon {
    margin-left: 24px;
  }
  .caption-input-search-box {
    font-size: 10px;
  }
  .order-foot2 {
    display: none;
  }
  .order-foot3 {
    display: none;
  }
  .order-foot1 {
    order: 1;
  }
  .order-foot4 {
    order: 2;
  }
  .title-center-demo div p {
    display: none;
  }
  .parent-app-demo {
    display: none !important;
  }
  .app-demo {
    padding: 40px 0 40px;
    margin-bottom: 0;
  }
  .parent-app-demo-responsive {
    display: block !important;

    .app-text-demo-responsive {
      @include flex-direction-colum();
      align-items: center;
      justify-content: center;
      gap: 10px;

      h4 {
        font-size: 22px;
      }
      p {
        width: 700px;
        text-align: center;
        font-size: 14px;
      }
    }
  }
  .our-agency-sub-menu::after {
    display: none;
  }
  .our-agency-sub-menu {
    width: 100% !important;
    padding: 0;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 0;
  }
  .knowledge-sub-menu {
    width: 100% !important;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 0;
    padding: 0;
  }
  .passengers-sub-menu {
    width: 100% !important;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 0;
    padding: 0;
  }
  .knowledge-sub-menu a {
    padding: 10px 0 !important;
  }
  .passengers-sub-menu a {
    padding: 10px 0 !important;
  }
  .our-agency-sub-menu a {
    padding: 10px 0 !important;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .container {
    max-width: unset;
  }
  .nav-menu {
    gap: 32px;
  }
  .parent-menu-logo {
    gap: 12px;
  }
  .search_box {
    width: 100%;
  }
  .search_box_div {
    border-radius: 0 0 12px 12px;
    border-top: none !important;
  }
  #searchBoxTabs {
    gap: 20px;
  }
  .caption-input-search-box {
    font-size: 10px;
  }
  .switch_routs {
    left: 3px;
  }
  .footer-more-link {
    font-size: 14px;
  }
  .footer-more-link svg {
    width: 10px;
  }
  .child-item-footer a {
    font-size: 14px;
  }
  .parent-text-address span {
    font-size: 14px;
  }
  .child-item-footer {
    font-size: 13px;
  }
  .parent-text-address {
    font-size: 13px;
  }
}

//تبلت‌ها (769px تا 992px): برای تبلت‌ها و دستگاه‌های با صفحه‌نمایش متوسط.
@media (min-width: 830px) and (max-width: 992px) {
  .tour-demo .category-tour-demo .parent-category-tour-demo {
    grid-template-columns: repeat(3, 1fr);
  }
  .demo-ticket-old {
    margin-bottom: 10px;
  }
  .tour-demo .category-tour-demo .parent-category-tour-demo a:last-child {
    display: none;
  }
  .tour-demo .tour-internal-external .parent-data-tour-tab-demo .parent-tour-demo a .parent-img {
    height: 200px;
  }
  .hotel-demo .parent-data-hotel-tab-demo .parent-hotel-demo {
    grid-template-columns: repeat(3, 1fr);
  }
  .hotel-demo .parent-data-hotel-tab-demo .parent-hotel-demo a:nth-last-child(-n+2) {
    display: none;
  }
  .news-demo .parent-news-demo {
    grid-column-gap: 20px;
  }
}
@media (max-width: 991px) {
  #wave{
    top: 10px;
  }
}

@media (max-width: 830px) {
  .container {
    max-width: none;
  }
  .demo-ticket-old {
    margin-bottom: 10px;
  }
  .tour-demo .category-tour-demo .parent-category-tour-demo {
    grid-template-columns: repeat(2, 1fr);
  }
  .tour-demo .tour-internal-external .parent-data-tour-tab-demo .parent-tour-demo {
    grid-template-columns: repeat(2, 1fr);
  }
  .blog-demo .blog-grid > div > a > div > div h4 {
    font-size: 14px;
    margin: 0 0 5px;
  }
  .blog-demo .blog-grid > div > a > div > div span {
    font-size: 10px;
    -webkit-line-clamp: 1;
  }
  .tour-demo .category-tour-demo .parent-category-tour-demo a:last-child {
    display: flex;
  }
  .owl-tour-demo {
    display: block !important;
  }
  .tour-demo .tour-internal-external .parent-data-tour-tab-demo .parent-tour-demo {
    display: none;
  }
  //owl dot
  .owl-theme .owl-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .owl-theme .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
    margin: 5px 7px;
    background: #c2c3c3;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
  }
  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: $mainColor;
  }
  .blog-demo .blog-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: unset;
  }
  .blog-demo .blog-grid .div1, .div2, .div3, .div4 {
    grid-area: unset !important;
    height: 314px !important;
  }
  .owl-hotel-demo {
    display: block !important;
  }
  .parent-hotel-demo {
    display: none !important;
  }
  .news-demo .parent-news-demo {
    grid-column-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }
  .news-demo .parent-news-demo .box-news-demo-indicator {
    grid-area: unset;
    grid-template-columns: repeat(1, 1fr);
  }
  .news-demo .parent-news-demo .box-news-demo-indicator a:first-child {
    display: none;
  }
  .news-demo .parent-news-demo .box-news-demo-category {
    grid-area: unset;
  }
  .module-other-demo .parent-module-other-demo {
    grid-template-columns: repeat(2, 1fr);
  }
  .hotel-popular .box-hotel-popular{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .search_flight #search_flight-tabContent .search_flight_grid{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 640px) {
  .search_flight #search_flight-tabContent .search_flight_grid{
    grid-template-columns: repeat(1, 1fr);
  }
  .search_flight #search_flight-tabContent .nav.nav-pills{
    justify-content: center;
    position: static;
  }
}

@media (max-width: 576px) {
  .banner-demo {
    display: none;
  }
  .glyphicon{
    display: none;
  }
  .demo-ticket-old p {
    font-size: 12px;
  }
  .demo-ticket-old a {
    font-size: 12px;
  }
  .search_box {
    margin: 20px 0  !important;
  }
  #searchBoxTabs a div {
    flex-direction: column;
    gap: 2px;
  }
  #searchBoxTabs a div h4{
    font-size: 12px;
  }
  #searchBoxTabs a div i {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    //border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: $transition;
  }
  .search_box_div {
    border-radius: 0 !important;
    border: none !important;
    padding: 0;
    background: transparent;
    box-shadow: none;
  }
  #searchBoxTabs .nav-link {
    padding: 0 !important;
  }
  #searchBoxTabs .nav-link.active div h4 {
    color: #918c9c;
  }
  #searchBoxTabs .nav-link.active i svg {
    fill: #444;
  }
  #searchBoxTabs .nav-link.active i {
    background: none;
    border-color: none;
  }
  #searchBoxTabs {
    row-gap: 26px !important;
    column-gap: 0 !important;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    padding-bottom: 0;
    border-bottom: none;
  }
  .tour-demo {
    margin-top: 0;
  }
  .title-demo div h2 {
    font-size: 16px;
  }
  .title-demo div h2 .square-title {
    width: 14px;
    height: 14px;
    margin-bottom: 2px;
  }
  .title-demo button {
    font-size: 12px;
  }
  .title-demo button svg {
    width: 12px;
    height: 12px;
  }
  .tour-demo .category-tour-demo .parent-category-tour-demo {
    grid-template-columns: repeat(1, 1fr);
  }
  .title-demo {
    margin-bottom: 20px;
  }
  .parent-data-tour-tab-demo .nav-item button {
    width: 80px !important;
    height: 40px !important;
    padding: 0 !important;
  }
  .blog-demo .blog-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .parent-data-hotel-tab-demo .nav-item button {
    width: 80px !important;
    height: 40px !important;
    padding: 0 !important;
  }
  .news-demo .parent-news-demo {
    grid-template-columns: repeat(1, 1fr);
  }
  .title-center-demo div h2 {
    font-size: 16px;
  }
  .title-center-demo div h2 .square-title {
    width: 14px;
    height: 14px;
    margin-bottom: 2px;
  }
  .title-center-demo {
    margin-bottom: 20px;
  }
  .parent-module-other-demo {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .module-other-demo .parent-module-other-demo a .parent-icon {
    margin-left: 28px;
  }
  .parent-btn-app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 7px;
  }
  .parent-app-demo-responsive .app-text-demo-responsive p {
    width: auto;
  }
  .order-foot4 {
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-top: 20px;
  }
  .body-footer {
    padding: 40px 0 20px;
  }
  .box-item-footer h3 {
    margin-bottom: 0;
  }
  .respect {
    bottom: -13px;
  }
  .parent-btn-header {
    gap: 20px !important;
  }
  .tour-demo {
    padding: 0 0 70px;
  }
  .special-pages-div {
    margin-top: 0 !important;
  }
  .news-demo .parent-news-demo .box-news-demo-indicator a .parent-text h4{
    font-size: 16px;
  }
  .module-other-demo .parent-module-other-demo a{
    gap: 10px;
  }
  .module-other-demo .parent-module-other-demo a .parent-text h4{
    font-size: 16px;
  }
  .module-other-demo .parent-module-other-demo a .parent-text p{
    font-size: 12px;
  }
  .hotel-demo .parent-data-hotel-tab-demo a .text-hotel h4 span{
    font-size: 16px;
  }
  .parent-app-demo-responsive .app-text-demo-responsive h4 {
    font-size: 18px;
  }
  .tour-demo .tour-internal-external .parent-data-tour-tab-demo a .text-tour h4{
    font-size: 16px;
  }
  body.no-scroll {
    overflow: hidden;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.77);
    display: none;
    z-index: 10;
  }
  .overlay.active {
    display: block;
  }
  .bottom-sheet {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-color: #fff;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    z-index: 20;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    border-radius: $rounded $rounded 0 0;
    touch-action: auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  .bottom-sheet.open {
    transform: translateY(0);
  }
  .sheet-header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .handle {
    width: 100px;
    height: 8px;
    background-color: #f4f4f5;
    border-radius: 5px;
    cursor: grab;
    margin: 0 auto;
  }
  .close-btn {
    font-size: 24px;
    cursor: pointer;
    color: #888;
  }
  .sheet-content {
    padding: 20px 10px;
    flex-grow: 1;
  }
  .title-searchBox-mobile{
    font-size: 16px;
    margin-bottom: 15px;
    color: #000;
    margin-right: 3px;
    display: block;
  }
  .hotel-popular .box-hotel-popular{
    grid-template-columns: repeat(2, 1fr);
  }
  .hotel-popular .box-hotel-popular .link-parent img{
    height: 150px;
  }
  .hotel-popular .box-hotel-popular .link-parent .text-hotel h3{
    font-size: 14px;
  }
  .hotel-popular .box-hotel-popular .link-parent .text-hotel{
    flex-direction: column;
    gap: 7px;
  }
  .search_flight{
    padding: 26px 0 70px;
  }
  .search_flight .dropdown_custom::after{
    display: none;
  }
  .search_flight .dropdown_custom > div ul button{
    width: 100% !important;
    padding: 0 5px !important;
    font-size: 12px;
  }
  .search_flight .dropdown_custom > button{
    font-size: 12px;
  }
  .search_flight .dropdown_custom > button{
    height: 28px;
    padding: 15px 7px;
  }
  .search_flight .dropdown_custom > button svg{
    width: 12px;
    height: 12px;
  }
  #wave{
    display: none;
  }
}

@media (min-width: 577px) {
  .bottom-sheet {
    position: static;
    transform: none;
    height: auto;
    background-color: transparent;
  }
  .handle,
  .overlay,
  .close-btn {
    display: none;
  }
}


