/.idea/
/.ideadd/
/casch/
/dist/*
/logs/
/vendor/
/view/client/assets/js/vue/node_modules




/node_modules/
/node_modules_new/




/pic/
/index.php
/config/
/dist/
/library/ApiSource/iranTechApi/pic/airlines/
/library/barcode/qrcode/cache/
/library/PHPExcel-1.8/Examples/
/library/pdf/examples/
/library/PHPExcel-1.8/Documentation/Examples/
/library/ApiSource/searchEngineApi/predis/
/view/administrator/assets/ckeditor-old/
/view/administrator/assets/plugins/
/view/administrator/assets/ckeditor-min/
/view/administrator/assets/editor_TinyMCE/
/view/administrator/assets/less/
.DS_Store