/.idea/
/.claude/
/.cursor/
/.ideadd/
/casch/
/dist/*
/logs/
/vendor/
/view/client/assets/js/vue/node_modules




/node_modules/
/node_modules_new/




/pic/
/dist/
/library/ApiSource/iranTechApi/pic/airlines/
/library/barcode/qrcode/cache/
/library/PHPExcel-1.8/Examples/
/library/pdf/examples/
/library/PHPExcel-1.8/Documentation/Examples/
/library/ApiSource/searchEngineApi/predis/

.DS_Store