$fontFamily: 'yekanbakhmedium';
$fontFamilyBold: 'yekanbakhBold';
$fontTitle: 'iranbold';
$rounded: 1rem;
$mainColor:  #FC4100;
$secondColor:   #00215E;
$transition: all ease .4s;
$shadow: 0 0 12px rgb(0 0 0 / 10%);
$border: 1px solid #ccc;
