.main-navigation__sub-menu2{
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px #00000026;
  width: 230px;
  left: 0;
  position: absolute;
  top: 110%;
  display: none;
  z-index: 1000000;
  overflow: hidden;
}
.sup-menu-flex >div{
  background-color: #f8fafb;
  padding: 10px;
}
.sup-menu-flex >div > h2 {
  color: #000;
  font-weight: bold;
  font-size: 17px;
  text-align: right;
}
.sup-menu-flex >a{
  display: flex;
  gap: 5px;
  padding: 0 10px;
  height: 48px;
  font-size: 14px;
  align-items: center;
  justify-content: flex-start;
  color: #000;
  font-weight: bold;
  transition: all .3s;
  cursor: pointer;
}
.sup-menu-flex >a i{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  svg {
    width: 18px;
    height: 18px;
    fill: #515762;
  }
}
.sup-menu-flex >a:hover {
  background: #e8f1fa;
  text-decoration: none;
}
.sup-menu-flex .sup-menu-flex_span{
  font-size: 14px;
}
.sup-menu-flex .sup-menu-flex_a{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  color: var(--mainColor);
  font-size: 14px;
  padding: 2px 5px;
  transition: all .3s;
  position: relative;
  border: solid 1px rgba(0,0,0,0);
  border-radius: 12px;
  cursor: pointer;
  width: fit-content;

}
.sup-menu-flex .sup-menu-flex_a span {
  margin: 0;
  padding: 0;
  color: var(--mainColor);
}
.sup-menu-flex .sup-menu-flex_a svg {
  width: 18px;
  height: 18px;
  fill: var(--mainColor)
}
.sup-menu-flex .sup-menu-flex_a:hover {
  transition: all .3s;
  border-color: rgba(160,160,160,.07);
  background-color: rgba(214,214,214,.22)
}