@font-face {
    font-family: 'Tanha FD';
    src: url('Tanha-FD.eot');
    src: url('Tanha-FD.eot?#iefix') format('embedded-opentype'),
        url('Tanha-FD.woff2') format('woff2'),
        url('Tanha-FD.woff') format('woff'),
        url('Tanha-FD.ttf') format('truetype'),
        url('Tanha-FD.svg#Tanha-FD') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

