        @font-face {
        font-family: 'Far.Aman';
        src:        url('Far_Aman.eot');
        src:        url('Far_Aman.woff') format('woff'),
                    url('Far_Aman.ttf') format('truetype'),
                    url('Far_Aman.svg') format('svg');
        font-weight: normal;
        font-style: normal;
        }