
.owl-news,.owl-news .item{
    width: 100%;
    height: 100%;
}
.parent-owl-news{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: right;
    border-radius: 8px;
    transition: all ease .3s;
    /*! padding: 10px; */
    position: relative;
}
.card-text-link h2{
    -webkit-line-clamp: 1;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    line-height: 30px;
    color: #333;
    transition: all ease .3s;
    font-size: 18px;
    margin-bottom: 2px;
}
/*.news-card:hover .card-text-link h2{*/
/*    color: var(--mainColor);*/
/*}*/
.parent-owl-news img{
    position: absolute;
    width: 100%;
    height: 100%;
    inset: unset;
    border-radius: 8px;
    z-index: 1;
    object-fit: cover;
}
.title-owl-news{
    position: relative;
    z-index: 3;
    transition: all ease .3s;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #fff;
}
.title-owl-news h3{
    font-size: 18px;
    transition: all ease .3s;
    margin-bottom: 5px;
    font-weight: bold;
    -webkit-line-clamp: 1;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
.title-owl-news span{
    font-size: 11px;
    color: #fff;
}
.parent-owl-news:hover{
    text-decoration: none;
}
.parent-owl-news::after{
    content: '';
    position: absolute;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(180deg, rgba(255,255,255,0) 18%, rgba(0,0,0,0.9) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255,255,255,0) 18%, rgba(0,0,0,0.9) 100%);
    background: linear-gradient(180deg, transparent 50%, var(--mainColor) 95%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#000000",GradientType=1);
    width: 100%;
    left: 0;
    height: 100%;
    top: 0;
    z-index: 2;
    border-radius: 8px;
    opacity: 0.9;
}
/*.owl-news .owl-nav button {*/
/*    width: 40px;*/
/*    height: 40px;*/
/*    background: #fff !important;*/
/*    border: 1px solid #888 !important;*/
/*    border-radius: 1rem !important;*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    display: flex !important;*/
/*    align-items: center !important;*/
/*    justify-content: center !important;*/
/*    transition: all ease .3s;*/
/*}*/
/*.owl-news .owl-nav .owl-prev{*/
/*    right: -10px;*/
/*}*/
/*.owl-news .owl-nav .owl-next{*/
/*    left: -10px;*/
/*}*/

.owl-news .owl-dots .owl-dot.active span {
    width: 25px !important;
    height: 3px !important;
}

.owl-news .owl-dot {
    display: flex !important;
    width: 25px !important;
    height: 3px !important;
    background-color: none !important;
    border-radius: 30px !important;
    margin: 0 !important;
    transition: all ease .3s !important;

    background: 0 0 !important;
    color: inherit !important;
    border: none !important;
    padding: 0 !important;
    font: inherit !important;

    display: inline-block !important;
    zoom: 1 !important;

    cursor: pointer !important;
    user-select: none !important;
}

.owl-news .owl-dots {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    position: absolute !important;
    left: 20px !important;
    bottom: 17px !important;
    gap: 2px;
}
.owl-news .owl-dots .owl-dot span {
    width: 25px !important;
    height: 3px !important;
    background: #a1a2a3db !important;
    margin: 2px 0 !important;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #f0f0ef !important;

}
.item-news-left{
    display: flex;
    border-radius: 8px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 3px 6px rgba(146,146,146,.2);
    transition: all ease .3s;
    margin-bottom: 15px;
}
.item-news-left img{
    width: 100%;
    height: 100%;
    border-radius: 0 8px 8px 0;
    object-fit: cover;
}
.text-news-left h4{
    font-size: 14px;
    color: #2D2D2D;
    font-weight: bold;
    margin-top: 3px;
    -webkit-line-clamp: 1;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
.text-news-left p{
    color: #5a6268;
    font-size: 12px;
    text-align: justify;
    -webkit-line-clamp: 2;
    margin: 5px 0 auto;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    line-height: 24px;
}
.text-news-left{
    text-align: right;
    padding: 10px 0;
}
.text-news-left span{
    font-size: 10px;
    color: #5a6268;
    display: flex;
    border-top: 1px solid #ccc;
    padding-top: 7px;
    margin-top: 12px;
    display: flex;
    align-items: center;
}
.text-news-left span i{
    margin-left: 5px;
}
.item-news-left:hover{
    text-decoration: none;
}
.item-news-left:hover .text-news-left h4{
    color: var(--mainColor);
}
.owl-news.owl-rtl .owl-item{
    padding: 0;
}
.owl-news .owl-stage{
    padding-top: 0;
}
.owl-news .owl-stage-outer,.owl-news .owl-stage,.owl-news.owl-rtl .owl-item{
    height: 100%;
}
.col-left-item>.item-news-left:last-child{
    margin-bottom: 0;
}
.news-category-item{
    border: 1px solid #ccc;
    box-shadow: 0 3px 6px rgba(146, 146, 146, .2);
    border-radius: 8px;
    background: #fff;
    padding: 15px 15px 0 15px;
    transition: all ease .3s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.news-category-item > div {
    background: #f7f7f7;
    padding: 12px;
    border-radius: 8px;
    font-size: 14px;
    width: 100%;
    display: flex;
    align-items: center;
}
.news-category-item > div i {
    margin-left: 7px;
    font-size: 17px;
}
.news-category-item > div h2 {
    font-size: 17px;
    margin-bottom: 0;
    color: #333;
}
.news-category-item a {
    color: #212529;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 12px 0;
    transition: all ease .3s;
    width: 100%;
}
.news-category-item a:hover{
    text-decoration: none;
}
.news-category-item a:hover .text-news-category h6{
    color: var(--mainColor);
}
.news-category-item a:last-child {
    border: none;
}
.img-news-category{
    width: 30%;
}
.text-news-category{
    width: 70%;
    text-align: right;
    margin-right: 8px;
    display: flex;
    flex-direction: column;
}
.img-news-category img {
    width: 100%;
    height: 70px;
    border-radius: 8px;
    object-fit: cover;
}
.text-news-category h6 {
    color: #212529;
    font-weight: normal !important;
    font-size: 13px;
    transition: all ease .3s;
    -webkit-line-clamp: 1;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
.text-news-category span {
    color: #5a6268;
    font-size: 12px;
    display: flex;
    align-items: center;
}
.text-news-category span i {
    margin-left: 4px;
}
.news-category{
    padding: 40px 0;
}

.news-category-r , .news-category-l {
    padding: 0 10px !important;
}
.news-card-link{
    width: 100%;
    display: flex;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 3px 6px rgba(146,146,146,.2);
    border-radius: 8px;
    overflow: hidden;
    transition: all ease .3s;
    height: 100%;
}
.news-card{
    margin-bottom: 15px;
    height: 210px;
}

.news-card-link:hover{
    text-decoration: none;
}
.news-card-link:hover h3{
    color: var(--mainColor);
}
.news-card-link img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(90%);
    border-radius: 8px;
}

.news-card-link > div:nth-child(1) {
    padding: 10px;
}
.news-card-link > div:nth-child(2) {
    padding: 0 10px;
}
.card-text-link{
    text-align: right;
    padding: 15px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.card-text-link h3{
    font-size: 22px;
    line-height: 30px;
    font-weight: bold;
    color: #212428;
    margin-bottom: 15px;
    transition: all ease .3s;
}
.card-text-link p{
    color: #696969;
    font-size: 12px;
    text-align: justify;
    line-height: 26px;
    -webkit-line-clamp: 3;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    margin-bottom: 0;
    margin-top: 6px;
}
.under-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #acafb4;
    font-size: 12px;
}
.arrow_link {
    display: flex;
    align-items: center;
    padding: 15px 0;
    justify-content: right;
}
.arrow_link a {
    background: transparent;
    border: 1px solid #ccc;
    color: #999;
    padding: 5px 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all ease .3s;
    font-size: 14px;
    margin-left: 5px;
    border-radius: 8px;
}
.arrow_link a i {
    transition: all ease .3s;
}
.arrow_link a:hover {
    background: var(--mainColor);
    text-decoration: none;
    color: #fff;
}
.pagination{
    padding: 0;
}
.page-item.active .page-link{
    background: var(--mainColor);
    border-color: var(--mainColor);
}
.page-link{
    display: flex !important;
    color: var(--mainColor);
    transition: all ease .3s;
    border-radius: 8px !important;
    font-size: 14px;
}
.page-link:hover{
    background:var(--mainColor) ;
    border-color: var(--mainColor);
    color: #fff;
}

.page-link i {
    height: auto;
    display: flex;
    align-items: center;
    margin:0 5px;
}

.page-link i:before {
    font-size: 13px;
}
.page-item{
    margin: 0 3px;
}
.page-link:focus{
    box-shadow: 0 0 0 .1rem rgba(185, 185, 185, 0.25);
}

.special-news {
    height: 220px;
    margin-bottom: 20px;
}

.submit-btn-parent {
    display: flex;
    justify-content: end;
    margin-top: auto;
}

.submit-btn {
    margin-bottom: 0;
    transition: all ease .3s;
    border-radius: 8px;
    padding: 3px;
    padding-bottom: 0;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    gap: 3px;
}

.submit-btn span {
    transition: all ease .3s;
    font-size: 14px;
    color: #5a6268;
}

.submit-btn svg {
    width: 8px;
    fill: #5a6268;
    transition: all ease .3s;
}

.news-card:hover .submit-btn span {
    color: var(--mainColor);
}

.news-card:hover .submit-btn svg {
    fill: var(--mainColor);
}

.news-card:hover .card-text-link h2 {
    color: var(--mainColor);
}

@media (max-width: 991px) {
    .item-news-left img{
        height: 140px;
    }
    .parent-articles-news{
        order: 2;
        margin-top: 20px;
    }
    .col-left-item{
        margin-top: 20px;
    }
    .arrow_link{
        margin-bottom: 20px;
    }
    .pagination{
        margin-bottom: 3rem;
    }
    .news-category {
        padding: 20px 0;
    }
    .special-news {
        height: 320px;
    }
    .img-news-category img {
        height: 85px;
    }
    .img-news-category {
        width: 23%;
    }
}
@media (max-width: 767px) {
    .item-news-left{
        height: unset;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    .item-news-left img{
        border-radius: 8px 8px 0 0;
        height: 200px;
    }
    .news-card-link{
        flex-direction: column;
    }
    .news-card-link img{
        height: 200px;
    }
    .card-text-link p {
        -webkit-line-clamp: 3;
    }
    .img-news-category img {
        height: 100px;
    }
    .img-news-category {
        width: 30%;
    }
    .news-card {
        height: unset;
    }
    .card-text-link {
        padding: 0 0 15px 0;
    }
    .submit-btn-parent {
        margin-top: 3px;
    }
}
@media (max-width: 576px) {
    .item-news-left img{
        border-radius: 8px 8px 0 0;
    }
    .text-news-left h4,.card-text-link h3{
        font-size: 16px;
    }
    .card-text-link p{
        font-size: 12px;
    }
    .box-item-footer ul {
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }
    .special-news {
        height: unset;
        aspect-ratio: 16 / 9;
    }
    .img-news-category img {
        height: 80px;
    }
}
.min-h-350{
    min-height: 350px;
}
