.sign {
    padding: 60px 0;
}
.titr-sign {
    font-family: 'iransansbold',sans-serif;
    color: #000;
    margin-bottom: 24px;
    font-size: 28px;
    text-align: right;
}
.parent-sign {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 0;
}
.box-sign-download {
    background: #f7f7f7;
    padding: 20px 15px;
    border-radius: 8px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    position: relative;
}
.box-sign-upload {
    background: #f7f7f7;
    padding: 20px 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    border: 1px solid #ccc;
    position: relative;
}
.level {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.parent-sign svg {
    width: 100px;
    height: 100px;
    fill: #0e52a3;
    margin-bottom: 15px;
}
.parent-sign p {
    text-align: center;
    line-height: 28px;
}
.btn-sign {
    background-color: #0e52a3;
    transition: all ease .3s;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 5px 15px;
    color: #fff;
    margin-top: auto;
    display: inline-flex;
    align-items: center;
}
.btn-sign:hover {
    background-color: #ffca06;
    color: #fff;
    text-decoration: none;
}

@media (max-width: 991px){
    .parent-sign {
        grid-column-gap: 20px !important;
    }
    .btn-sign {
        font-size: 13px;
    }
}
@media (max-width: 576px){
    .parent-sign {
        grid-template-columns: repeat(1, 1fr) !important;
        grid-row-gap: 20px !important;
    }
    .level {
        width: 40px !important;
        height: 40px !important;
        font-size: 12px !important;
        line-height: 14px !important;
    }
}
