
/*@font-face {*/
/*    font-family: 'yekanbakhBold';*/
/*    src: url("../fonts/yekanbakhBold/Yekan-Bakh-FaNum-06-Bold.woff") format("woff");*/
/*    font-weight: bold;*/
/*    font-style: normal;*/
/*}*/
/*@font-face {*/
/*    font-family: 'yekanbakhmedium';*/
/*    src: url("../fonts/yekanbakhmedium/Yekan-Bakh-FaNum-05-Medium.woff") format("woff");*/
/*}*/
body{
    overflow-x: hidden;
    direction: rtl;
    padding: 0;
    background: #f7f7f7 !important;
    line-height: 24px;
    text-align: right;
    color: #4B5259 !important;
}

.survey{
    padding: 70px 0;
}
.parent-survey{
    display: flex;
    flex-wrap: wrap;
    /*border: 2px solid #ccc;*/
    border-radius: 8px;
    /*overflow: hidden;*/
    /*box-shadow: 0 0 12px rgb(0 0 0 / 10%);*/
    overflow: hidden;
}
.parent-img-survey{
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: end;
    justify-content: center;
    background-image: url("../../images/vote/survey.jpg");
    background-size: cover;
    background-position: center;
}
.parent-img-survey img{
    height: 100%;
    width: 100%;
}
.col-text form{
    padding: 20px;
    background: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid #ccc;
    border-radius: 8px 0 0 8px;
    border-right: none;
}
.col-text form h2{
    font-size: 24px;
    /*! border-bottom: 2px solid var(--mainColor); */
    /*! padding-bottom: 9px; */
    margin-bottom: 0;
    border-bottom: 2px solid var(--mainColor);
    padding-bottom: 10px;
}
.box-item-survey h3{
    font-size: 20px;
    line-height: 33px;
    margin-bottom: 0;
    color: #333;
}
.arrow-step{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}
.arrow-step span{
    width: 60px;
    height: 4px;
    border-radius: 10px;
    background: #ededed;
}
.arrow-step .active-step{
    background: var(--mainColor);
}
.form-input{
    display: flex;
    align-items: center;
    gap: 20px 60px;
    flex-wrap: wrap;
    margin-top: 35px;
}



.parent-label label {
    cursor: pointer;
    margin-bottom: 0;
    color: #333;
}

.parent-label input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    height: 20px;
    width: 20px;
    outline: none;
    margin: 0;
    cursor: pointer;
    border: 2px solid var(--mainColor);
    background: transparent;
    border-radius: 50%;
    display: grid;
    justify-self: end;
    justify-items: center;
    align-items: center;
    overflow: hidden;
    transition: border .5s ease;
}
.parent-label input[type="radio"]:checked::before {
    opacity: 0;
}
.parent-label input[type="radio"]::before {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1;
    opacity: 1;
}
.parent-label input[type="radio"]::before, .parent-label input[type="radio"]::after {
    content: "";
    display: flex;
    justify-self: center;
    border-radius: 50%;
}
.parent-label input[type="radio"]:checked::after {
    top: 0%;
    animation: stretch-animate .3s ease-out .17s;
}
.parent-label input[type="radio"]::after {
    position: relative;
    width: calc(100% /2);
    height: calc(100% /2);
    background: var(--mainColor);
    top: 100%;
    transition: top 0.5s cubic-bezier(0.48, 1.97, 0.5, 0.63);
}
@keyframes stretch-animate {
    0% {
        transform: scale(1, 1);
    }

    28% {
        transform: scale(1.15, 0.85);
    }

    50% {
        transform: scale(0.9, 1.1);
    }

    100% {
        transform: scale(1, 1);
    }
}
.parent-label{
    display: flex;
    align-items: center;
    gap: 5px;
}
.form-textarea{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 7px;
}

.form-textarea svg {
    margin-top: -4px;
    width: 18px;
    height: 18px;
}

.form-textarea label{
    display: flex;
    align-items: center;
    gap: 3px;
    color: #888;
    font-size: 13px;
    margin-bottom: 0;
    line-height: 25px;
    padding-right: 10px;
}
.form-textarea textarea{
    padding: 10px;
    font-size: 14px;
    color: #333;
    border: 2px solid #f4f1f1;
    border-radius: 8px;
    background: #f4f1f1;
    transition: .3s;
    height: 79px;
}

.form-textarea textarea:placeholder {
    color: #333;
}

.form-textarea textarea:focus{
    border-color: var(--mainColor);
    box-shadow: none;
    outline: none;
}
.btn-form-next{
    background: var(--mainColor);
    color: #fff;
    padding: 5px 20px;
    border-radius: 8px;
    border: 2px solid var(--mainColor);
    transition: all ease .3s;
}
.btn-form-back{
    background: transparent;
    color: #888;
    padding: 5px 20px;
    border-radius: 8px;
    border: 2px solid #ccc;
    transition: all ease .3s;
}
.parent-btn-form{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: end;
    flex-direction: row-reverse;
    margin-top: 20px;
}
.box-item-survey:not(.active){
    display: none;
}
.btn-form-submit{
    background: green;
    color: #fff;
    padding: 5px 20px;
    border-radius: 8px;
    border: 2px solid green;
    transition: all ease .3s;
}
.box-item-survey{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}


@media (max-width: 991px) {
    .col-img{
        display: none;
    }
    .col-text form {
        border: 2px solid var(--mainColor);
        border-radius: 8px;
        padding: 0;
    }
    .parent-btn-form {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: end;
        flex-direction: row-reverse;
        margin: 20px 0 20px 20px;
    }
    .voteCapcha {
        margin-right: 20px;
        margin-top: 14px;
    }
    .col-text form h2{
        font-size: 20px;
        display: flex;
        justify-content: center;
        margin-bottom: 0;
        padding: 10px 0 10px 0;
        background: var(--mainColor);
        color: #fff;
        border-radius: 0px;
        border: none;
    }
    .parent-js-question {
        padding: 20px 20px 0 20px;
    }
    .box-item-survey {
        margin: 0;
    }
    .parent-survey {
        border: none;
        box-shadow: none;
    }
    .survey {
        padding: 30px 0;
    }

}

@media (max-width: 576px) {
    .box-item-survey h3{
        font-size: 17px;
        line-height: 32px;
    }
    .form-input{
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 25px;
    }
    .parent-label input[type="radio"]{
        width: 15px;
        height: 15px;
    }
    .parent-label label{
        font-size: 14px;
    }
    .parent-label{
        gap: 3px;
    }
    .form-textarea svg {
        width: 17px;
        height: 17px;
    }

}



.capchaShow label {
    float: left;
}

#captchaRefresh {
    background-size: contain !important;
    width: 30px !important;
    height: 30px;
    background: url(../../images/arrows-rotate.svg) no-repeat center center;
    background-image: url("../../images/refresh.png");
    background-size: auto;
    background-image: url("../../images/refresh.png");
    background-size: auto;
    margin: 0;

}
.voteCapcha {
    margin-top: 12px;
    margin-left: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    align-items: center;
    position: relative;
}

.voteCapcha span img {
    border-radius: 3px;
    max-height: 34px;
    opacity: 0.5%;
}
.voteCapcha span {
    background: #f3f3f3;
    display: flex;
    padding: 5px;
    /* width: 290px;*/
}


.voteCapcha input {
    height: 40px;
    border: none;
    border-radius: 0 8px 8px 0;
    font-size: 14px !important;
    width: 110px;
    padding: 5px;
}
.voteCapcha a {
    text-align: left;
    float: left;
    margin: 7px 0 0 16px;
}
.voteCapcha label {
    display: block;
    position: absolute;
    color: #d53232;
    font-size: 14px;
    margin: 0;
    top: 38px;
}


@media (max-width: 576px) {
    .voteCapcha a {
        text-align: left;
        float: left;
    }
}

/*error*/
.error {
    padding: 5px;
    color: #d53232;
    line-height: 25px;
    font-size: 13px;
}