
@font-face {
  font-family: 'yekanbakhBold';
  src: url("../../../../assets/all-fonts/yekanbakhBold/Yekan-Bakh-FaNum-06-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'yekanbakhmedium';
  src: url("../../../../assets/all-fonts/yekanbakhmedium/Yekan-Bakh-FaNum-05-Medium.woff") format("woff");
}

@font-face {
  font-family: 'iranbold';
  src: url("../../../../assets/all-fonts/iranbold/IRANSansWeb_Bold.eot") format("eot");
  src: url("../../../../assets/all-fonts/iranbold/IRANSansWeb_Bold.woff") format("woff");
  src: url("../../../../assets/all-fonts/iranbold/IRANSansWeb_Bold.woff2") format("woff2");
  src: url("../../../../assets/all-fonts/iranbold/IRANSansWeb_Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}