html {
    scroll-behavior: smooth;
}

.header_top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ddd;
}
.main_img_about{
    width: 100%;
    height:450px;
    position:relative;
    z-index: 2;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:start;
}

.main_img_about_parent {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
}
.main_img_about::after {
    content: "";
    background: linear-gradient(#00000073,#00000073);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    border-radius: 10px;
}
.main_img_about > img{
    position:absolute;
    z-index: -1;
    width: 100%;
    height:100%;
    object-fit: cover;
    border-radius: 10px;
}
.main_img_about > div > h2{

    font-size: 40px;
    color: #fff;
    margin-top: 110px;
    text-align: center;
}
.main_img_about > div > p{
    color: #fff;
    text-align: center;
    font-size: 16px;
    line-height: 30px;

}
.about_text_header > i{
    margin-left: 10px;
    color: #585858;
    font-size: 1.5em;
}

:root {
    --mainColor: #009CDEFF;
}
.text-banner-about h2 {
    color: #333;
    font-weight: bold;
    margin-bottom: 30px;
    -webkit-line-clamp: 1;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    text-align: right;
}

.img-banner-about {
    width: 50%;
}

.owl-banner-about {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;

}

.owl-banner-about .item {
    width: 100%;
    height: 100%;

}

.owl-banner-about .item img {
    width: 100%;
    height: 400px;
}


.owl-banner-about .item {
    width: 100%;
    height: 100%;

}

.owl-banner-about .item img {
    width: 100%;
    height: 400px;
}

.circle-span-about {
    position: absolute;
    bottom: -25px;
    border: 8px solid var(--mainColor);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background: #fff;
    right: -25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.4s;
}

.circle-span-about:hover {
    transform: translate(0, 5px);
}
.about_text_header{
    margin-bottom: 15px;
    /*border-bottom: 1px solid #e1e1e1;*/
    height: 50px;
    display: flex;
    align-items: center;
}

.about_text_header > h2{
    font-size: 15px;
    margin-bottom: 0;
    border: 2px solid #666;
    border-radius: 20px;
    color: #666;
    padding: 6px;
}

.about_text{
    margin-bottom: 1rem;
    text-align:justify;
    font-size:17px;
    color: #333;
    margin-top: -230px;
    background-color: #f6f6f6 !important;
    padding: 20px;
    border-radius: 10px !important;
    position: relative;
    z-index: 100;
}

.services-about {
    margin-top: 40px;
    border-top: 2px solid #eee;
    padding-top: 20px;
}

.title-services-about {
    color: #666;
}

.bg-service-about {
    background: repeating-linear-gradient( 45deg, transparent, transparent 7px, #009cde 0px, #009cde 10px );
    border-radius: 11px;
}

.parent-services-about {
    margin-top: 25px;
    border-radius: 10px !important;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.service-about {
    display: grid;
    grid-template-columns: 3fr 2fr;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    height: 220px;
    transition: 0.3s;
}

/*.service-about:hover {*/
/*    transform: translate(-10px , -10px);*/
/*    box-shadow: 20px 20px 15px -3px rgba(0,0,0,0.1);*/
/*}*/

/*.service-about:hover .txt-service-about div span {*/
/*    !*color: #fff;*!*/
/*    !*border: 2px line var(--mainColor);*!*/
/*    !*background: var(--mainColor);*!*/
/*    color: var(--mainColor);*/
/*    border: 2px dashed var(--mainColor);*/
/*}*/

.img-service-about {
    border-radius: 50%;
    overflow: hidden;
    height: 400px;
    width: 400px;
    position: absolute;
    left: -117px;
    top: -50px;
    border: 3px solid #7d7d7d0f;
    padding: 55px;
}

.img-service-about img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 4px solid #7d7d7d0f;
    padding: 30px;
}

.txt-service-about h4 {
    color: #333;
    margin-bottom: 25px;
}

.txt-service-about p {
    margin-bottom: 19px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
    -webkit-box-orient: vertical;
    line-height: 25px;
    color: #4b5259;
}

/*.txt-service-about div span {*/
/*    color: #4b5259;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    border: 2px solid #555;*/
/*    border-radius: 50%;*/
/*    padding: 10px;*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    transition: 0.3s;*/
/*}*/

.txt-service-about div span svg {
    color: #4b5259;
}

@media (max-width: 1200px) {
    .service-about {
        grid-template-columns: 2fr 2fr;
    }
}

@media (max-width: 992px) {
    .img-service-about {
        height: 350px;
        width: 350px;
        top: -19px;
    }
}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
    .parent-services-about {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 576px) {
    .main_img_about > div > p {
        font-size: 14px;
    }
    .main_img_about > div > h2 {
        font-size: 32px;
    }
    .about_text {
        margin-top: -208px;
    }
    .main_img_about_parent {
        margin: 0;
        padding: 0;
    }
    .main_img_about > img {
        border-radius: 0;
    }
    .main_img_about::after {
        border-radius: 0;
    }
}