

.parent-box-migration{
    position: relative;
    display: block;
    text-align: center;
    transition: all ease .3s;
}
.parent-img-migration{
    position: relative;
    display: block;
    height: 230px;
    width: 230px;
    margin: 0 auto 32px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid #ddd;
}
.parent-img-migration img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: all 500ms ease;
    object-fit: cover;
}
.parent-img-migration::after{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    border-radius: 50%;
    background-color: rgba(49,48,65,.50);
    transform: scale(0);
    transition: all 1s ease;
    z-index: 1;
}
.parent-text-migration{
    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow:0 3px 6px rgba(146,146,146,.2);
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #ccc;
    height: 320px;
    display: flex;
    flex-direction: column;
}
.parent-text-migration::after{
    position: absolute;
    top: -19px;
    right: 50%;
    transform: translateX(50%);
    height: 19px;
    width: 63px;
    background-repeat: no-repeat;
    background-image: url(../images/testimonial-one-shape-1.png);
    content: "";
}
.parent-text-migration p{

    line-height: 30px;
    padding-top: 10px;
    color: #4B5259;
    font-size: 14px;

    -webkit-line-clamp: 5;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
.title-user-name{
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    color: #313041;
    font-family: 'iranbold',sans-serif;
    margin-bottom: 0;
}
.title-user span{
    font-size: 14px;
    font-weight: 500;
    color: #e8604c;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 0;
    line-height: 24px;
}
.parent-box-migration:hover .parent-img-migration::after{
    transform: scale(2);

}
.migration{
    background-image: url("../images/shape2.png");
    padding: 40px 0;
}
.parent-box-migration:hover img{
    transform: scale(1.1);
}
.parent-box-migration:hover{
    text-decoration: none;
}
.parent-text-migration span{
    color: #3b82f6;
    font-size: 14px;
    position: relative;
}
.title-user span{
    color: #3b82f6;
}
.title-user{
    background: #f9f9f9;
    border-radius: 8px;
    padding: 5px 0;
    margin-top: auto;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #3b82f6;
    width: 10px;
    height: 10px;
}





.img-migration2{
    margin-left: 16px;
    height: 75px;
    width: 75px;
    box-shadow: 0 0 3px rgba(60,72,88,0.15) !important;
    border-radius: 6px !important;
}
.text-migration2{
    box-shadow:0 3px 6px rgba(146,146,146,.2);
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #fff;
    padding: 1rem !important;
    position: relative !important;
    transition: all ease .3s;
    display: flex;
    flex-direction: column;
}
.text-migration2::after{
    content: "";
    position: absolute;
    top: 30px;
    right: 0;
    margin-right: 13px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 8px solid #3c4858;
    border-top-color: rgb(60, 72, 88);
    border-right-color: rgb(60, 72, 88);
    border-bottom-color: rgb(60, 72, 88);
    border-left-color: rgb(60, 72, 88);
    border-color: transparent transparent #fff #fff;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    -webkit-box-shadow: -2px 2px 2px -1px rgba(60,72,88,0.15);
    box-shadow: -2px 2px 2px -1px rgba(60,72,88,0.15);
}
.text-migration2 p{
    line-height: 30px;
    padding-top: 10px;
    color: #4B5259;
    font-size: 14px;
    text-align: justify;
    -webkit-line-clamp: 4;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
.text-migration2 span{
    color: #333;
    font-size: 14px;
}
.title-user2{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f7f7f7;
    border-radius: 8px;
}
.title-user-name2{
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    color: #313041;
    font-family: 'iranbold',sans-serif;
    margin-bottom: 0;
}
.title-user2 span{
    color: #e40000;
    font-size: 14px;
    margin-right: 8px;
}
.text-migration2:hover{
    text-decoration: none;
}
.migration-owl2{
    padding: 40px 0 0;
}




/*Page2*/
.card{
    border-radius: 1rem;
    box-shadow: 0px -10px 0px var(--mainColor);
    height: 100%;
}

.card-image img{
    width: 8.2rem;
    border-radius: 5rem;
    margin: 1.3rem auto 1rem auto;
    height: 8.2rem;
}
.col-md-4{
    padding:0  0.5rem;
}
.recommendation-p{
    color: #444;
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 0;
}
.card-image{
    height: 170px;
}
.card-title{
    font-size: 18px;
    margin-bottom: 0;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    color: #000;
}
.card-text{
    text-align: center;
    padding: 1rem 2rem;
    font-size: 0.8rem;
    color: rgb(82, 81, 81);
    line-height: 1.4rem;
}
.footer-card{
    border-top: none;
    text-align: center;
    line-height: 1.2rem;
    padding: 20px;
    border-top: 1px solid #ddd;
    margin-top: auto;
}

.footer-card a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3b82f6;
    transition: all ease .3s;
    gap: 5px;
}
.parent-items-recommendation{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
/*.footer-card a i{*/
/*    margin-right: 5px;*/
/*}*/
.footer-card a:hover{
    text-decoration: none;
    color: #000;
}
.visa-sub{
    color: #808080;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.box-video{
    padding: 50px 0 0;
}
.migration-modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #0009;
    display: none;
    align-items: center;
    justify-content: center;
    transition: all ease .3s;
    z-index: 10;
}
.parent-migration-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 700px;
    /*! height: 500px; */
    margin: auto;
    background: #131313;
    padding: 20px;
    border-radius: 8px;
}
.parent-header-migration-modal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}
.parent-video-migration video{

}
.parent-video-migration{
    border-radius: 8px;
    border: 2px solid #333;
    display: flex;
    overflow: hidden;
}
.parent-video-migration iframe{
    width: 100%;
    height: 300px;
}
.parent-multiplication i{
    cursor: pointer;
    color: #ccc;
    transition: all ease .3s;
    font-size: 18px;
}
.parent-multiplication i:hover{
    color: #ef0000;
}
.parent-header-migration-modal h3{
    margin-bottom: 0;
    color: #ccc;
    font-family: 'iranbold',sans-serif;
    font-size: 20px;
}











/* __[ STYLE ]__ */






.parent-pagination-migration{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination {
    width: 400px;
    height: 60px;
    border-radius: 9px;
    overflow: hidden;
}
.pagination, .pagination__list {
    display: flex;
    flex-direction: row;
    /*! flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    align-content: center;
}
.pagination__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    /*! width: 350px; */
    height: 50px;
    border-radius: 9px;
    margin: 0 9px;
    overflow: hidden;
}
.pagination__item {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-size: 1.1rem;
}
.pagination__item > button, .pagination__button {
    border: none;
    outline: none;
    stroke: none;
    box-shadow: none;
    cursor: pointer;
    border-radius: 9px;
    background: #dde6f3;
}
.pagination__item > button:hover, .pagination__button:hover {
    background: #a5b3d4;
    color:  #1a2556;
}
.pagination__item > button {
    width: 45px;
    height: 45px;
}
.pagination__item > button[data-level=target] {
    background:  #1a2556;
    color: #f3f6fb;
}
.pagination--move-prev {
    -webkit-animation: pagination-move-prev 0.5s ease both;
    animation: pagination-move-prev 0.5s ease both;
}
.pagination--move-next {
    -webkit-animation: pagination-move-next 0.5s ease both;
    animation: pagination-move-next 0.5s ease both;
}
.pagination--move-top {
    -webkit-animation: pagination-move-top 0.5s ease both;
    animation: pagination-move-top 0.5s ease both;
}
.pagination__button {
    width: 35px;
    height: 35px;
}

@-webkit-keyframes pagination-move-prev {
    from, 0% {
        transform: translateX(25px);
    }
    50% {
        transform: translateX(-5px);
    }
    to, 100% {
        transform: translateX(0px);
    }
}

@keyframes pagination-move-prev {
    from, 0% {
        transform: translateX(25px);
    }
    50% {
        transform: translateX(-5px);
    }
    to, 100% {
        transform: translateX(0px);
    }
}
@-webkit-keyframes pagination-move-next {
    from, 0% {
        transform: translateX(-25px);
    }
    50% {
        transform: translateX(5px);
    }
    to, 100% {
        transform: translateX(0px);
    }
}
@keyframes pagination-move-next {
    from, 0% {
        transform: translateX(-25px);
    }
    50% {
        transform: translateX(5px);
    }
    to, 100% {
        transform: translateX(0px);
    }
}
@-webkit-keyframes pagination-move-top {
    from, 0% {
        transform: translateY(-25px);
    }
    50% {
        transform: translateY(10px);
    }
    to, 100% {
        transform: translateY(0px);
    }
}
@keyframes pagination-move-top {
    from, 0% {
        transform: translateY(-25px);
    }
    50% {
        transform: translateY(10px);
    }
    to, 100% {
        transform: translateY(0px);
    }
}

@media (max-width: 991px) {
    .parent-items-recommendation{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
}


@media (max-width: 576px) {
    .parent-migration-modal{
        width: unset;
    }
    .parent-items-recommendation{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 30px;
    }
}
.card-text a {
    line-height: 40px;
}
/*error*/
.error {
    padding: 5px;
    margin: 5px 5px 20px 5px;
    border: solid 1px #FBD3C6;
    background: #FDE4E1;
    color: #CB4721;
    line-height: 25px;
    /*border-radius: 5px !important;*/
    clear: both !important;
}

.img_box iframe{
    width: 700px;
    height: 300px;
}