$fontFamily: 'yekanbakhmedium';
$fontFamilyBold: "iranbold";
$fontFamilyBold2: "yekanbakhBold";
$fontTitle: 'iranbold';
$rounded: 10px;
$mainColor: #192945;
$secondColor: #e11924;
$hoverColor: #4688f2;
$transition: all ease .3s;


