@font-face {
  font-family: IRANSansWeb;
  src: url("../../../../assets/all-fonts/IRANSansWeb/IRANSansWeb(FaNum).eot");
  src: url("../../../../assets/all-fonts/IRANSansWeb/IRANSansWeb(FaNum).ttf");
  src: url("../../../../assets/all-fonts/IRANSansWeb/IRANSansWeb(FaNum).woff");
  src: url("../../../../assets/all-fonts/IRANSansWeb/IRANSansWeb(FaNum).woff2");
}
@font-face {
  font-family: IRANSansFaNum-Bold;
  src: url("../../../../assets/all-fonts/IRANSansWeb/IRANSansFaNum-Bold.eot");
  src: url("../../../../assets/all-fonts/IRANSansWeb/IRANSansFaNum-Bold.ttf");
  src: url("../../../../assets/all-fonts/IRANSansWeb/IRANSansFaNum-Bold.woff");
  src: url("../../../../assets/all-fonts/IRANSansWeb/IRANSansFaNum-Bold.woff2");
}
@font-face {
  font-family: s360-icon;
  src: url('../../../../assets/all-fonts/fontello/fontello.eot?62837394');
  src: url('../../../../assets/all-fonts/fontello/fontello.eot?62837394#iefix') format('embedded-opentype'),
  url('../../../../assets/all-fonts/fontello/fontello.woff?62837394') format('woff'),
  url('../../../../assets/all-fonts/fontello/fontello.ttf?62837394') format('truetype'),
  url('../../../../assets/all-fonts/fontello/fontello.svg?62837394#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}