.external-hotel-name .hotel-rate-outer{
    margin-left: auto;
    margin-right: 0;
}

.right_hotel_section{
    padding-left: 15px !important;
}
.hotel-fea-inner .hotel-fea-item-2{
    text-align: left;
}
.hotel-fea-inner .hotel-fea-item-2 i{
    margin-right: 5px;
    margin-left: 0;
}

.form-hotel-room-item{
    width: 100% ;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    font-family: inherit !important;
}

.box-external-hotel-detail > div span:first-child::before{
    left: 0;
    right: auto;
}

.box-external-hotel-detail > div span:first-child{
    padding-left: 20px;
    padding-right: auto;
    text-align: left;
}

.ui-datepicker-buttonpane{
    display: flex;
}

.ui-datepicker-buttonpane button:first-child{
    margin-right: auto !important;
}

.packageinfo > a{
    width: 100%;
    display: block;
}

.div_new_tour_tb .col-md-6 {
    font-size: 12px;
    float: none;
    display: inline-block;
}
.right_hotel_tour {
    text-align: left;
    padding-left: 0;
}

.div_new_tour_tb {
    font-size: 0;
    padding: 5px 0 0 0;
}
.custom-input-group .input-group-btn:first-child .btn-number-js {
    border-radius: 2px 0 0 2px;
    border-right: 0;
}

.custom-input-group .input-group-btn:last-child .btn-number-js {
    border-radius: 0 2px 2px 0 ;
    border-left: 0;
}
.btn-number-js {
    font-size: 14px !important;
    padding: 2px 10px !important;
}

.input-number-js {
    height: 27px !important;
    font-family: inherit;
    text-align: center;
}

.tour_detail_n .form-control{
    padding: 5px 0;
}

.hotelScore_new .img_score {
    width: 70%;
    margin-right: auto;
    padding-left: 5px;
}

.hotelScore_new .img_score img {
    width: 100%;
}

.tourdetail_date  {
    text-align: left;
}