body {
    color: #383838;
    background: #fff;
    font-size: 11px;
    font-family: "Tahoma", Arial, Sans-serif, serif !important;
}

.page-content {
    padding: 1rem .5rem;
    background: #fff;
}

.card {
    position: relative;
    border: 1px solid #ffffff;
    background:  #fefefe;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 4px 20px;
    font-size: 11px;
}

.card-header {
    font-size: 11px;
    padding: 6px !important;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid #EEEEEE;
}
.detail-border {
    border-left : 2px solid #000;
    border-bottom : 2px solid #000;
}
.detail-border-right{
    border-left : 2px solid #000;
}

.card-header:first-child {
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

.card-body {
    margin: 20px !important;
}
.card-detail-body {
    margin: 10px 20px !important;
}
.card-detail-last-body{
    margin: 100px 20px !important;
    font-size : 100px !important;
}
.card-detail-last-last-body{
    margin: 100px 20px 100px  !important;
    font-size : 100px !important;
}
.middle-section{
    margin: 100px 20px !important;
}
.hotel-image {
    width: 100%;
    height: auto;
    max-height: 170px;
    max-width: 170px;
    padding: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #dee2e6;
    overflow: hidden;
}
.logo-image{
    width: 100%;
    height: auto;
    max-height: 400px;
    max-width: 400px;
    padding: 4px;
    overflow: hidden;
}
.detail-image{
    width: 100%;
    height: auto;
    max-height: 300px;
    max-width: 300px;
    padding: 4px;
    overflow: hidden;
}
.icon-image{
    width: 100%;
    height: auto;
    max-height: 50px;
    max-width: 50px;
    padding: 4px;
    overflow: hidden;
}
.right-image{
    width: 100%;
    height: auto;
    max-height: 100px;
    max-width: 100px;
    overflow: hidden;
}
.icon-footer-image{
    width: 100%;
    height: auto;
    max-height: 20px;
    max-width: 20px;
    padding: 4px;
    overflow: hidden;
}
.up-footer-image{
    width: 100%;
    height: auto;
    max-height: 500px;
    max-width: 500px;
    padding: 4px;
    overflow: hidden;
}
.footer-image{
    width: 100%;
    height: auto;
    max-height: 1000px;
    max-width: 1000px;
    padding: 4px;
    background-color: #fff;
    overflow: hidden;
}

.w-25 {
    max-width: 25% !important;
    width: 25% !important;
}

.w-50 {
    max-width: 50% !important;
    width: 50% !important;
}
.w-75 {
    max-width: 75% !important;
    width: 75% !important;
}
.w-100 {
    max-width: 100% !important;
    width: 100% !important;
}

.text-center {
    text-align: center !important;
}

b, strong {
    font-weight: bold;
}

.details_tbl_name {
    font-weight: bold;
    font-size: 13px;
}

.hotel-name {
    font-size: 45px;
    font-weight: bold;
}
.border{
    border: 1px solid #eee;
}
.border-right{
    border-right: 1px solid #eee;
}
.border-left{
    border-left: 1px solid #eee;
}
.border-bottom{
    border-bottom: 1px solid #eee;
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: #dee2e6;
}
.table > :not(caption) > * > * {
    padding: 0.5rem 0.5rem !important;
    background-color: transparent;
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px transparent;
}
.table > tbody {
    vertical-align: inherit;
}
.table > thead {
    vertical-align: bottom;
}
.table > :not(:first-child) {
    border-top: 2px solid #eee;
}
.table-bordered > :not(caption) > * {
    border-width: 1px 0;
}
.table-bordered > :not(caption) > * > * {
    border-width: 0 1px;
}
.table-striped > tbody > tr:nth-of-type(odd) > * {
    box-shadow: rgba(0, 0, 0, 0.05);
    color: #212529;
}

.bordered tr,
.table-bordered tr{
    border-bottom: 1px solid #eee;
}
.table tr th.num,
.table tr td.num {
    text-align: center;
}
.table tr th,
.table tr td{
    line-height: 18px;
    padding: 4px;
}
.table-bordered tr th,
.table-bordered tr td,
.bordered tr th,
.bordered tr td {
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
}
.hr{
    width: 100%;
    display: block;
    background-color: #eee !important;
    height: 1px;
    border-color: transparent;
    opacity: 1;
    margin: 5px 0;
}
.view-map-link{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background:#0a1a24;
    padding: 15px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
}
.detail-item{
    float: left;
    text-align: center;
    height: 100%;
}
.detail-item:not(:last-child){
    border-right: 1px solid #eee;
}
.hotel-details-title {
    display: block;
    font-weight: bold;
    line-height: 24px;
    font-size: 10px;
    margin-bottom: 10px;
}

.hotel-details-content {
    line-height: 18px;
}

.hotel-details-content strong {
    font-size: 16px;
}
.room-name{
    width: 100%;
    display: block;
    padding: 4px;
    background: #eee;
}