@font-face {
    font-family: IRANSansWeb;
    src: url("../../../assets/all-fonts/IRANSansWeb/IRANSansWeb(FaNum).eot");
    src: url("../../../assets/all-fonts/IRANSansWeb/IRANSansWeb(FaNum).ttf");
    src: url("../../../assets/all-fonts/IRANSansWeb/IRANSansWeb(FaNum).woff");
    src: url("../../../assets/all-fonts/IRANSansWeb/IRANSansWeb(FaNum).woff2");
}

@font-face {
    font-family: IRANSansFaNum-Bold;
    src: url("../../../assets/all-fonts/IRANSansWeb/IRANSansFaNum-Bold.eot");
    src: url("../../../assets/all-fonts/IRANSansWeb/IRANSansFaNum-Bold.ttf");
    src: url("../../../assets/all-fonts/IRANSansWeb/IRANSansFaNum-Bold.woff");
    src: url("../../../assets/all-fonts/IRANSansWeb/IRANSansFaNum-Bold.woff2");
}

:root {
    --mainColor: #067889;
    --secondColor: #f8941f;
    --first-font-family: IRANSansWeb, sans-serif;
    --second-font-family: IRANSansFaNum-Bold, sans-serif;
    --border-radius: 3px;
}

body, html {
    font-family: var(--first-font-family), serif !important;
    overflow-x: hidden;
    direction: rtl;
    min-height: 100vh;
    background: #F6F6F6;
}

main, .content_tech {
    min-height: 100vh;
}

a:hover {
    text-decoration: none
}

.button {
    font-size: 14px;
    display: inline-block;
    text-align: center;
    border: 1px solid var(--mainColor);
    border-radius: var(--border-radius);
    position: relative;
    color: var(--mainColor);
    transition: 0.3s ease all;
    z-index: 1;
    padding: .5rem 1rem
}

.button:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: var(--mainColor);
    z-index: -1;
}

.button:hover, .button:focus {
    color: white;
}

.button:hover:before, .button:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

/*footer*/
.footer {
    background: var(--secondColor);
    padding-top: 1rem;
}

.callH1 {
    display: flex;
}

.last_text {
    background: #f0f0f0;
}

.active_link {
    color: var(--secondColor) !important;
    box-shadow: 0 .25625em .6200005em var(--secondColor) !important;
}

.footer_main > .row > ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.footer_main > .row > ul > li > a {
    color: #333;
    width: 100%;
    font-size: 12px;
    text-align: justify;
    display: flex;
    margin: 10px 0;
    align-items: center;
}

.footer_main > .row > ul > li > a:hover {
    text-decoration: none;
}

.footer_main > .row > ul > li > a i {
    transition: all .3s;
}

.footer_main > .row > ul > li > a:hover i {
    transform: translateX(-3px)
}

.footer_main > .row > ul > li > h6, .callH1 > h1 {
    color: #fff;
    text-align: justify;
    width: 100%;
    font-size: 20px;
    padding-bottom: 10px;
    margin: 10px 0 5px;
    border-bottom: 1px solid #d77400;
    font-family: var(--second-font-family);
}

.footer_main > .row > ul > li > p {
    text-align: justify;
    color: #333;
    font-size: 14px;
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    line-height: 2;
    margin: 10px 0 0;
}

.footer_main > .row > ul > li > h6 > img {
    width: 100px
}

.call {
    display: flex;
    flex-direction: column;
}

.call span:nth-child(4) a {
    font-family: sans-serif
}

.map_img {
    border: 1px solid #ddd;
    border-radius: var(--border-radius);
    padding: .5rem;
    margin-top: 1rem;
    height: 180px;
}

.map_img > img {
    border-radius: var(--border-radius);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.call span {
    display: flex;
    color: #fff;
    font-size: 14px;
    text-align: justify;
    margin: 10px 0 3px 0;
    align-items: flex-start;
}

.asan {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.asan > .asan_link {
    color: #fff;
    display: flex;
    width: 50%;
    padding: 5px 0;
    font-size: 14px;
    transition: all .3s;
}

.asan > .asan_link:hover {
    text-decoration: none;
    color: #fff;
}

.asan > .asan_link::before {
    content: '\f104';
    font-weight: 300;
    font-family: "Font Awesome 6 Pro";
    font-size: 16px;
    margin-left: 5px;
}

.call span i {
    margin-left: 5px;
    margin-top: 3px;
}

.call span a {
    margin-right: 4px;
    color: #fff;
    transition: all .3s;
    direction: initial;
}

.call span a:hover {
    color: #fff;
    text-decoration: none;
}

.footer_icons {
    display: flex;
    margin: 1rem 0;
}

.footer_icons > a {
    color: #fff;
    margin-left: .5rem;
    padding: 10px;
    border: 1px solid #f0f0f0;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s;
    font-size: 1.5rem;
}

.footer_icons > a:hover {
    text-decoration: none
}

.footer_instagram:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    color: #fff;
}

.footer_whatsapp:hover {
    color: #fff;
    background-color: #2ab200;
}

.footer_telegram:hover {
    color: #fff;
    background-color: #039be5;
}

.code {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.code input {
    width: 100% !important;
    outline: none;
    padding: 0 1rem;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #333;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.code button:hover {
    background: var(--mainColor);
    color: #fff;
}

.code button {
    position: absolute;
    left: 3px;
    height: 36px;
    text-decoration: none;
    background-color: var(--mainColor);
    width: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    color: #fff;
}

.namads {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: auto;
    gap: 15px;
}

.namads > a {
    width: 80px;
    height: 80px;
    background: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px 0;
    box-shadow: 0 3px 1px #aaa;
}

.namads > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logIn:hover {
    background-color: #ff5400;
    text-decoration: none;
    color: #fff
}

.logIn {
    transition: all .3s;
    display: flex;
    left: 40px;
    top: 50%;
    align-items: center;
    color: #333;
    font-size: 14px;
    border: 1px solid var(--mainColor);
    padding: 10px 15px;
    border-radius: 1rem;
}

.logIn i {
    margin-left: 5px
}

.last_text {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    margin-top: 1rem;
    border-top: 1px solid #eee;
    font-size: 13px;
}

.last_text a {
    color: #333;
    transition: all .3s;
}

.last_text p {
    margin: 0;
    color: #555;
}

.last_text a:hover {
    text-decoration: none;
}

/*footer*/
.main-navigation__button2 {
    position: relative
}

.main-navigation__button2::after {
    content: "";
    opacity: 0;
    position: absolute;
    inset: 0;
}

button:focus {
    outline: none
}

.header_area {
    min-height: 100px;
}

#navbar {
    background-color: white;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 250;
    box-shadow: 0px 0px 10px -1px #3339;
    min-height: 100px;
    display: flex;
    align-items: center;
}

#preloader {
    overflow: hidden;
    background-color: #372e2e;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999
}

.classy-load {
    -webkit-animation: 2s linear 0s normal none infinite running classy-load;
    animation: 2s linear 0s normal none infinite running classy-load;
    background: transparent none repeat scroll 0 0;
    border-color: #ddd #ddd #111;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    height: 40px;
    left: calc(50% - 20px);
    position: relative;
    top: calc(50% - 20px);
    width: 40px;
    z-index: 9
}

.navigation {
    width: 100%;
    align-items: center;
    display: flex;
    position: relative;
    font-family: inherit
}

.navigation * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent
}

.navigation-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 19998
}

.navigation-hidden {
    width: 0 !important;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important
}

.nav-header {
    float: left
}

.navigation-hidden .nav-header {
    display: none
}

.nav-brand {
    padding: 0;
    color: #343a40;
    font-size: 24px;
    text-decoration: none !important;
    display: flex;
    justify-content: flex-start;
    align-items: center
}

.nav-brand > img:first-child {
    width: 100px;
    object-fit: contain
}

.nav-brand > img:last-child {
    width: 220px;
    object-fit: contain;
    margin-right: 10px;
}

.nav-brand > div {
    color: #a0a0a0;
    font-size: 14px;
    margin-right: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start
}

.nav-brand > div > h1 {
    font-family: ShabnamBold;
    color: var(--mainColor) !important;
    font-size: 1.3rem !important;
}

.nav-brand > div > h1, .nav-brand > div > h2 {
    font-size: 16px;
    color: #a0a0a0;
}

.nav-brand > div > h2 {
    margin: 0;
}

.nav-brand:focus, .nav-brand:hover {
    color: #343a40
}

.navigation-portrait .nav-brand {
    font-size: 18px
}

.nav-logo > img {
    height: 48px;
    margin: 11px auto;
    padding: 0 15px;
    float: left
}

.nav-logo:focus > img {
    outline: initial
}

.navigation-portrait .nav-logo > img {
    height: 36px;
    margin: 6px auto 6px 15px;
    padding: 0
}

.nav-toggle {
    width: 30px;
    height: 30px;
    display: none;
    cursor: pointer;
    justify-content: center;
    align-items: center
}

.nav-toggle:before {
    content: "";
    width: 24px;
    height: 2px;
    background-color: var(--mainColor);
    border-radius: 10px;
    box-shadow: 0 .5em 0 0 var(--mainColor), 0 1em 0 0 var(--mainColor);
    margin-bottom: 16px
}

.navigation-portrait .nav-toggle {
    display: flex
}

.navigation-portrait .nav-menus-wrapper {
    width: 320px;
    height: 100%;
    top: 0;
    left: -400px;
    position: fixed;
    background-color: #fff;
    z-index: 20000;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease
}

.navigation-portrait .nav-menus-wrapper.nav-menus-wrapper-right {
    left: auto;
    right: -400px
}

.navigation-portrait .nav-menus-wrapper.nav-menus-wrapper-open {
    left: 0;
}

.navigation-portrait .nav-menus-wrapper.nav-menus-wrapper-right.nav-menus-wrapper-open {
    left: auto;
    right: 0
}

.nav-menus-wrapper-close-button {
    display: none;
}

.navigation-portrait .nav-menus-wrapper-close-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    font-size: 2rem;
    color: var(--mainColor);
    cursor: pointer;
}

.nav-menu {
    padding: 0;
    list-style: none;
    line-height: normal;
    margin: 0 1rem 0 0;
}

.navigation-portrait .nav-menu {
    width: 100%
}

.navigation-landscape .nav-menu.nav-menu-centered {
    float: none;
    text-align: center
}

.navigation-landscape .nav-menu.nav-menu-centered > li {
    float: none
}

.nav-menu > li {
    display: inline-block;
    text-align: right;
    position: relative;
    margin-right: 0.5rem;
}

.navigation-portrait .nav-menu > li {
    width: 100%;
    position: relative;
    border-top: solid 1px #ccc;
}

.navigation-portrait .nav-menu > li:last-child {
    border-bottom: solid 1px #f0f0f0
}

.nav-menu + .nav-menu > li:first-child {
    border-top: none
}

.nav-menu > li:hover > a {
    box-shadow: none !important;
    color: #fff !important;
    background: var(--mainColor);
}

.nav-menu > li > a {
    display: flex;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    color: var(--mainColor);
    -webkit-transition: color .3s, background .3s;
    transition: color .3s, background .3s;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background: #fff;
    padding: .75rem 15px;
    box-shadow: 0 .25625em .6200005em var(--mainColor);
    border-radius: var(--border-radius);
    font-family: var(--second-font-family);
}

.navigation-portrait .nav-menu > li > a {
    width: 100%;
    height: auto;
    padding: 12px 15px 12px 26px
}

/*.nav-menu > li.active > a::after, .nav-menu > li.active > a::before, .nav-menu > li.focus > a::after, .nav-menu > li.focus > a::before, .nav-menu > li:hover > a::after, .nav-menu > li:hover > a::before {*/
/*    opacity: 1;*/
/*    transform: translateX(-50%) translateY(-50%) scale(1.3);*/
/*}*/

.nav-menu > li > a > [class*=ion-], .nav-menu > li > a > i {
    width: 18px;
    height: 16px;
    line-height: 16px;
    transform: scale(1.4)
}

.nav-menu > li > a > [class*=ion-] {
    width: 16px;
    display: inline-block;
    transform: scale(1.8)
}

.navigation-portrait .nav-menu.nav-menu-social {
    width: 100%;
    text-align: center
}

.nav-menu.nav-menu-social > li {
    text-align: center;
    float: none;
    border: none !important
}

.navigation-portrait .nav-menu.nav-menu-social > li {
    width: auto
}

.nav-menu.nav-menu-social > li > a > [class*=ion-] {
    font-size: 12px
}

.nav-menu.nav-menu-social > li > a > .fa {
    font-size: 14px
}

.navigation-portrait .nav-menu.nav-menu-social > li > a {
    padding: 15px
}

.submenu-indicator {
    margin-right: 6px;
    float: left;
    -webkit-transition: all .2s;
    transition: all .2s;
    display: none;
}

.navigation-portrait .submenu-indicator {
    width: 9px;
    height: 5px;
    margin-top: 0;
    text-align: center;
    z-index: 20000;
    display: flex;
    justify-content: center;
    align-items: center
}

.submenu-indicator-chevron {
    height: 7px;
    width: 7px;
    display: block;
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: transparent var(--mainColor) var(--mainColor) transparent;
    transform: rotate(45deg);
    -webkit-transition: border .2s;
    transition: border .2s
}

.nav-submenu .submenu-indicator-chevron {
    border-color: transparent #333 #333 transparent;
}

.navigation-portrait .submenu-indicator.submenu-indicator-up {
    transform: rotate(-180deg)
}

.nav-overlay-panel {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
    z-index: 19999
}

.no-scroll {
    width: 100%;
    height: 100%;
    overflow: hidden
}

.nav-button {
    margin: 18px 15px 0;
    padding: 8px 14px;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px
}

.nav-button:focus, .nav-button:hover {
    color: #fff;
    text-decoration: none
}

.navigation-portrait .nav-button {
    width: calc(100% - 52px);
    margin: 17px 26px
}

.nav-text {
    margin: 25px 15px;
    display: inline-block;
    color: #343a40;
    font-size: 14px
}

.navigation-portrait .nav-text {
    width: calc(100% - 52px);
    margin: 12px 26px 0
}

.navigation-portrait .nav-text + ul {
    margin-top: 15px
}

.nav-dropdown {
    min-width: 200px;
    margin: 0;
    display: none;
    position: absolute;
    list-style: none;
    z-index: 98;
    white-space: nowrap;
    background: #fff;
    padding: 0 5px;
    border-radius: 0 0 5px 5px !important;
    padding: 0px;
    border: 1px solid #ccc !important;
}

.nav-menu_ul {
    margin-top: -1px;
    border-radius: 0 0 5px 5px !important;
    top: unset;
}

.a_header_active {
    color: #fff !important;
    transition: all .3s;
    border-radius: 0 0 var(--radius) var(--radius);
    background: var(--mainColor);
}

.a_header_active:hover {
    background: #549BF4;
}

.navigation-portrait .nav-dropdown {
    width: 100%;
    position: static;
    left: 0
}

.nav-dropdown .nav-dropdown {
    right: 100%
}

.nav-dropdown > li {
    width: 100%;
    float: left;
    clear: both;
}

.nav-dropdown > li > a {
    width: 100%;
    padding: 13px 13px;
    float: right;
    text-decoration: none;
    font-size: .8rem;
    color: #555;
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--border-radius);
    transition: all .3s;
    cursor: pointer;
}

.nav-dropdown > li {
    display: flex;
    flex-direction: column;
}

.nav-dropdown > li:last-child::after {
    display: none;
}

.nav-dropdown > li::after {
    content: "";
    height: 1px;
    width: 100%;
    background: #ddd;
    margin: 1px 0
}

.nav-dropdown > li:last-child > a {
    border-bottom: none
}

.nav-dropdown > li.focus > a, .nav-dropdown > li:hover > a {
    background: var(--mainColor);
    color: #fff !important;
}

.nav-dropdown.nav-dropdown-left {
    right: 0
}

.nav-dropdown > li > .nav-dropdown-left {
    left: auto;
    right: 100%
}

.navigation-landscape .nav-dropdown.nav-dropdown-left > li > a {
    text-align: right
}

.navigation-portrait .nav-dropdown > li > a {
    padding: 10px;
}

.navigation-portrait .nav-dropdown .submenu-indicator {
    right: 0;
    top: 0
}

.nav-dropdown .submenu-indicator .submenu-indicator-chevron {
    transform: rotate(133deg)
}

.navigation-portrait .nav-dropdown .submenu-indicator .submenu-indicator-chevron {
    transform: rotate(45deg)
}

.nav-dropdown > .focus > a .submenu-indicator-chevron, .nav-dropdown > li:hover > a .submenu-indicator-chevron {
    border-color: transparent #fff #fff transparent
}

.navigation-landscape .nav-dropdown.nav-dropdown-left .submenu-indicator {
    left: 10px
}

.navigation-landscape .nav-dropdown.nav-dropdown-left .submenu-indicator .submenu-indicator-chevron {
    transform: rotate(135deg)
}

.nav-dropdown-horizontal {
    width: 100%;
    left: 0;
    background-color: #fdfdfd;
    border-top: solid 1px #f0f0f0
}

.nav-dropdown-horizontal .nav-dropdown-horizontal {
    width: 100%;
    top: 100%;
    left: 0
}

.navigation-portrait .nav-dropdown-horizontal .nav-dropdown-horizontal {
    border-top: none
}

.nav-dropdown-horizontal > li {
    width: auto;
    clear: none;
    position: static
}

.navigation-portrait .nav-dropdown-horizontal > li {
    width: 100%
}

.nav-dropdown-horizontal > li > a {
    position: relative
}

.nav-dropdown-horizontal .submenu-indicator {
    height: 18px;
    top: 11px;
    transform: rotate(90deg)
}

.navigation-portrait .nav-dropdown-horizontal .submenu-indicator {
    height: 42px;
    top: 0;
    transform: rotate(0)
}

.navigation-portrait .nav-dropdown-horizontal .submenu-indicator.submenu-indicator-up {
    transform: rotate(-180deg)
}

.megamenu-panel {
    display: none;
    position: absolute;
    border: solid 1px #ccc;
    background-color: #fff;
    width: 400px;
    margin-top: -1px;
    border-radius: 0 0 var(--radius) var(--radius);
    overflow: hidden;
}

.navigation-portrait .megamenu-panel {
    padding: 25px;
    position: static;
    display: block
}

.megamenu-panel [class*=container] {
    width: 100%
}

.megamenu-panel [class*=container] [class*=col-] {
    padding: 0
}

.megamenu-panel-half {
    width: 50%
}

.megamenu-panel-quarter {
    width: 25%
}

.navigation-portrait .megamenu-panel-half, .navigation-portrait .megamenu-panel-quarter {
    width: 100%
}

.megamenu-panel-row {
    width: 100%
}

.megamenu-panel-row:after, .megamenu-panel-row:before {
    display: table;
    content: "";
    line-height: 0
}

.megamenu-panel-row:after {
    clear: both
}

.megamenu-panel-row [class*=col-] {
    display: block;
    min-height: 20px;
    float: left;
    margin-left: 3%
}

.megamenu-panel-row [class*=col-]:first-child {
    margin-left: 0
}

.navigation-portrait .megamenu-panel-row [class*=col-] {
    float: none;
    display: block;
    width: 100% !important;
    margin-left: 0;
    margin-top: 15px
}

.navigation-portrait .megamenu-panel-row:first-child [class*=col-]:first-child {
    margin-top: 0
}

.megamenu-panel-row .col-1 {
    width: 5.583333333333%
}

.megamenu-panel-row .col-2 {
    width: 14.166666666666%
}

.megamenu-panel-row .col-3 {
    width: 22.75%
}

.megamenu-panel-row .col-4 {
    width: 31.333333333333%
}

.megamenu-panel-row .col-5 {
    width: 39.916666666667%
}

.megamenu-panel-row .col-6 {
    width: 48.5%
}

.megamenu-panel-row .col-7 {
    width: 57.083333333333%
}

.megamenu-panel-row .col-8 {
    width: 65.666666666667%
}

.megamenu-panel-row .col-9 {
    width: 74.25%
}

.megamenu-panel-row .col-10 {
    width: 82.833333333334%
}

.megamenu-panel-row .col-11 {
    width: 91.416666666667%
}

.megamenu-panel-row .col-12 {
    width: 100%
}

.megamenu-tabs {
    width: 100%;
    float: left;
    display: block
}

.megamenu-tabs-nav {
    width: 20%;
    margin: 0;
    padding: 0;
    float: left;
    list-style: none
}

.navigation-portrait .megamenu-tabs-nav {
    width: 100%
}

.megamenu-tabs-nav > li > a {
    width: 100%;
    padding: 10px 16px;
    float: left;
    font-size: 14px;
    text-decoration: none;
    color: #343a40;
    border: solid 1px #eff0f2;
    outline: 0;
    background-color: #fff
}

.megamenu-tabs-nav > li.active a, .megamenu-tabs-nav > li:hover a {
    background-color: #f5f5f5
}

.megamenu-tabs-pane {
    width: 80%;
    min-height: 30px;
    padding: 20px;
    float: right;
    display: none;
    font-size: 14px;
    color: #343a40;
    border: solid 1px #eff0f2;
    background-color: #fff
}

.megamenu-tabs-pane.active {
    display: block
}

.navigation-portrait .megamenu-tabs-pane {
    width: 100%
}

.megamenu-lists {
    width: 100%;
    display: table;
}

.megamenu-list {
    width: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
    float: left;
    list-style: none
}

.megamenu-list:last-child {
    border: none
}

.navigation-landscape .megamenu-list {
    border-right: solid 1px #ccc
}

.navigation-landscape .megamenu-list:last-child {
    border: none
}

.megamenu-list > li > a {
    width: 100%;
    padding: 10px 15px;
    display: inline-block;
    color: #333;
    text-decoration: none;
    font-size: .8rem;
    border-radius: 5px;
    transition: all .3s;
}

.megamenu-list > li > a:hover {
    background-color: var(--mainColor);
    color: #fff
}

.megamenu-list > li.megamenu-list-title > a {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #343a40
}

.megamenu-list > li.megamenu-list-title > a:hover {
    background-color: transparent
}

.navigation-landscape .list-col-2 {
    width: 50%
}

.navigation-landscape .list-col-3 {
    width: 33%
}

.navigation-landscape .list-col-4 {
    width: 25%
}

.navigation-landscape .list-col-5 {
    width: 20%
}

.transparent-menu {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99
}

.navigation-portrait .nav-menu > li > a {
    width: 100%;
    height: auto;
}

.callBtn {
    color: #333;
    transition: all .3s;
    display: flex;
    align-items: center;
}

.callBtn:hover {
    color: var(--mainColor);
}

.whatsapp {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    z-index: 4;
    cursor: pointer;
}

.whatsapp img {
    width: 100%;
    object-fit: cover;
}

.whatsapp_main2 {
    display: flex !important;
}

@media (min-width: 1350px) {
    .container {
        max-width: 1320px !important;
    }
}

@media (max-width: 1200px) {
    .nav-menu {
        margin: 0 1rem 0 0;
    }

    .nav-menu > li {
        margin: 0;
    }
}

@media (max-width: 1222px) {
    .nav-brand > img:last-child {
        width: 160px;
    }
}

@media (max-width: 1122px) {
    .nav-brand > img:first-child {
        width: 60px;
    }

    .nav-menu > li > a {
        padding: 8px 12px;
    }
}

@media (max-width: 1044px) {
    .callBtn {
        display: none
    }
}

@media (max-width: 991px) {
    .nav-brand > img:first-child {
        width: 80px;
    }

    .callBtn {
        display: flex
    }

    .navigation-portrait .nav-menu > li:hover > a > span > span {
        border-color: transparent #fff #fff transparent;
    }

    .nav-dropdown > li::after {
        display: none;
    }

    .megamenu-list > li::before, .nav-dropdown > li::before {
        content: "";
        margin: 5px 0;
        height: 1px !important;
        width: 100% !important;
        display: flex !important;
        background: #ddd !important;
    }

    .megamenu-list > li::after, .nav-dropdown > li::after {
        content: "";
        margin: 5px 0;
    }

    .navigation-portrait .nav-menu > li::after {
        content: "";
        margin: 5px 0;
    }

    .navigation-portrait .nav-menu > li::before {
        content: "";
        margin: 5px 0;
        height: 1px !important;
        width: 100% !important;
        display: flex !important;
        background: #ddd !important;
    }

    .navigation-portrait .nav-menu > li > a {
        position: relative;
        width: 100%;
        height: auto;
        padding: 10px;
        border-radius: 5px;
        border-top: none !important;
        box-shadow: none !important;
        display: flex;
        justify-content: flex-start;
    }

    .navigation-portrait .submenu-indicator {
        margin-right: auto;
    }

    .navigation-portrait .nav-menu > li:hover > a {
        background: var(--mainColor);
        color: #fff;
    }

    #navigation1 .button > i {
        margin: 0 !important;
        font-size: 1.3rem
    }

    #navigation1 .button > span {
        display: none;
    }

    #navigation1 .button > iframe {
        display: none;
    }

    #navigation1 .button {
        width: 40px;
        height: 40px;
        background: transparent;
        color: var(--mainColor);
        margin-right: auto !important;
    }

    #navigation1 .button:hover {
        background: var(--mainColor);
        border-color: var(--mainColor);
        color: #fff;
    }

    .megamenu-panel {
        width: 100%
    }

    .navigation-portrait .megamenu-panel {
        padding: 0;
        border: none;
    }

    .nav-menu {
        padding: 0 10px;
    }

    .navigation-portrait .nav-menu > li, .nav-dropdown > li > a, .nav-dropdown {
        border: none !important;
        margin: 0;
    }

    .a_header_active {
        border-radius: 0
    }

    .submenu-indicator-chevron {
        border-color: transparent #333 #333 transparent;
    }

    .nav-menu {
        margin-right: 0;
    }

    .nav-menu > li > a {
        color: #333;
        margin: 0;
    }

    /*.nav-menu > li > a::after, .nav-menu > li > a::before {*/
    /*    display: none;*/
    /*}*/
}

@media (max-width: 455px) {
    .nav-brand > img:first-child {
        width: 80px;
    }

    .callBtn {
        display: none
    }

    .nav-toggle {
        margin-right: auto !important;
    }
}


.coming-soon::after{
    content: 'بزودی';
    font-size: 11px;
    transition: all ease .3s;
    position: absolute;
    left: 5px;
    top: -3px;
    color: #f79320;
}
