.OWL_banner, .OWL_banner > div.owl-stage-outer, .OWL_banner > div > div, .OWL_banner > div > div > .owl-item, .OWL_banner > div > div > .owl-item > .item, .OWL_banner > div > div > .owl-item > .item > img {
    height: 100%;
}

.OWL_banner > div > div > .owl-item > .item > img {
    object-fit: cover;
}
.OWL_banner picture img{
    height: 100%;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title > h2 {
    margin: 0;
    font-family: var(--second-font-family);
    font-size: 1.5rem;
    color: #555;
}

.title > ul {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
}

.title > ul > li {
}

.title > ul > li > .nav-link {
    font-size: 14px !important;
    display: inline-block !important;
    text-align: center !important;
    border: 1px solid var(--mainColor) !important;
    border-radius: var(--border-radius) !important;
    position: relative !important;
    color: var(--mainColor) !important;
    transition: 0.3s ease all !important;
    z-index: 1 !important;
    background: transparent !important;
    padding: .5rem 1rem !important;
}

.title > ul > li > .nav-link.active {
    background: var(--mainColor) !important;
    color: #fff !important;
}

.banner {
    height: 400px;
    width: 100%;
    position: relative;
}

.banner > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.tour_box {
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    z-index: 2;
    height: 200px;
    padding: 1rem;
    color: #fff;
    overflow: hidden;
}

.tour_box::after {
    content: "";
}

.tour_box > img {
    position: absolute;
    z-index: -1;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(.5);
    transition: all .3s;
}

.tour_box > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tour_box > div > h6 {
    font-family: var(--second-font-family);
    font-size: 1rem;
}

.tour_box > div > span {
    font-size: .80rem;
}

.tour_box:hover {
    color: #fff
}

.tour_box:hover img {
    transform: scale(1.2);
    filter: brightness(.4);
}

.bannerH1 {
    position: absolute;
    z-index: 2;
    top: 250px;
    right: 30px;
    font-size: 2rem;
    background: var(--mainColor);
    color: #fff;
    padding: 1rem;
    border-radius: var(--border-radius);
    margin: 0;
    font-family: var(--second-font-family);
}

.owl-blog .owl-nav > button {
    position: absolute;
    height: unset;
    z-index: 0;
    top: 0;
    transform: translateY(75px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.OWL_banner .owl-nav > button:hover, .owl-blog .owl-nav > button:hover {
    background: var(--mainColor) !important;
    color: #fff !important
}

.OWL_banner .owl-nav > button i, .owl-blog .owl-nav > button i {
    font-size: 20px
}

.OWL_banner .owl-nav > button, .owl-blog .owl-nav > button {
    width: 50px !important;
    transition: all .3s !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: 50px !important;
    border-radius: 50% !important;
    background: #f6f6f6 !important;
    color: var(--mainColor) !important;
    border: 2px solid var(--mainColor) !important;
}

.OWL_banner .owl-nav > button {
    position: absolute;
    height: unset;
    z-index: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.OWL_banner .owl-nav > .owl-prev {
    left: 30px
}

.OWL_banner .owl-nav > .owl-next {
    right: 30px
}

.owl-blog .owl-nav > .owl-next {
    right: -30px !important;
}

.owl-blog .owl-nav > .owl-prev {
    left: -30px !important;
}

.OWL_banner .owl-dots, .owl-blog .owl-dots {
    display: flex;
    justify-content: center;
}

.OWL_banner .owl-dots {
    margin-top: -1rem;
    z-index: 0;
    position: relative;
}

.OWL_banner .owl-dots > button, .owl-blog .owl-dots > button {
    width: 30px;
    height: 4px;
    border-radius: 10px;
    background: #aaa;
    align-items: center;
    margin: 0 5px;
    transition: all .3s;
}

.OWL_banner .owl-dots > button.active, .owl-blog .owl-dots > button.active {
    background: var(--mainColor);
    transition: all .3s;
}

.blog_main {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.blog_main > h3 {
    transition: all .3s;
    margin: 16px 0;
    font-family: var(--second-font-family);
    font-size: 1rem;
    color: #555;
    line-height: 1.7;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.blog_main > div {
    height: 200px;
    overflow: hidden;
    border-radius: var(--border-radius);
}

.blog_main > div > img {
    transition: all .3s;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog_main:hover img {
    filter: brightness(.6)
}

.blog_main:hover h3 {
    color: var(--mainColor);
}

.about {
}

.aboutText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.aboutText > a {
    margin-top: 2rem
}

.aboutText > p {
    text-align: justify;
    margin-top: 2rem;
    color: #555;
    margin-bottom: 0;
    line-height: 1.8;
}

.aboutImage > .image_aboutUs {
    width: 440px;
    height: 440px;
}

.aboutImage > .image_aboutUs > img {
    width: 100%;
    height: 100%;
    border-radius: 999px;
    object-fit: cover;
    box-shadow: -10px 10px 1px var(--mainColor);
    border: 6px solid var(--mainColor);
}

.best {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.best > div {
    display: flex;
    align-items: center;
}

.best > div > i {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 999rem;
    background: #06788952;
    color: var(--mainColor);
    margin-left: 1rem;
}

.best > div > span {
    text-align: right;
    color: #666;
    font-size: .95rem;
}

@media (max-width: 992px) {
    .best {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer_main > ul {
        grid-template-columns: repeat(2, 1fr);
    }

    .aboutImage {
        display: none !important;
    }
}

@media (max-width: 545px) {
    .footer_main > ul {
        grid-template-columns: repeat(1, 1fr);
    }

    .tour .title {
        flex-direction: column;
    }

    .tour .title > h2 {
        margin-bottom: 1rem
    }
}