
/* This class is added on scroll */
.fixed {
	position: fixed; 
	top: 0; 
	height: 100px;
	z-index: 100;
}


/* Navigation Settings */
nav {
	
	width: 100%;
	height: 100px;
	background-color: #8C0000;
	float: right;
}

nav li {
	
	
}

nav li a {

}


@media only screen and (max-width: 520px) {

	nav li {
	
	}

	nav li a {
	
	}

}