
@font-face {
  font-family: 'iranyekanbold';
  src: url("../../../assets/all-fonts/iranyekanwebbold/iranyekanwebbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'iranyekan';
  src: url("../../../assets/all-fonts/iranyekanwebregular/iranyekanwebregular.woff") format("woff");
}

@font-face {
  font-family: 'iranykanb';
  src: url("../../../assets/all-fonts/iranyekanwebbold/iranyekanwebbold.eot") format("eot");
  src: url("../../../assets/all-fonts/iranyekanwebbold/iranyekanwebbold.woff") format("woff");
  src: url("../../../assets/all-fonts/iranyekanwebbold/iranyekanwebbold.woff2") format("woff2");
  src: url("../../../assets/all-fonts/iranyekanwebbold/iranyekanwebbold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}