@font-face {
  font-family: ShabnamBold;
  src: url("../../../assets/all-fonts/Shabnam/Shabnam-Bold-FD.eot");
  src: url("../../../assets/all-fonts/Shabnam/Shabnam-Bold-FD.ttf");
  src: url("../../../assets/all-fonts/Shabnam/Shabnam-Bold-FD.woff");
  src: url("../../../assets/all-fonts/Shabnam/Shabnam-Bold-FD.woff2");
}

@font-face {
  font-family: Shabnam;
  src: url("../../../assets/all-fonts/Shabnam/Shabnam-FD.eot");
  src: url("../../../assets/all-fonts/Shabnam/Shabnam-FD.ttf");
  src: url("../../../assets/all-fonts/Shabnam/Shabnam-FD.woff");
  src: url("../../../assets/all-fonts/Shabnam/Shabnam-FD.woff2");
}
