@font-face {
    font-family: 'open_sanslight';
    src: url('light/OpenSans-Light-webfont.eot');
    src: url('light/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('light/OpenSans-Light-webfont.woff') format('woff'),
         url('light/OpenSans-Light-webfont.ttf') format('truetype'),
         url('light/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('regular/OpenSans-Regular-webfont.eot');
    src: url('regular/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('regular/OpenSans-Regular-webfont.woff') format('woff'),
         url('regular/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('regular/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('semibold/OpenSans-Semibold-webfont.eot');
    src: url('semibold/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('semibold/OpenSans-Semibold-webfont.woff') format('woff'),
         url('semibold/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('semibold/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansbold';
    src: url('bold/OpenSans-Bold-webfont.eot');
    src: url('bold/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('bold/OpenSans-Bold-webfont.woff') format('woff'),
         url('bold/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('bold/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansextrabold';
    src: url('extrabold/OpenSans-ExtraBold-webfont.eot');
    src: url('extrabold/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('extrabold/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('extrabold/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('extrabold/OpenSans-ExtraBold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}