@font-face {
    font-family: "yekanbakhBold";
    src: url("../fonts/yekanbakhBold/Yekan-Bakh-FaNum-06-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal
}

@font-face {
    font-family: "yekanbakhmedium";
    src: url("../fonts/yekanbakhmedium/Yekan-Bakh-FaNum-05-Medium.woff") format("woff")
}

@font-face {
    font-family: "iranbold";
    src: url("../fonts/iranbold/IRANSansWeb_Bold.eot") format("eot");
    src: url("../fonts/iranbold/IRANSansWeb_Bold.woff") format("woff");
    src: url("../fonts/iranbold/IRANSansWeb_Bold.woff2") format("woff2");
    src: url("../fonts/iranbold/IRANSansWeb_Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal
}

.parent-tour-image {
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows:repeat(2, 1fr);
    gap: 5px;
    height: 400px;
    border-radius: 8px;
    overflow: hidden;
    position: relative
}

.parent-tour-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none
}

.parent-tour-image .more-image {
    position: absolute;
    display: flex;
    gap: 3px;
    z-index: 10;
    background: #fff;
    border-radius: 20px;
    font-size: 13px;
    align-items: center;
    padding: 6px;
    bottom: 7px;
    left: 7px
}

.parent-tour-image .more-image svg {
    width: 18px
}

.parent-tour-image img:nth-child(1) {
    grid-area: 1/1/3/3;
    display: inline-block
}

.parent-tour-image img:nth-child(2) {
    grid-area: 1/3/2/4;
    display: inline-block
}

.parent-tour-image img:nth-child(3) {
    grid-area: 1/4/2/5;
    display: inline-block
}

.parent-tour-image img:nth-child(4) {
    grid-area: 2/3/3/4;
    display: inline-block
}

.parent-tour-image img:nth-child(5) {
    grid-area: 2/4/3/5;
    display: inline-block
}

@media (max-width: 768px) {
    /*.parent-tour-image img:nth-child(1) {*/
    /*    grid-area: 1/1/3/3*/
    /*}*/

    /*.parent-tour-image img:nth-child(2) {*/
    /*    grid-area: 1/3/3/4*/
    /*}*/

    /*.parent-tour-image img:nth-child(3) {*/
    /*    grid-area: 1/4/3/5*/
    /*}*/

    /*.parent-tour-image img:nth-child(4) {*/
    /*    display: none*/
    /*}*/

    /*.parent-tour-image img:nth-child(5) {*/
    /*    display: none*/
    /*}*/
}


.parent-owl-tour-image {
    position: relative
}

.parent-owl-tour-image .owl-theme .owl-dots .owl-dot span {
    margin: 3px !important;
}

.parent-owl-tour-image .owl-theme .owl-dots .owl-dot span {
    width: 5px;
    height: 5px;
}

.parent-owl-tour-image .more-image {
    position: absolute;
    display: flex;
    gap: 3px;
    z-index: 10;
    background: #fff;
    border-radius: 20px;
    font-size: 13px;
    align-items: center;
    padding: 6px;
    bottom: 7px;
    left: 7px
}

.parent-owl-tour-image .owl-carousel .owl-stage {
    padding-left: 70px !important;
    padding-right: 0 !important;
}

.mBox .owl-stage-outer {
    background: #ddd;
}

.mBox .parent-owl-tour-image .owl-dot {
    width: 5px !important;
    height: 5px !important;
    margin: 3px !important;
}

.parent-owl-tour-image .more-image svg {
    width: 18px
}

.parent-owl-tour-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cover-img-tour-3i .parent-owl-tour-image img {
    height: 200px;
}

.mBox-owl {
    display: none;
}

@media (max-width: 576px) {
    .parent-tour-image {
        display: none;
    }
    .mBox-owl {
        display: block;
        height: 300px !important;
    }
    .mBox-owl div {
        height: 100%;
    }
    .parent-owl-tour-image .more-image {
        padding: 10px;
        bottom: 7px;
        left: 7px;
        height: 30px;
    }
    .parent-tour-image{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: unset;
    }
    .parent-tour-image img:nth-child(1){
        grid-area: unset;
    }
    .parent-tour-image img:nth-child(2){
        grid-area: unset;
    }
    .parent-tour-image img:nth-child(3){
        grid-area: unset;
    }
    .parent-tour-image img:nth-child(4){
        grid-area: unset;
    }
    .parent-tour-image img:nth-child(5){
        grid-area: unset;
    }
}


