
@font-face {
  font-family: 'IRANYekanXVF';
  src: url("../../../../assets/all-fonts/iranyekanX/IRANYekanXVF.woff") format("woff-variations");
  src: url("../../../../assets/all-fonts/iranyekanX/IRANYekanXVF.woff") format("woff");
  font-weight: 100 1000;
  font-display: fallback;
}

@font-face {
  font-family: 'IRANYekanX';
  src: url("../../../../assets/all-fonts/iranyekanX/IRANYekanX-Regular.woff") format("woff");
}

@font-face {
  font-family: 'IRANYekanX';
  src: url("../../../../assets/all-fonts/IRANYekanX/IRANYekanX-Bold.woff") format("woff");
  font-weight: 700;
}

