$fontFamily: 'IRANYekanXVF', IRANYekanX;
$rounded: 12px;
$mainColor: #780508;
$secondColor: #DFA98B;
$subColor:#686c79;
$boxShadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
$border: 1px solid #eee;
$transition: all ease .3s;


