@media ( min-width: 1300px) {
    .know {
        position: relative
    }

    .know .megamenu-panel {
        width: 650px;
    }

}
@media ( max-width: 1540px) and  (min-width: 990px){
    /*.section_slider{*/
    /*    height: 550px;*/
    /*}*/
    .searchs_box{
        padding-right: 15px!important;
        padding-left: 15px!important;
    }
}
@media ( max-width: 1315px) and  (min-width: 990px) {
    .act-buttons{margin-right: 3px;margin-left: 5px;}
    .nav-menus-wrapper {
        padding: 0 15px 0 0;
    }


    .top__user_menu > div {
        margin: 0;
    }


    .know .megamenu-panel {
        left: 5px;
    }

}

@media ( max-width: 1200px) and  (min-width: 990px) {
    .footer .container{
        max-width: none;
    }
    .contact_{ position: relative}
    .copyright_content a{
        padding-right: 10px;
    }


    .social_top {
        display: none;
    }


}

@media (max-width: 990px) and (min-width: 767px) {
    /*.section_special_tour .container,*/
    /*.section_boxs .container{*/
    /*    max-width: none;*/
    /*}*/
    .section_boxs .row > div{
        margin-bottom: 10px;
    }
}

.peigiri_m{ display: none !important;}

@media ( max-width: 991px) {
    /*#titr_searchBox {*/
    /*    color: #fff!important;*/
    /*    text-align: left!important;*/
    /*}*/
    /*.nav-menu > li {*/
    /*    display: none;*/
    /*}*/

    .box-ture-img img{
        height: 230px!important;
    }
    .searchs_box{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .pr-my{
        padding-right: 0!important;
        padding-left: 0!important;
    }

    #loginedname{
        display: none;
    }
    .my-icon{
        display: block;
        color: #888;
        font-size: 18px;
    }
    .navigation-portrait .nav-menu > li{
        padding: 0 5px;
    }
    .nav-header{
        margin-right: auto;
    }
    .main-navigation__button2{
        border-radius: 50%;
        padding: 5px 7px;
        height: 30px;
    }
    .nav-dropdown > li:last-child:hover {
        border-radius: 0;
    }
    .nav-dropdown>li{
        border-bottom: 1px solid #f0f0f0;
    }
    .peygiri{
        display: none;
    }
    .nav-menu>li>a:hover{
        background: var(--mainColor);
        color: #fff!important;
    }
    .nav-menu>li>a:hover .submenu-indicator-chevron{
        border-color: transparent #fff #fff transparent;
    }
    .nav-menu > li.mobileMenu {
        display: flex;
    }
    .app_text{
        width: 100%;
        justify-content: center;
    }
    .app-dl{
        padding: 40px 0;
    }

    .big_news .thumb {


        flex: 0 0 35%;
        width: 35%;
        padding-top: 11px;

    }
    .big_news .info{
        flex: 0 0 64%;

        width: 65%;

        display: flex;

        flex-wrap: wrap;
    }
    .big_news .single_trip {
        height: 200px;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        padding: 0 10px 0 10px;

    }
    .parent-news{
        padding-bottom: 60px;
    }

    .customers .megamenu-panel , .know .megamenu-panel{
        background: none;
    }
    .nav-menus-wrapper{padding: 0}
    .nav-menu > li > a{
        color: #000;
    }



    .social_top {
        margin-left: 0;
    }

    /*.lang{*/
    /*    margin-right: 40px*/
    /*}*/
    /*.act-buttons {*/
    /*    margin-right: auto;*/
    /*}*/
    .navigation-portrait .nav-search{
        margin-right: -10px;
    }
    .seach_icon {
        margin-left: 70px;
    }
    .navigation{
        justify-content: end;
    }
    .lang{
        margin-right: 35px;
    }
    #myVideo{
        display: none;
    }
    .section_slider{
        height: 550px;
    }
    #circle_banner{
        display: none;
    }
    .d-news{
        display: block;
    }
    .d-news{
        flex-direction: row;
    }
    .big_news{
        margin-bottom: 30px;
    }
}

@media (max-width: 769px) {
    .app-dl::before{
        left: 0;
        right: 0;
        width: 100%;
        border-radius: 0;
    }
    .section_special_tour{
        padding: 30px 0;
    }
    .header_area.fixedmenu .menus {
        padding: 10px 15px;
    }
/*.p-myx{*/
/*    padding-left: 0!important;*/
/*    padding-right: 0!important;*/
/*}*/
.text-article{
    bottom: 0;
}
.category{
    transform: rotate(0deg);
}
    /*.navigation-portrait .nav-search {*/
    /*    margin-right: 0;*/
    /*}*/
    .single_destination .thumb{
        height: 200px;
    }

    .section_boxs .row > div{margin-bottom: 20px;}

    /*.section_tours .container,*/
    /*.section_special_tour .container{*/
    /*    padding: 0 30px;*/
    /*}*/
    .appButtons{
        display: none;
    }
    .app-dl::before{
        display: none;
    }
    .parent-link-app{
        justify-content: center;
    }
    .app-dl h2{
        font-weight: 500;
    }
    .recent_trip_area{
        padding: 30px 0;
    }
}

.peigiri_m{ display: none}

@media ( max-width: 576px) {
    .float-social{
        display: none;
    }
    #myTab a span {
        font-size: 12px;
    }
    #myTab .nav-link i {
        margin: auto;
        font-size: 20px;
    }
    #myTab a span h4 {
        font-size: 14px;
    }
    #myTab .nav-item {
        min-width: auto !important;
        margin: 0;
        width: 25%;
    }

    #wave_footer{
        display: none;
    }

    /*#myTab .nav-link {*/
    /*    width:100%;*/
    /*    height: 70px;*/
    /*    margin-bottom: 10px;*/
    /*    box-shadow: none;*/
    /*    display: flex !important;*/
    /*    align-items: center;*/
    /*    border: 1px solid #ccc;*/
    /*    border-radius: 10px;*/
    /*}*/
    #myTab .nav-link{
        border-radius: 1rem;
        width: 80px;
        height: 80px;
        box-shadow: 0 4px 8px rgba(144,149,167,.2);
        background: #fff;
        padding: 5px;
        outline: none;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        transition: all ease .4s;
        position: relative;
    }

    /*#flight .radios {*/
    /*    position: absolute;*/
    /*    width: 100%;*/
    /*    text-align: center;*/
    /*    display: flex;*/
    /*    justify-content: center;*/
    /*}*/

    #scroll-top {
        display: none !important;
    }
    /*.date_convert{*/
    /*    display: none;*/
    /*}*/

    .app-dl h2{
        line-height: normal;
    }
    .app_text span{
        font-size: 13px;
    }
    /*.col_foo:not(.foo_contact) {*/
    /*    display: none;*/
    /*}*/
    .peigiri_m{ display: block}
    .recent_trip_area{
        padding-bottom: 30px;
    }
    .big_news .thumb , .small_news .thumb{
        width: 100%; flex: 100%;
    }
    .project .img{
        height: 250px;
    }
    .app-dl h2{
        font-size: 24px;
    }
.link_app{
    width: 140px;
}

    .big_news .info , .small_news .info {

        flex: 0 0 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;

    }
    .copyright_content , .content{
        width: 100%;
        flex-wrap: wrap;
        position: relative;
        justify-content: center;

    }
    .contact_info_text i{display: none}
    .contact_info_list li{
        justify-content: center;
        text-align: center;
    }
    .contact_{
        margin: 0;
        margin-bottom: 5px;
    }

    /*.section_slider{*/
    /*    height: 100%;*/

    /*}*/
    .section_slider::before{
        display: none;
    }
    #myTab {
        box-shadow: none;
        margin-bottom: 15px;
        position: relative;
        border-radius: 15px;
        margin-left: 7px;
    }
    .searchs_box{
        margin-top: 0;

        padding: 0 15px 30px 15px;
    }

    .section_slider::before{
        background: rgba(0, 0, 0, 0.70);
    }
    /*.peygiri {*/
    /*    display: none*/
    /*}*/

    .act-buttons {

        margin-left:0;
    }
    /*.lang{*/
    /*   display:none*/
    /*}*/
    /*.act-buttons {*/
    /*    margin-right: 45px;*/
    /*    margin-left:auto;*/
    /*}*/

    .social_top {
        display: none;
    }
    .box-of-count-nafar-boxes{
        padding-right: 13px;
    }

    #titr_searchBox{
        margin-top: 15px;
    }
    #titr_searchBox{
        font-size: 26px;
    }
    .text-article h4{
        font-size: 20px;
    }
    .text-article .box-hover ul li{
        font-size: 12px;
    }
    .titr{
        font-size: 24px;
    }
}

