
.social a {
    width: 24px;
    height: 24px;
    overflow: hidden;
    margin:0 8px;
    transition: all 0.3s ease-out;
    opacity: .8;
    display: inline-block;
    transition: .3s all ease;
}
.social a:hover{
    opacity: 1;
}
.social a img{
    width: 100%;
    height: 100%;
    display: block;
}
.social{
    float: left;
    transition: .3s all ease;
 text-align: center;
    width: 100%;
}




.top-content {
    display: block;
}




/* Underline From Right */
.hvr-underline-from-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 100%;
  right: 0;
  bottom: 0;
  background:#f3ca84;
  height: 4px;
  -webkit-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-right:hover:before, .hvr-underline-from-right:focus:before, .hvr-underline-from-right:active:before {
  left: 0;
}