/*------------------------------------------------------max-width -1200------------------------------*/
@media screen and (max-width: 1200px)
{


    ul.mainMenu > li > a{
        padding: 0 8px;
    }
    .tour-item-a{
        height: 170px;
    }
    .t-overlay{
        padding-top: 10px;
    }


}







/*------------------------------------------------------max-width -991------------------------------*/
@media screen and (max-width: 991px)
{

    .mainMenuContainer {direction: rtl;float: right;position: fixed;top: 0;right: -350px;z-index: 99999;width: 300px;height: 100%;background: #252525;box-shadow: -2px 0px 6px #333;}
    .logo-title {
        width: 50%;
        padding-right: 30px;
    }
    .top-menu {
        width: 50%;
    }
    header{
        padding: 0;
    }

    .camera_wrap {
        height: 460px !important;
    }

    .top-wrapper{
        height: auto;
    }



    ul.mainMenu > li > a {
        border-bottom: 1px solid #444;
    }
    ul.mainMenu > li ul.subMenu li a {
        background: #666;
        color: #fff;
    }
    .logo-title .logo{
        width: 100px;
        height: 60px;
    }
    .title h1 {
        font-size: 24px;
        line-height: 40px;
    }
    .title h2 {
        font-size: 12px;
        line-height: 18px;
    }
    .title h1 a{
        display: block;
    }

    .tour-item-a {
        height: 240px;
    }
    .sp-det{
        padding: 0;
    }
    .sp-det> h4>a{
        padding-top: 30px;
    }






}
















/*-------------------------------------------------------max-width-767---------------------------------*/
@media screen and (max-width:767px) {



    .camera_wrap {
        width: 100%;
        height: 400px !important;
    }

    .copyright .company p, .copyright .irantech p {
        text-align: center;
    }
    .copyright .irantech p {
        text-align: center;
    }

    .bottom-header {
        position: relative;
        width: 100%;
        background: #fff;
        z-index: 9;
    }

    .tour-item-wrapper{
        width: 70%;
        margin: 20px auto;
        float: none;
    }
    .tour-item-a {
        height: 280px;
    }
    .s-item h3{
        font-size: 18px;
    }
    .logo-title{
        width: 70%;
        margin-right: 10px;
    }
    .camera_caption{
        bottom: 20%;
    }




}




/*------------------------------------------max-width-544------------------------------*/
@media screen and (max-width: 544px)
{


    .camera_wrap {
        width: 100%;
        height:250px !important;
    }
    .logo-title {
        width: 100%;
        padding-right: 40px;
        display: block;
        float: none;
        margin: 0 auto;
        overflow: hidden;
    }
    .social,.top-menu{
        width: 100%;
        text-align: center;
    }
    .social a{
        float: none;
        display: inline-block;
    }
    .camera_caption p{
        display: none;
    }
    .camera_caption{
        right: 0;
    }
    .s-item{
        margin-bottom: 20px;
        width: 100%;
    }
    .tour-item-wrapper{
        width: 100%;
    }
    .sp-a ,.sp .tour-det ,.sp-det{
        width: 100%;
        display: block;
    }
    .camera_caption{
        display: none !important;
    }
    .title h1 {
        font-size: 20px;
        line-height: 30px;
    }
    .title h2 {
        font-size: 10px;
    }
    .mainMenuContainer{
        width: 100%;
        right: -550px;
        overflow-y: auto;
    }
    .t-overlay {
        padding-top: 50px;
    }
    .sp-item-inner{
        margin: 10px 0;
    }
    /*.pop-up {
        margin-left: 0;
        height: 70%;
        width: 80%;
        transform: translateX(-50%);
    }*/
    .lang{
        left: 5px;
        position: absolute;
    }



}









/*------------------------------------------------col-ss -max-width-350----------------------------------------*/
@media screen and (max-width: 350px) {

    .col-ss-1, .col-ss-2,
    .col-ss-3, .col-ss-4,
    .col-ss-5, .col-ss-6,
    .col-ss-7, .col-ss-8,
    .col-ss-9, .col-ss-10,
    .col-ss-11, .col-ss-12 {
        float: right;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .col-ss-6 {
        width: 50%;
    }
    .col-ss-12
    {
        width: 100%;

    }
    .col-xs-12,.tour-item-wrapper{
        padding: 0;

    }
    .camera_wrap {
        width: 100%;
        height: 200px !important;
    }
    .logo-title {
        width: 90%;
        padding-right: 20px;
    }
    .mainMenuContainer{
        width: 100%;
    }




}




