@font-face {
  font-family: 'Poppins-Bold';
  src: url('../../../../assets/all-fonts/Poppins-Bold/Poppins-Bold.eot');
  src: url('../../../../assets/all-fonts/Poppins-Bold/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../../../assets/all-fonts/Poppins-Bold/Poppins-Bold.woff2') format('woff2'),
  url('../../../../assets/all-fonts/Poppins-Bold/Poppins-Bold.woff') format('woff'),
  url('../../../../assets/all-fonts/Poppins-Bold/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Barlow';
  src: url('../../../../assets/all-fonts/Barlow/Barlow-Regular.eot');
  src: url('../../../../assets/all-fonts/Barlow/Barlow-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../../../assets/all-fonts/Barlow/Barlow-Regular.woff2') format('woff2'),
  url('../../../../assets/all-fonts/Barlow/Barlow-Regular.woff') format('woff'),
  url('../../../../assets/all-fonts/Barlow/Barlow-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hind-Madurai';
  src: url('../../../../assets/all-fonts/HindMadurai-Regular/HindMadurai-Regular.eot');
  src: url('../../../../assets/all-fonts/HindMadurai-Regular/HindMadurai-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../../../assets/all-fonts/HindMadurai-Regular/HindMadurai-Regular.woff2') format('woff2'),
  url('../../../../assets/all-fonts/HindMadurai-Regular/HindMadurai-Regular.woff') format('woff'),
  url('../../../../assets/all-fonts/HindMadurai-Regular/HindMadurai-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Hind-Madurai-bold';
  src: url('../../../../assets/all-fonts/HindMadurai-Bold/HindMadurai-Bold.eot');
  src: url('../../../../assets/all-fonts/HindMadurai-Bold/HindMadurai-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../../../assets/all-fonts/HindMadurai-Bold/HindMadurai-Bold.woff2') format('woff2'),
  url('../../../../assets/all-fonts/HindMadurai-Bold/HindMadurai-Bold.woff') format('woff'),
  url('../../../../assets/all-fonts/HindMadurai-Bold/HindMadurai-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Hind-Madurai-SemiBold';
  src: url('../../../../assets/all-fonts/HindMadurai-SemiBold/HindMadurai-SemiBold.eot');
  src: url('../../../../assets/all-fonts/HindMadurai-SemiBold/HindMadurai-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../../../../assets/all-fonts/HindMadurai-SemiBold/HindMadurai-SemiBold.woff2') format('woff2'),
  url('../../../../assets/all-fonts/HindMadurai-SemiBold/HindMadurai-SemiBold.woff') format('woff'),
  url('../../../../assets/all-fonts/HindMadurai-SemiBold/HindMadurai-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Comforter';
  src: url('../../../../assets/all-fonts/ComforterBrush-Regular/ComforterBrush-Regular.eot');
  src: url('../../../../assets/all-fonts/ComforterBrush-Regular/ComforterBrush-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../../../assets/all-fonts/ComforterBrush-Regular/ComforterBrush-Regular.woff2') format('woff2'),
  url('../../../../assets/all-fonts/ComforterBrush-Regular/ComforterBrush-Regular.woff') format('woff'),
  url('../../../../assets/all-fonts/ComforterBrush-Regular/ComforterBrush-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}