$fontFamily: 'Hind-Madurai';
$fontFamilyBold: 'Hind-Madurai-bold';
$fontTitle: 'Poppins-Bold';
$rounded: 40px;
$mainColor:  #217276;
$secondColor:   #2fb6ba;
$transition: all ease .4s;
$shadow: 0 0 12px rgb(0 0 0 / 10%);
$border: 1px solid #ccc;
