

#header {
  width: 960px;
  margin: 0 auto 0;
}

/* line 40, scss/index.scss */

#header h1 {
  font-family: 'Lato', sans-serif;
  font-size: 40px;
  line-height: 50px;
  font-weight: 100;
  letter-spacing: 2px;
  color: #ebebeb;
  text-shadow: rgba(0, 0, 0, 0.9) 2px 2px 4px;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 5%;
  text-align: center;
}

/* line 55, scss/index.scss */

#progressbar {
  width: 960px;
  height: 3px;
  margin-top: -3px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(130, 130, 130, 0.8)), color-stop(90%, rgba(215, 215, 235, 0.85)), color-stop(95%, rgba(225, 225, 255, 0.9)), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(left, rgba(130, 130, 130, 0.8) 0%, rgba(215, 215, 235, 0.85) 90%, rgba(225, 225, 255, 0.9) 95%, #ffffff 100%);
  background-image: -moz-linear-gradient(left, rgba(130, 130, 130, 0.8) 0%, rgba(215, 215, 235, 0.85) 90%, rgba(225, 225, 255, 0.9) 95%, #ffffff 100%);
  background-image: -o-linear-gradient(left, rgba(130, 130, 130, 0.8) 0%, rgba(215, 215, 235, 0.85) 90%, rgba(225, 225, 255, 0.9) 95%, #ffffff 100%);
  background-image: -ms-linear-gradient(left, rgba(130, 130, 130, 0.8) 0%, rgba(215, 215, 235, 0.85) 90%, rgba(225, 225, 255, 0.9) 95%, #ffffff 100%);
  background-image: linear-gradient(left, rgba(130, 130, 130, 0.8) 0%, rgba(215, 215, 235, 0.85) 90%, rgba(225, 225, 255, 0.9) 95%, #ffffff 100%);
  -moz-transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

/* line 64, scss/index.scss */

#gallery-con {
  width: 100%;
  /*height: 600px;*/
  margin: 0 auto 0;
  padding: 0;
  border-radius: 5px;
}

/* line 72, scss/index.scss */

#gallery-con #gallery-main {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 0;
  width: 100%;
  height: 460px;

}
#gallery-con #gallery-main img{
  width: 100%;
  height: 460px;
  /*border-radius:   5px 5px 0 0;*/
}
/* line 79, scss/index.scss */

#gallery-con #gallery-hidden {
  margin: 0;
  padding: 0;
  position: absolute;
  display: none;
  z-index: -1;
}

/* line 87, scss/index.scss */

#gallery-con #thumbnails {
  width:100%;
  height: 100px;
  background: rgba(255, 255, 255, 0.6);
  z-index: 10;
  /*margin-top: 418px;*/
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0.6;
}

/* line 97, scss/index.scss */

#gallery-con #thumbnails:hover {
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
}

/* line 102, scss/index.scss */

#gallery-con #thumbnails #thumbcon {
  width: 90%;
  /*height: 120px;*/
  display: inline-block;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  float: left;
}

/* line 111, scss/index.scss */

#gallery-con #thumbnails #thumbcon .thumb {
  width: 90px;
  height: 77px;
  display: inline;
  margin: 12px 5px;
  opacity: 0.9;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

/* line 121, scss/index.scss */

#gallery-con #thumbnails #thumbcon .thumb:hover {
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 2px;
  -o-box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 2px;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 2px;
}

/* line 128, scss/index.scss */

#gallery-con #thumbnails #thumbcon .selected {
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
  border: 3px solid rgb(221, 155, 48);

}

/* line 135, scss/index.scss */

#gallery-con #thumbnails .ui-button {
  width: 16px;
  height: 16px;

  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 145, scss/index.scss */

#gallery-con #thumbnails .ui-button:hover {
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
  
}

/* line 152, scss/index.scss */

#gallery-con #thumbnails #left-arrow {
  margin-top: 40px;
  margin-left: 8px;
  margin-right: 4px;
  display: inline-block;
  float: left;
}

/* line 161, scss/index.scss */

#gallery-con #thumbnails #right-arrow {
  margin-top: 40px;
  margin-right:8px;
  margin-left: 4px;
  display: inline-block;
  float: left;
}

/* line 170, scss/index.scss */

#gallery-con #thumbnails #playtoggle {
  float: right;
  margin-top: -40px;
  margin-right: 10px;
}

/* line 176, scss/index.scss */

#gallery-con #thumbnails .icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url(../images/sprites.png);
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 22;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 187, scss/index.scss */

#gallery-con #thumbnails .icon-play {
  background-position: 0 0;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 191, scss/index.scss */

#gallery-con #thumbnails .icon-pause {
  background-position: -32px 0;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 195, scss/index.scss */

#gallery-con #thumbnails .icon-arrow-right {
  background-position: -64px 0;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 199, scss/index.scss */

#gallery-con #thumbnails .icon-arrow-left {
  background-position: -96px 0;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
