@font-face {
 font-family:iransansb;
 src: url("../../../assets/all-fonts/IRANSansWeb_FaNum.eot") format('eot'),
 url("../../../assets/all-fonts/IRANSansWeb_FaNum.woff") format('woff'),
 url("../../../assets/all-fonts/IRANSansWeb_FaNum.woff2") format('woff2');
}
@font-face {
 font-family:iransans;
 src: url("../../../assets/all-fonts/IRANSansWeb_FaNum.eot") format('eot'),
 url("../../../assets/all-fonts/IRANSansWeb_FaNum.woff") format('woff'),
 url("../../../assets/all-fonts/IRANSansWeb_FaNum.woff2") format('woff2');
}
:root {
 --mainColor:#512873;
 --secondColor:#009483
}
body,
html {
 font-family:iransans,serif!important;
 overflow-x:hidden;
 background:#fff
}
input,
select {
 font-family:iransans,serif!important;
}
li {
 list-style:none
}
a:hover {
 text-decoration:none
}
a {
 text-decoration:none
}
.height_C {
 height:56px
}
.title {
 text-align:center;
 font-size:17px;
 border-bottom:1px solid #ccc;
 padding-bottom:10px!important;
 margin:1rem 0;
 position:relative;
 font-family:iransansb;
 color:var(--mainColor);
 font-weight:700
}
.title::after {
 content:"";
 display:flex;
 width:100px;
 height:2px;
 background:var(--mainColor);
 position:absolute;
 bottom:-1px;
 right:50%;
 transform:translateX(50%)
}
.owl-dots {
 display:flex;
 justify-content:center
}
.owl-dot {
 display:flex;
 width:10px!important;
 height:10px!important;
 background-color:#ccc!important;
 border-radius:50%;
 margin:0 2px;
 margin-top:1rem;
 margin-bottom:1rem
}
.owl-dot.active {
 background-color:var(--secondColor)!important;
 transform:scale(1.3);
 transition:all .3s
}
.button {
 text-transform:uppercase;
 text-decoration:none;
 padding:10px 15px;
 display:inline-block;
 border-radius:10px;
 transition:all .2s;
 position:relative
}
.button:hover {
 color:var(--secondColor);
 background-color:#fff
}
.button {
 border:1px solid var(--secondColor);
 background-color:var(--secondColor);
 color:#fff;
 text-align:center
}
.button_D {
 text-transform:uppercase;
 text-decoration:none;
 padding:10px 15px;
 display:inline-block;
 border-radius:10px;
 transition:all .2s;
 position:relative;
 text-align:center
}
.button_D:hover {
 color:var(--mainColor);
 background-color:#fff
}
.button_D {
 background-color:var(--mainColor);
 color:#fff;
 border:1px solid var(--mainColor)
}
.btns_hotels>div {
 margin:5px 0
}
.btns_hotels .nav-tabs .nav-link {
 background:0 0;
 border:1px solid #999;
 border-radius:10px;
 margin:0 5px;
 color:#999
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
 background:#23419b;
 border:1px solid transparent;
 border-radius:10px;
 color:#fff
}
.news_main {
 min-height:300px;
 background-image:url(../images/bg_article.jpg);
 background-size:cover;
 background-color:#0009;
 background-blend-mode:darken;
 background-attachment:fixed;
 background-position:center;
 display:flex;
 align-items:center;
 flex-wrap:wrap;
 padding:1rem;
 background-repeat:repeat
}
.news_text h6 {
 display:flex;
 color:#fff;
 font-size:18px
}
.news_text {
 display:flex;
 flex-direction:column;
 align-items:center
}
.news_text span {
 display:flex;
 color:#ccc;
 text-align:justify;
 font-size:14px
}
.news_main form {
 display:flex;
 flex-wrap:wrap;
 justify-content:center;
 margin-top:2rem
}
.news_main form>label {
 display:flex;
 flex-direction:column;
 margin:0
}
.news_main form>label input {
 height:44px;
 border-radius:10px;
 border:none;
 padding:1rem;
 font-size:13px;
 border:1px solid #ccc
}
.news_main form>label span {
 color:#fff;
 text-align:justify;
 margin-bottom:5px;
 font-size:13px
}
.news_main>form .read-more a {
 border-color:#fff!important;
 color:#fff!important
}
.font_size_main {
 font-size:13px
}
.banner {
 background-image:url(../images/airline.jpg);
 background-size:cover;
 background-position:center;
 background-attachment:fixed;
 background-color:#0003;
 background-blend-mode:darken;
 width:100%;
 height:calc(40vh - 82px);
 min-height:500px;
 display:flex;
 justify-content:center;
 align-items:center
}
.d_contents {
 width:100%;
 display:flex;
 flex-wrap:wrap
}
.tour_box_main {
 position:relative;
 display:flex;
 justify-content:center;
 align-items:flex-end;
 z-index:2;
 height:200px;
 overflow:hidden;
 border-radius:10px
}
.tour_box_main>img {
 position:absolute;
 z-index:-1;
 filter:brightness(.5);
 transition:all .3s
}
.tour_box_main>div {
 color:#fff;
 display:flex;
 flex-direction:column;
 align-items:center;
 justify-content:center;
 transition:all .3s;
 transform:translateY(45px);
}
.tour_box_main>div>.span1 {
 font-size:15px
}
.tour_box_main>div>.span2 {
 font-size:14px
}
.tour_box_main>div>span>span {
 font-size:15px;
 font-family:iransansb
}
.tour_box_main>div>h5 {
 font-size:20px;
 transition:all .3s;
 font-family:iransansb
}
.tour_box_main:hover div {
 transform:translateY(-10px)
}
.tour_box_main:hover img {
 filter:brightness(.3);
 transform:scale(1.2)
}
.tour_box_main:hover h5 {
 font-size:16px
}
.blog {
 padding:1rem 0;
 background-color:#f8f8f8
}
.blog_main>a>img {
 width:100px;
 height:100px;
 object-fit:cover;
 border-radius:10px
}
.blog_main>a {
 display:flex
}
.blog_main>a>div {
 display:flex;
 flex-direction:column;
 justify-content:space-around;
 text-align:justify;
 margin-right:10px
}
.blog_main>a>div>h6 {
 font-family:iransansb;
 font-size:13px;
 margin:0;
 color:#333;
 overflow:hidden;
 width:100%;
 display:-webkit-box;
 -webkit-line-clamp:1;
 -webkit-box-orient:vertical
}
.blog_main>a>div p {
 font-size:12px;
 margin:0;
 color:#444;
 overflow:hidden;
 width:100%;
 display:-webkit-box;
 -webkit-line-clamp:3;
 -webkit-box-orient:vertical
}
#myTab_tow {
 padding:0;
 display:flex;
 justify-content:center;
 align-items:center
}
#myTab_tow a {
 background:#ccc;
 color:#333;
 margin:0 .3rem;
 margin-bottom:15px;
 font-size:14px;
 border-radius:10px
}
#myTab_tow a.active {
 background:var(--mainColor);
 color:#fff
}
.Flight_sec {
 margin:2rem 0
}
.Flight_sec .titel {
 margin-bottom:2rem
}
.Flight_box {
 border:1px solid #ccc;
 border-radius:10px;
 padding:10px
}
.Flight_box>h5 {
 font-size:15px;
 text-align:center;
 border-bottom:1px solid #ccc;
 padding-bottom:15px;
 color:#333;
 padding-top:5px;
 margin-bottom:10px
}
.Flight_box>h5>span {
 color:var(--secondColor);
 font-weight: 600;
 font-size: 20px;
}
.newsPaper {
 background-color:#f8f8f8;
 background-image:url(../images/bgtexture.png);
 background-size:370px;
 padding:1rem 0;
}
.Flight_box>ul {
 list-style:none;
 padding:0;
 margin:0;
 display:flex;
 flex-wrap:wrap
}
.Flight_box>ul>li {
 width:50%;
 display:flex
}
.Flight_box>ul>li>a {
 transition:all .3s;
 width:100%;
 height:40px;
 display:flex;
 align-items:center;
 justify-content:space-evenly;
 border:1px solid #ccc;
 border-radius:10px;
 margin:5px;
 color:#555;
 font-size:13px
}
.Flight_box>ul>li>a>i.fa-light {
 font-size:15px;
 transition:all .3s;
 color:var(--secondColor)
}
.Flight_box>ul>li>a>i.fa-user {
 font-size:12px
}
.Flight_box>ul>li>a:hover i {
 color:#fff
}
.Flight_box>ul>li>a:hover {
 text-decoration:none;
 background:var(--secondColor);
 color:#fff
}
.Flight_sec_Owl .item {
 padding:1px
}
.newsPaper>.container>.col-lg-6>a {
 position:relative;
 border-radius:10px;
 overflow:hidden;
 padding:1rem;
 z-index:2;
 display:flex;
 justify-content:center;
 align-items:center;
 color:#fff;
 min-height:250px
}
.newsPaper>.container>.col-lg-6>a>img {
 width:100%;
 position:absolute;
 inset:0;
 width:100%;
 height:100%;
 z-index:-1;
 filter:brightness(.3);
 transition:all .3s
}
.newsPaper>.container>.col-lg-6>a>div {
 display:flex;
 flex-direction:column;
 justify-content:center;
 align-items:center
}
.newsPaper>.container>.col-lg-6>a>div>h5 {
 font-size:16px
}
.newsPaper>.container>.col-lg-6>a>div>p {
 font-size:14px;
 text-align:justify;
 margin:1rem 0;
 line-height:1.8;
 overflow:hidden;
 width:100%;
 display:-webkit-box;
 -webkit-line-clamp:4;
 -webkit-box-orient:vertical
}
.newsPaper>.container>.col-lg-6:hover img {
 transform:scale(1.1)
}

@media (max-width:768px) {
 .hotel_box_main>div,
 .tour_box_main>div {
  transform:translateY(-15px) !important;
 }
 footer>div>ul>li>h6::after {
  width:100%
 }
 .news_main form>label {
  margin-bottom:1rem;
  padding-left:0!important;
  padding-right:0!important
 }
 .news_main form>.btn_mmore {
  margin-top:1rem!important;
  padding-left:0!important;
  padding-right:0!important
 }
}
@media (max-width:545px) {
 .nav-brand>div {
  display:none
 }
}
.fa-angle-right::before {
 content: "\203a";
}
.st0 {
 fill:#ef3087;
 stroke:#fff;
 stroke-width:25;
 stroke-miterlimit:10
}
.st1{
 fill:#fcfcfc
}