@import url('../../css/fonts.css');

#mbmcpebul_table {
	padding: 0px;
	line-height: 0px;
	font-size: 0px;
	display: inline-block;
	margin-top: 1.5%;
	margin-right: auto;
	margin-left: auto;
	width: 890px;
}

#mbmcpebul_table li a {
	line-height: 26px;
	font-size: 17px;
	font-family: 'Yekan', Tahoma, Geneva, sans-serif;
	text-decoration: none;
	color: #4f0000;
	font-style: normal;
	font-weight: normal;
	display: block;
	cursor: pointer;
	white-space: nowrap;
	padding: 21px 10px;
}

#mbmcpebul_table li div.buttonbg {
  height: 68px;
  width: 142px;
  line-height: 0;
  background-color: #fec03b;
  border-style: solid;
  border-color: transparent;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
  text-align: right;
}

#mbmcpebul_table li:hover div.buttonbg a, #mbmcpebul_table li.expanded a.topitem, #mbmcpebul_table li.active a.topitem,
#mbmcpebul_table li.itemhot a.topitem, #mbmcpebul_table li a:hover {
  color: #EDF2F8;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}


#mbmcpebul_table li.expanded div.buttonbg, #mbmcpebul_table li.active div.buttonbg, #mbmcpebul_table li.itemhot div.buttonbg, #mbmcpebul_table li:hover div.buttonbg {
  background-color: #f68121;
  box-shadow: none;
  border-color: transparent;
  -moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}


#mbmcpebul_table {
  padding: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 0;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
  border-collapse: separate;
  background-image: url('wrapper_bg.png');
  background-repeat: repeat-x;
  background: -moz-linear-gradient(top, transparent 0%);
  background: -webkit-linear-gradient(top, transparent 0%);
  background: -ms-linear-gradient(top, transparent 0%);
  background: linear-gradient(top, transparent 0%);
}

#mbmcpebul_table ul li a {
	color: #FFFFFF;
	font-family: 'Yekan', Tahoma, Geneva, sans-serif;
	font-size: 15px;
	line-height: 15px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	display: block;
	vertical-align: middle;
	white-space: nowrap;
	
}

#mbmcpebul_table ul li:hover > a {
  color: #ECF2F8;
 font-family: 'Yekan', Tahoma, Geneva, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

#mbmcpebul_table ul li.subexpanded a.subexpanded, #mbmcpebul_table ul li.subitemhot a.subitemhot, #mbmcpebul_table ul li a:hover {
  color: #ECF2F8;
  font-family: 'Yekan', Tahoma, Geneva, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

#mbmcpebul_table ul li:hover, #mbmcpebul_table ul li.subexpanded, #mbmcpebul_table ul li.subitemhot {
  border-color: transparent;
  background-color: #bf6011;
  box-shadow: none;
}

#mbmcpebul_table ul {
  margin: 0;
  border-style: solid;
  border-color: #7695B3;
  border-width: 0;
  padding: 0;
  background: transparent;
  font-size: 0;
  border-radius: 0;
 
}

#mbmcpebul_table ul li a {
	padding: 10px 18px 10px 16px;
	text-align: right;
	
}

#mbmcpebul_table ul li.separator {
  padding: 10px;
  cursor: default;
  background: none;
  box-shadow: none;
  border-width: 0;
}

#mbmcpebul_table ul li.separator div {
  border-top: 1px solid #000000;
  font-size: 0px;
}

#mbmcpebul_table ul li {
	border-style: solid;
	border-color: transparent;
	border-width: 0;
	height: auto;
	width: auto;
	text-align: right;
	line-height: 0;
	font-size: 0;
	cursor: pointer;
	float: none;
	border-radius: 0;
	padding: 0;
	box-shadow: none;
	/* background-color: #750000;*/
	background-color: rgba(202, 158, 73, 0.9);
	background: rgba(202, 158, 73, 0.9);

	margin-right: 0;
	margin-left: 0;
}


#mbmcpebul_table .spaced_li {
  margin: 0px 2px 0px 0px;
}

#mbmcpebul_table a img {
  border: none;
}

#mbmcpebul_table li {
  list-style: none;
  float: left;
}

#mbmcpebul_table.css_menu li {
  position: relative;
}

#mbmcpebul_table.css_menu ul li:hover > ul {
  opacity: 1;
}

#mbmcpebul_table.css_menu li:hover > ul {
  top: 100%;
  left: 0;
  right: auto;
  opacity: 1;
}

#mbmcpebul_table.css_menu ul li:hover > ul {
  top: -0px;
  left: 100%;
  right: auto;
}

#mbmcpebul_table.css_menu ul {
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-property:opacity;
  -webkit-transition-property:opacity;
  -moz-transition-property:opacity;
  -ms-transition-property:opacity;
  opacity: 0;
}

#mbmcpebul_table ul {
  position: absolute;
  top:-99999px;
  z-index: 4000;
}

#mbmcpebul_table ul ul {
  position: absolute;
  z-index: 5000;
}

#mbmcpebul_table .submenu_arrow {
  margin-left: 8px;
}

#mbmcpebul_table a.with_img_4 span.img_4x5, .mbmcpebul_menulist span.img_4x5 { 
  width: 4px; 
  height: 5px; 
  display: inline-block; 
  vertical-align: middle; 
}

#mbmcpebul_table li:hover > a span.img_4x5, #mbmcpebul_table li.subexpanded > a span.img_4x5 { 
  background-position: 0 -5px; 
} 

#mbmcpebul_table div.arrow { 
  background-image: url(ebab_mbmcp_d.png); 
  background-repeat: no-repeat; 
  background-position: right center; 
  height: 100%; 
} 

#mbmcpebul_table li:hover div.arrow, #mbmcpebul_table li.active div.arrow, #mbmcpebul_table li.expanded div.arrow, #mbmcpebul_table li.itemhot div.arrow { 
  background-image: url(ebab_mbmcp_d2.png); 
} 

#mbmcpebul_table ul li a.with_arrow { 
  background-image: url(ebab_mbmcp_c.png); 
  background-repeat: no-repeat; 
  background-position: right center; 
  padding-right: 22px; 
} 

#mbmcpebul_table ul li a.with_arrow:hover, #mbmcpebul_table ul li:hover > a.with_arrow, #mbmcpebul_table ul li.subexpanded > a.with_arrow { 
  background-image: url(ebab_mbmcp_c2.png); 
} 

#mbmcpebul_table li a.button_2, #mbmcpebul_table li div a.button_2 { 
  padding-right: 36px; 
} 

#mbmcpebul_table li a.button_5, #mbmcpebul_table li div a.button_5 { 
  padding-right: 36px; 
} 

#mbmcpebul_table li a.button_6, #mbmcpebul_table li div a.button_6 { 
  padding-right: 36px; 
} 

/*-------------:hover ------------*/


.buttonbg_green:hover {
	background-color: #32ab02;
	box-shadow: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.buttonbg_blue:hover {
	background-color: #006699;
	box-shadow: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.buttonbg_red:hover{
	background-color: #d40514;
	box-shadow: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.buttonbg_borpink:hover {
	background-color: #9e025f;
	box-shadow: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.buttonbg_violet:hover {
	background-color: #5616a3;
	box-shadow: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.buttonbg_pink:hover {
	background-color: #ec18b3;
	box-shadow: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.buttonbg_brown:hover {
	background-color: #b86813;
	box-shadow: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
