
@font-face {
  font-family: 'IRANSansWeb';
  src: url("../fonts/IRANSansWeb_FaNum/IRANSansWeb_FaNum.eot") format("eot");
  src: url("../fonts/IRANSansWeb_FaNum/IRANSansWeb_FaNum.woff") format("woff");
  src: url("../fonts/IRANSansWeb_FaNum/IRANSansWeb_FaNum.woff2") format("woff2");
}
