$fontFamilyXVF: 'IRANYekanXVF', IRANYekanX;
$fontFamily: IRANYekanX;
$rounded: 12px;
$mainColor: #00CED1;
$secondColor: #dcdcdc;
$transition: all ease .5s;
$boxShadow: 0 1px 2px 0 rgba(0,0,0,.03);
$colorTitle: #000;
$border: 1px solid #eee;
$colorGreen:  #42940f;
$subColor:gray;
$hoverBtn : #dcdcdc;
$roundedBtn :20px;

