$fontFamily: 'yekanbakhmedium';
$fontFamilyBold: 'yekanbakhBold';
$fontTitle: 'iranbold';
$rounded: 15px;
//$mainColor: #000b55;
$mainColor: #b10f24;
//$secondColor: #830e0e;
$secondColor: #000000;
$transition: all ease .3s;


