$fontFamily: 'yekanbakhmedium';
$fontFamilyBold: 'yekanbakhBold';
$fontTitle: 'iranbold';
$rounded: 25px;
$mainColor:  #df5636;
$secondColor:   #2a3c7a;
$transition: all ease .4s;
$shadow: 0 0 12px rgb(0 0 0 / 10%);
$border: 1px solid #ccc;
