@font-face {
  font-family: IRANSansWeb;
  src: url("../../../assets/all-fonts/IRANSansWeb/IRANSansWeb(FaNum).eot");
  src: url("../../../assets/all-fonts/IRANSansWeb/IRANSansWeb(FaNum).ttf");
  src: url("../../../assets/all-fonts/IRANSansWeb/IRANSansWeb(FaNum).woff");
  src: url("../../../assets/all-fonts/IRANSansWeb/IRANSansWeb(FaNum).woff2");
}
@font-face {
  font-family: IRANSansFaNum-Bold;
  src: url("../../../assets/all-fonts/IRANSansWeb/IRANSansFaNum-Bold.eot");
  src: url("../../../assets/all-fonts/IRANSansWeb/IRANSansFaNum-Bold.ttf");
  src: url("../../../assets/all-fonts/IRANSansWeb/IRANSansFaNum-Bold.woff");
  src: url("../../../assets/all-fonts/IRANSansWeb/IRANSansFaNum-Bold.woff2");
}