.client-profile-has-submenu {
  position: relative;
}

/* جعبه‌ی زیرمنو */
.client-profile-submenu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0; /* اگر قالب چپ‌چین است، بگذار left: 0 */
  background: #fdfdfd; /* رنگ اصلی یا جایگزین تیره */
  border-radius: 8px;
  min-width: 160px;
  overflow: hidden;
  z-index: 10;
  color: #000000;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
}

/* لینک‌های داخل زیرمنو */
.client-profile-submenu a {
  display: block;
  padding: 10px 15px;
  color: #000000;
  text-decoration: none;
  transition: background 0.2s;
}

/* رنگ هنگام هاور */
.client-profile-submenu a:hover {
  background: var(--mainColor);
  color: #fff;
}

.tabs {
  display: flex;
  cursor: pointer;
  border-bottom: 2px solid #ddd;
}
.tab {
  flex: 1;
  text-align: center;
  padding: 10px 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-bottom: none;
  transition: background-color 0.3s ease;
}
.tab:hover {
  background-color: #e0e0e0;
}
.tab.active {
  background-color: #fff;
  font-weight: bold;
  border-top: 2px solid #007bff;
}
.content {
  display: none;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
}
.content.active {
  display: block;
}
table.OutSerach {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;

}
th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  font-size: 12px;
}
th {
  background-color: #007bff;
  color: white;
  font-size: 14px;
}
tr:nth-child(even) {
  background-color: #f9f9f9;
}
tr:hover {
  background-color: #f1f1f1;
}

/* نمایش زیرمنو با هاور */
.client-profile-has-submenu:hover .client-profile-submenu {
  display: block;
  color: #fff;
}
