body{
    overflow-x: visible !important;
}
.passengerDetailReservationTour_title{
    color: #000;
    font-size: 18px;
    margin-bottom: 1rem;
}
.passengerDetailReservationTour_aside_title{
    color: #000;
    font-size: 15px;
    margin-bottom: 1.5rem;
}
.passengerDetailReservationTour_aside_title_main{
    color: #000;
    font-size: 18px;
    margin-bottom: 1rem;
}
.passengerDetailReservationTour_title > svg ,
.passengerDetailReservationTour_aside_title_main > svg{
    fill: #000;
    width: 20px;
    height: 20px;
}
.passengerDetailReservationTour_hotel ,
.passengerDetailReservationTour_aside_box ,
.passengerDetailReservationTour_tour,
.passengerDetailReservationTour_users{
    padding: 18px;
    border-radius: 10px;
    border: 1px solid #ddd;
    background: #fff;
}
.passengerDetailReservationTour_users{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 2rem;
}
.passengerDetailReservationTour_tour{
    margin-bottom: 2rem;
}
.passengerDetailReservationTour_hotel {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}
.passengerDetailReservationTour_hotel_img {
    width: 100%;
    height: 100%;
}
.passengerDetailReservationTour_hotel_img > img {
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
    height: 200px;
}
.passengerDetailReservationTour_hotel_text {
    padding-inline-start: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.passengerDetailReservationTour_hotel_text_hotelNameAndStar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
.passengerDetailReservationTour_hotel_text_hotelNameAndStar > h2{
    color: #000;
    font-size: 15px;
    margin-bottom: 0;
}
.passengerDetailReservationTour_hotel_text_hotelNameAndStar > div{
}
.passengerDetailReservationTour_hotel_text_hotelNameAndStar > div > svg{
    fill: #666;
    width: 15px;
    height: 15px;
}
.passengerDetailReservationTour_hotel_text_hotelNameAndStar > div > svg.active_star{
    fill: #fc0;
}
.passengerDetailReservationTour_hotel_text_hotelBed{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
    margin-top: auto;
}
.passengerDetailReservationTour_hotel_text_hotelBed_div{
    background: #fff;
    border-radius: 10px 0 10px 10px;
    padding: 10px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 1.7rem;
}
.passengerDetailReservationTour_hotel_text_hotelBed_div_span{
    position: absolute;
    bottom: 100%;
    right: -1px;
    color: #000;
    font-size: 12px;
    margin-bottom: 0;
    border: 1px solid #ddd;
    background: #f7f7f7;
    border-radius: 10px 10px 0 0;
    padding: 3px 14px;
}
.passengerDetailReservationTour_hotel_text_hotelBed_div_span > svg{
    fill: #000;
    width: 15px;
    height: 15px;
}
.passengerDetailReservationTour_hotel_text_hotelBed_div_h2{
    color: #000;
    font-size: 12px;
    margin-bottom: 0;
}
.passengerDetailReservationTour_hotel_text_hotelBed_div_h2,
.passengerDetailReservationTour_hotel_text_hotelBed_div_div{
    color: #000;
    font-size: 12px;
    margin-bottom: 0;
}
.passengerDetailReservationTour_hotel_text_hotelBed_div_div{
    font-weight: bold;
    font-size: 14px;
    color: #444;
}
.passengerDetailReservationTour_hotel_text_hotelBed_div_div > i {
    font-style: normal;
}
.passengerDetailReservationTour_tour .box-data-top {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}
.passengerDetailReservationTour_tour .box-data-top-item {
    display: flex;
}
.passengerDetailReservationTour_tour .icone-data-tour {
    background: #FFFFFF;
    border: 1px solid #ddd;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 8px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
.passengerDetailReservationTour_tour .icone-data-tour i {
    font-size: 21px;
    color: #444;
}
.passengerDetailReservationTour_tour .text-data-tour {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 22px;
}
.passengerDetailReservationTour_tour .box-data-top-titr {
    color: #232323 !important;
    font-size: 14px !important;
}
.passengerDetailReservationTour_tour .text-data-tour span {
    font-size: 12px;
    color: #727272;
}
.passengerDetailReservationTour_tour .box-data-bottom {
    margin-top: 15px;
}
.passengerDetailReservationTour_tour .include, .passengerDetailReservationTour_tour .exclude {
    margin: 0;
    padding: 0;
    list-style: none;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
}
.passengerDetailReservationTour_tour .list-unstyled {
    font-size: 13px;
    color: #000;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.passengerDetailReservationTour_tour .list-unstyled:last-child {
    margin-bottom: 0;
}
.passengerDetailReservationTour_tour .include .list-unstyled i {
    background: #CEF2E5;
    color: #10AC58;
    border-radius: 50%;
    font-size: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-left: 10px;
}
.users_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.users_header span {
    color: #000;
    font-size: 16px;
}
.users_header button {
    background: #FFFFFF;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 8px 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #000;
    gap: 5px;
    transition: all .3s;
}
.users_header button:hover {
    background: #ccc;
}
.users_header button svg {
    color: #000;
    width: 20px;
    height: 20px;
}
.users_checkBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
.users_checkBox > div {
    display: flex;
    align-items: center;
    gap: 10px;
}
.btn-radio{
    cursor: pointer;
}
.btn-radio input {
    display: none;
}
.btn-radio span {
    font-size: 13px;
    color: #333;
    display: flex;
    vertical-align: middle;
    position: relative;
    align-items: center;
}
.btn-radio span::before {
    content: "";
    width: 20px;
    height: 20px;
    border: 2px solid var(--mainColor);
    display: flex;
    border-radius: 100%;
    margin-left: 5px;
}
.btn-radio input:checked+span::after {
    display: flex;
}
.btn-radio span::after {
    content: "";
    width: 12px;
    height: 12px;
    background: var(--mainColor);
    display: none;
    border-radius: 100%;
    position: absolute;
    right: 4px;
}
.users_input{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.users_input input{
    padding: 10px;
    height: 50px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 10px;
}
.users_file{

}
.users_file > label{
    width: 100%;
    height: 70px;
    border-radius: 10px;
    border: 2px dashed #ddd;
    margin-top: 1rem;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #757575;
    font-size: 14px;
}
.users_file > label > input{
    display: none;
}
.passengerDetailReservationTour_aside{
    position: sticky;
    top: 90px;
}
.passengerDetailReservationTour_aside_subTitle {
    display: flex;
    align-items: center;
    margin-bottom: .85rem;
    justify-content: space-between;
}
.passengerDetailReservationTour_aside_subTitle > h3 {
    color: #000;
    font-size: 14px;
    margin-bottom: 0;
}
.passengerDetailReservationTour_aside_subTitle > h4 {
    color: #000;
    font-size: 14px;
    margin-bottom: 0;
}
.passengerDetailReservationTour_aside_lastBox{
    display: flex;
    flex-direction: column;
}
.passengerDetailReservationTour_aside_lastBox > div{
    display: flex;
    align-items: flex-start;
    margin-bottom: 0.85rem;
    flex-direction: column;
    gap: 10px;
}
/*#discount-code{*/
/*    height: 40px;*/
/*    border-radius: 10px;*/
/*    color: #000 !important;*/
/*    font-size: 14px !important;*/
/*}*/
.discount-code-error {
    color: #a40127;
    font-size: 14px;
}
.parent-input-btn-cod-discount{
    width: 100%;
    position: relative;
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
}
.parent-input-btn-cod-discount > div:first-child {
    flex-basis: 100%;
}
.parent-input-btn-cod-discount > div:last-child {
    display: flex;
    align-items: end;
}
.parent-code-error{
    margin-bottom: 15px;
    color: red;
    font-size: 12px;
}
/*.input-group-btn{*/
/*    position: absolute;*/
/*    top: 32px;*/
/*    left: 3px;*/
/*}*/
.btn-code-discount{
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 12px;
    padding: 0 10px;
    transition: all ease .3s;
}
.btn-code-discount:hover{
    opacity: .8;
}
.passengerDetailReservationTour_aside_lastBox > div > span{
    color: #000;
    font-size: 14px;
    margin-bottom: 0;
}
.passengerDetailReservationTour_aside_lastBox > div > span:last-child p{
    margin: 0;
    display: inline-flex;
    font-size: 12px;
}
.passengerDetailReservationTour_aside_lastBox .discount > span:last-child {
    font-weight: bold;
    color: #ee384e;
    font-size: 15px;
}
.passengerDetailReservationTour_aside_lastBox .prepayment > span:last-child {
    font-weight: bold;
    color: #444;
    font-size: 15px;
}
.passengerDetailReservationTour_aside_lastBox .price > span:last-child {
    font-weight: bold;
    font-size: 20px;
    color: #10b510;
}
.passengerDetailReservationTour_aside_lastBox > p {
    color: #000;
    font-size: 12px;
    margin-bottom: 0.45rem;
}
.passengerDetailReservationTour_aside_lastBox > button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px .75rem;
    border: solid 1px rgba(0, 0, 0, .12);
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 1px 1px -1px rgba(0, 0, 0, .08);
    outline: 2px none #4B5259;
    outline-offset: calc(2px * -1);
    background-color: #2dbe2d;
    color: #F2F9FF;
    transition: all .3s;
}
.passengerDetailReservationTour_aside_lastBox > button:hover {
    opacity: .8;
}


.passengerDetailReservationTour_users_info{}
.passengerDetailReservationTour_users_info > div > h4 {
    color: #000;
    font-size: 16px;
    margin-bottom: 10px;
}
.passengerDetailReservationTour_users_info > div > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 20px;
    background: #ddd;
    padding: 20px;
    border-radius: 10px;
}
.passengerDetailReservationTour_users_info > div > div > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.passengerDetailReservationTour_users_info > div > div > div > h4 {
    color: #000;
    font-size: 14px;
    margin: 0;
}
.passengerDetailReservationTour_users_info > div > div > div > h5{
    color: #000;
    font-size: 14px;
    margin: 0;
}
.passengerDetailReservationTour_users_info > div > div > div > h5 > button {
    background: #FFFFFF;
    border: 1px solid #ddd;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 8px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.passengerDetailReservationTour_users_info > div > div > div > h5 > button > svg {
    width: 15px;
    height: 15px;
    color: #444;
}
.select2-container--default .select2-selection--single{
    padding: 10px !important;
    height: 50px !important;
    font-size: 14px !important;
    border: 1px solid #ddd !important;
    border-radius: 10px !important;
    width: 100% !important;
    display: flex;
    align-items: center;

}
.select2-container .select2-selection--single .select2-selection__rendered{
    font-size: 14px !important;

}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 50px !important;
}
.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered{
    padding: 0 !important;
}
.select2-container .select2-selection--single .select2-selection__rendered{
    height: unset !important;
    line-height: unset !important;
}

.discount-code-new {
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}
.discount-code-new .title-discount-code {
    display: flex;
    align-items: center;
    gap: 5px
}
.discount-code-new .title-discount-code svg {
    width: 18px;
    fill: #444
}
.discount-code-new .title-discount-code h2 {
    margin-bottom: 0;
    color: #333;
    font-size: 16px
}
.discount-code-new .discount-code-data {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.discount-code-new .discount-code-data h3 {
    margin-bottom: 0;
    font-size: 14px;
    color: #444;
    text-align: right;
}
.discount-code-new .discount-code-data .form-discount-code {
    width: 400px;
    position: relative
}
.discount-code-new .discount-code-data .form-discount-code input {
    background: #f2f2f2;
    border-radius: 12px;
    padding: 0 15px;
    color: #333;
    font-size: 15px;
    height: 48px;
    width: 100%;
    outline: none;
    box-shadow: none;
    border: 1px solid #dcdcdc
}
.discount-code-new .discount-code-data .form-discount-code button {
    position: absolute;
    left: 6px;
    background: #ee384e;
    border-radius: 99999px;
    font-size: 13px;
    padding: 5px 20px;
    border: none;
    transition: all ease .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    top: 50%;
    transform: translateY(-50%)
}

@media (max-width: 992px) {
    .passengerDetailReservationTour > .row {
        display: flex;
        flex-direction: column-reverse;
    }
    .passengerDetailReservationTour_aside {
        position: static;
        margin-bottom: 2rem;
    }
    .passengerDetailReservationTour_hotel_img{
        padding-bottom: 1rem;
    }
    .passengerDetailReservationTour_hotel_text_hotelNameAndStar{
        margin-bottom: 0.5rem;
    }
}
@media (max-width: 768px) {
    .passengerDetailReservationTour_users_info > div > div {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width: 545px) {
    .users_input,
    .passengerDetailReservationTour_tour .include, .exclude,
    .passengerDetailReservationTour_hotel_text_hotelBed{
        grid-template-columns: repeat(1, 1fr);
    }
    .s-u-passenger-item {
        width: 100% !important;
        flex: 0 0 100% !important;
    }
    .discount-code-new {
        gap: 9px;
        margin-bottom: 0;
    }
    .discount-code-new .title-discount-code svg {
        width: 15px;
    }
    .discount-code-new .title-discount-code h2 {
        font-size: 14px;
    }
    .discount-code-new .discount-code-data {
        gap: 10px;
    }
    .discount-code-new .discount-code-data h3 {
        font-size: 12px;
        line-height: 20px;
    }
    .discount-code-new .discount-code-data .form-discount-code {
        width: 100%;
    }
    .discount-code-new .discount-code-data .form-discount-code input {
        font-size: 14px;
        height: 40px;
    }
    .discount-code-new .discount-code-data .form-discount-code button {
        font-size: 12px;
        padding: 2px 20px;
    }
}