@import "components/variables";
@import "components/mixin";
@import "components/fonts";


/*BANER OWL TAB*/

.baner-searchbox{
  position: relative;
  padding: 60px 0 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 40px;
}
.baner-searchbox img{
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0
}
.owl-tab{
  background: rgba(0, 0, 0, 0.29);
  border-radius: 8px;
  padding:20px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top: 4px solid #ffca06;
}
.parent-owl-carousel{
  width: 100%;
}
.child-item{
  width: 100%;
  height: 250px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: all ease .3s;
}
.child-item:hover{
  text-decoration: none;
}
.child-item img{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  filter: brightness(75%);
}
.owl-tab h2{
  color: #fff;
  font-size: 18px;
  margin-bottom: 20px;
  font-family: $fontFamilyBold,sans-serif;
}
.owl-carousel .owl-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0 0;
}
.owl-carousel .owl-dots .owl-dot.active span, .owl-carousel .owl-dots .owl-dot:hover span {
  background: #ffca06;
}
.owl-carousel .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity .2s ease;
  border-radius: 30px;
}
.night-calendar{
  position: absolute;
  top: 0;
  right: 0;
  background: #ffca06;
  color: #505050;
  border-radius:  8px ;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
  font-size: 14px;
  width: 45px;
  height: 45px;
}
.parent-blog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  position: relative;
}
.blog-item-link {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: flex-end;
  transition: all ease .3s;
  height: 200px;
  border-radius: 8px;
  overflow: hidden;
}
.blog-item-link img {
  width: 100%;
  height: 100%;
  filter: brightness(75%);
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.text-blog {
  display: flex;
  align-items: end;
  justify-content: space-between;
  position: relative;
  z-index: 3;
  flex-direction: column;
}
.blog-item-link::after {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, transparent), to( rgb(14 82 163 / 75%)));
  background: -webkit-linear-gradient(top, transparent 50%, rgb(14 82 163 / 75%) 100%);
  background: -o-linear-gradient(top, transparent 50%, rgb(14 82 163 / 75%) 100%);
  background: linear-gradient(top bottom, transparent 50%, rgb(14 82 163 / 75%) 100%);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  content: "";
  transition: 0.4s;
}
.titr-blog {
  width: 100%;
  text-align: right;
}
.titr-blog h5 {
  font-size: 16px;
  color: #fff;
  line-height: 26px;
  font-family: $fontFamilyBold,sans-serif;
}
.parent-calendar-blog {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.blog-calendar span {
  color: #ACABAB;
  font-size: 14px;
}
.blog-item-link:hover{
  text-decoration: none;
}
.blog-item-link:hover::after {
  opacity: 1;
  transition: 0.4s;
}
.money-calendar{
  position: relative;
  z-index: 3;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  padding:8px 10px;
}
.calendar-tour{
  color: #f1f1f1;
}
.money-tour{
  color: #58ff7e;
}
.child-item::after{
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, transparent), to(rgba(0, 0, 0, 0.8)));
  background: -webkit-linear-gradient(top, transparent 50%, rgba(0, 0, 0, 0.8) 100%);
  background: -o-linear-gradient(top, transparent 50%, rgba(0, 0, 0, 0.8) 100%);
  background: linear-gradient(top bottom, transparent 50%, rgba(0, 0, 0, 0.8) 100%);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  transition: 0.4s;
}
.child-item::before{
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, transparent), to( rgb(14 82 163 / 75%)));
  background: -webkit-linear-gradient(top, transparent 50%,  rgb(14 82 163 / 75%) 100%);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  transition: 0.4s;
  opacity: 0;
}
.child-item:hover::after{
  opacity: 0;
  transition: 0.4s;
}
.child-item:hover::before{
  opacity: 1;
  transition: 0.4s;
}
.child-item h3{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  position: relative;
  z-index: 3;
}


/* TAB TOUR */

.tab-tour{
  padding: 0 0 60px;
  position: relative;
}
.parent-tab-tour{
  background: #EBEBEB;
  border-radius: 8px;
  padding: 20px;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
  border-radius: 8px;
  border: 2px solid #0E52A3;
  background: #ebebeb !important;
  color: $mainColor !important;
}

.nav-item button{
  color: #505050;
  background: transparent;
  border-radius: 8px;
  margin-right: 7px;
  /*width: 85px;*/
  /*height: 45px;*/
  padding: 16px;
  transition: all ease .3s;
  border: 2px solid transparent;
  font-family: $fontFamilyBold,sans-serif;
}
.nav-item button:hover{
  color: $mainColor;
  border: 2px solid #0E52A3;
  border-radius: 8px;
}
#pills-tab{
  padding: 0;
  margin-bottom: 10px;
}
.parent-img-tour{
  width: 100%;
  height: 228px;
  object-fit: cover;
}
.link-parent{
  position: relative;
  background: #fff;
  display: flex;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  flex-direction: column;
  transition: all ease .3s;
}
.parent-img-tour img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(80%);
}
.link-parent:hover .btn-tour-tab{
  background: $secondColor;
  color: #505050;
}
.money-tour-tab,.money-calendar-tab{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 7px;
  color: #505050;
  font-size: 14px;
}
.color-toman{
  color: #28A745;
}
.btn-tour-tab{
  background: $mainColor;
  color: #fff;
  height: 35px;
  transition: all ease .3s;
  border: none;
}

.link-parent:hover{
  text-decoration: none;
}
.titr-tour-tab{
  position: absolute;
  bottom: 93px;
  background: #fff;
  border-radius: 8px 8px 0 0;
  font-size: 14px;
  color: #505050;
  padding: 10px 30px;
  right: 50%;
  font-weight: 500;
  z-index: 5;
  font-weight: 700;
  transform: translateX(50%);
}
.padding-tab{
  padding: 20px 0;
}
.about-img{
  width: unset !important;
  height: unset !important;
  border-radius: 10px;
  margin: auto;
}
/*BLOG*/
.blog{
  padding: 0 0 60px;
}
.titr-section{
  display: flex;
  align-items: center;
  justify-content: right;
  margin-bottom: 30px;
}
.titr-section h4{
  color: #505050;
  font-size:20px;
  font-family: $fontFamilyBold;
  margin: 0 auto;
}
.link-blog{
  position: relative;
  display: flex;
  flex-direction: column;
  padding:10px 20px;
  justify-content: flex-end;
  transition: all ease .3s;
}
.link-blog::after{
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, transparent), to(rgba(0, 0, 0, 0.8)));
  background: -webkit-linear-gradient(top, transparent 50%, rgba(0, 0, 0, 0.8) 100%);
  background: -o-linear-gradient(top, transparent 50%, rgba(0, 0, 0, 0.8) 100%);
  background: linear-gradient(top bottom, transparent 50%, rgba(0, 0, 0, 0.8) 100%);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  transition: 0.4s;
}
.link-blog::before{
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, transparent), to( rgb(14 82 163 / 75%)));
  background: -webkit-linear-gradient(top, transparent 50%,  rgb(14 82 163 / 75%) 100%);
  background: -o-linear-gradient(top, transparent 50%,  rgb(14 82 163 / 75%) 100%);
  background: linear-gradient(top bottom, transparent 50%,  rgb(14 82 163 / 75%) 100%);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  content: "";
  transition: 0.4s;
}
.link-blog:hover::after{
  opacity: 0;
  transition: 0.4s;
}
.link-blog:hover::before{
  opacity: 1;
  transition: 0.4s;
}
.link-blog:hover{
  text-decoration: none;
}
.link-blog img{
  width: 100%;
  height: 100%;
  filter: brightness(95%);
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.img-up{
  height: 240px;
}
.img-bottom{
  height: 180px;
}
.border-blog{
  border-radius: 8px;
  overflow: hidden;
}
.text-blog{
  display: flex;
  align-items: end;
  justify-content: space-between;
  position: relative;
  z-index: 3;
}
.blog-calendar h5{
  font-size: 16px;
  color: #fff;
  line-height:26px;
  font-family: $fontFamilyBold,sans-serif;
}
.blog-calendar span{
  color: #ACABAB;
  font-size: 14px;
}
.video-ifm iframe{
  border-radius: 8px;
}
.star-blog .star-yellow{
  color: #FFCA06;
}
.star-blog .star-solid{
  color: #D9D9D9;
}
.star-blog i{
  font-size: 14px;
}
.img-up-left{
  height: 200px;
}
.img-bottom-left{
  height: 220px;
}
.parent-app{
  background: #b3d5f0;
  display: flex;
  border-radius: 8px;
}
.parent-app-img{
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 50px;
}
.vector-img{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  border-radius: 8px;
}
.app{
  padding: 60px 0;
}
.app-img{
  position: relative;
  z-index: 2;
  margin-top: -60px;
  width: 362px;
}
.parent-app-text{
  width: 100%;
  height: 100%;
  padding:40px 20px 30px;
}
.parent-app-text h3{
  font-family: $fontFamilyBold;
  color: $mainColor;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 900;
}
.parent-app-text p{
  color: #505050;
  font-size:20px;
  margin-bottom: 30px;

}
.qr-code img{
  width: 110px;
  height: 110px;
  margin-left: 12px
}
.link-code{
  color: #505050;
  font-size: 20px;
  transition: all ease .3s;
}
.link-code span{
  color: $mainColor
}
.link-code:hover{
  text-decoration: none;
  color: unset;
}
.parent-newsletters{
  background-image: url("../images/bbb1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
  width: 100%;
  padding: 20px 15px;
  background-position: center;
  background-blend-mode: darken;
  background-color: #3339;
}
#EmailSms {
  border-radius: 8px;
  padding-right: 10px;
  outline: none;
  font-size: 14px;
  color: #505050;
  border: none;
  padding-top: 10px;
}
.newsletters{
  padding: 0 0 60px;
}
.parent-newsletters h4{
  font-size: 22px;
  color: #fff;
  margin-bottom: 25px
}
.parent-newsletters form label{
  display: flex;
  flex-direction: column;
}
.parent-newsletters form{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.parent-newsletters form label span{
  color: #fff;
  font-size: 12px;
  margin-bottom: 7px;
  margin-right: 7px;
}
.parent-newsletters form label input{
  height: 48px;
  border-radius: 8px;
  padding-right: 10px;
  outline: none;
  font-size: 14px;
  color: #505050;
  border: none;
}
.membership{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.newsletters_loading_css {
  width: 30px;
  height: 30px;
  border: 5px solid #79b6ff;
  margin: auto;
  border-top: 5px solid #3b84db;
  border-radius: 100%;
  animation: loader 1s infinite linear;
  display: none;
}
@keyframes loader {
  100% {
    transform: rotate(360deg)
  }
}
.newsletters-btn[disabled] {
  background: $mainColor !important;
  cursor: not-allowed;
}
.newsletters-btn[disabled]:hover {
  background: $mainColor !important;
  cursor: not-allowed;
}
.newsletters-btn{
  cursor: pointer;
  height: 48px;
  background: $mainColor;
  border-radius: 8px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all ease .3s;
  border: none;
}
.newsletters-btn:hover{
  background: #ffca06;
  color: #fff;
  text-decoration: none;
}
.owl-tab-tour .owl-nav{
  height: 0;
}
.owl-tab-tour .owl-nav button span{
  width: 40px;
  height: 40px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  border-radius: 1em;
  border: 1px solid #999;
  transition: all ease .3s;
  color: #555;
}
.owl-tab-tour .owl-nav button span:hover{
  background: $secondColor;
  color: #fff;
  border-color:$secondColor;
}
.owl-tab-tour .owl-nav .owl-next span{
  position: absolute;
  left: -20px;
  top: 42%;
}
.owl-tab-tour .owl-nav .owl-prev span{
  position: absolute;
  right:  -20px;
  top: 42%;
}
.parent-why{
  background: #ebebeb;
  padding:20px ;
  border-radius: 8px;
}
.why{
  padding: 50px 0 0;
}
.titr-why{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.titr-why h3{
  color: #505050;
  font-size: 18px;
  font-family: $fontFamilyBold;
}
.parent-icone{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.parent-icone i{
  font-size: 50px;
  margin-bottom: 20px;
  color: $mainColor;
}
.text-icone{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.text-icone h4{
  font-weight: 700;
  font-size: 16px;
  color: #212121;
  margin-bottom: 5px;
}
.text-icone span{
  font-size: 12px;
  color: #707172;
}
.video{
  padding: 0 0 60px;
}
.parent-video{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 972px;
  height: 548px;
  border-radius: 10px;
  overflow: hidden;
}
.parent-video .video-ifm{
  width: 100%;
  height: 100%;
}
.text-day{
  transition: all ease .3s;
  position: absolute;
  top: 0;
  left: 0;
  background: $mainColor;
  width: 100%;
}
.parent-text-day{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 10px 0;
}
.parent-text-day::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 2;
  box-shadow: inset 55px 0 30px -5px $mainColor;
}
.parent-text-day p{
  margin-bottom: 0;
  color: #fff;
  font-size: 16px;
  width: 100%;
}
.parent-text-day i{
  position: absolute;
  left: 10px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  z-index: 3;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #ffca06 !important;
}

@media (min-width: 992px) and (max-width: 1200px){
  .nav-menu > li > a{
    padding: 12px;
    font-size: 13px;
  }
}


@media (max-width: 991px) {
  .logined-name{
    display: none;
  }
  .link-parent{
    margin-bottom: 15px;
  }
  .parent-video{
    width: 800px;
    height: 300px;
  }
  .parent-blog{
    grid-template-columns: repeat(2, 1fr);
  }
  .link-menu-padding-right{
    padding-right: 10px !important;
  }
  .nav-menus-wrapper{
    flex-direction: column;
  }
  .img-bottom,.img-bottom,.img-up-left,.img-bottom-left{
    height: 240px;
  }
  .first-child>div:first-child{
    display: none;
  }
  .link-blog{
    padding: 10px;
  }
  .blog-calendar h5{
    font-size: 14px;
  }
  .blog-calendar span{
    font-size: 12px;
  }
  .parent-app>div:last-child{
    display: none;
  }
  .parent-app-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
  }
  .app{
    padding: 0 0 50px;
  }
  .parent-newsletters{
    height: 100%;
  }
  .parent-app{
    border-radius: 8px;
  }
  .parent-icone{
    margin-bottom: 25px;
  }

}

@media (max-width: 576px) {
  .owl-carousel .owl-dots .owl-dot span{
    width: 8px;
    height: 8px;
  }
  .baner-searchbox{
    padding: 40px 0 30px;
    background: #fff;
    background-image: none!important;
  }
  .parent-text-day p{
    font-size: 13px;
    line-height: 20px;
  }
  .parent-video{
    width: 100%;
    height: 200px;
  }
  .parent-blog{
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .about-img{
    height: auto !important;
    width: 100% !important;
  }
  #myTab a span h4{
    font-size: 14px;
  }
  .newsletters{
    padding-bottom: 30px;
  }
  .owl-tab h2{
    text-align: center;
  }
  .titr-section{
    margin-bottom: 20px;
  }
  .parent-app-text{
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
  .qr-code{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .link-code{
    margin-top: 15px;
  }
  .parent-app-text p{
    font-size: 11px;
  }
  .parent-app-text h3{
    margin-bottom: 20px;
    font-size: 18px
  }
  .parent-newsletters h4{
    font-size: 14px;
  }
  .parent-newsletters{
    padding: 20px 10px;
  }
  .parent-newsletters form{
    padding: 0 5px;
  }
  .newsletters-btn{
    width: 100%;
  }
  .membership{
    padding: 0 5px;
  }
  .parent-newsletters form label{
    margin-bottom: 15px;
  }
  .qr-code img:nth-child(2){
    margin-left: 0;
  }
  .qr-code img{
    margin-left: 18px;
  }
  .hotel,.advertising,.blog{
    padding-bottom: 50px !important;
  }
}

/*HOTEL*/
.hotel{
  padding: 0 0 60px;
  position: relative;
}
.link-parent-hotel{
  display: flex;
  align-items: flex-end;
  justify-content: right;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  transition: all ease .3s;
  height: 300px;
}
.link-parent-hotel:hover{
  text-decoration: none;
}
.link-parent-hotel img{
  width: 100%;
  height: 100%;
  filter: brightness(75%);
  position: absolute;
  z-index: 1;
  inset: unset;
}
.hotel-name{
  /*width: 100%;*/
  color: #fff;
  margin-top: 10px;
  font-family: $fontFamilyBold,sans-serif;
  position: relative;
  z-index: 2;
  padding: 20px;
}
.link-parent-hotel::before {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, transparent), to( rgb(14 82 163 / 75%)));
  background: -webkit-linear-gradient(top, transparent 50%, rgb(14 82 163 / 75%) 100%);
  background: -o-linear-gradient(top, transparent 50%, rgb(14 82 163 / 75%) 100%);
  background: linear-gradient(top bottom, transparent 50%, rgb(14 82 163 / 75%) 100%);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  content: "";
  transition: 0.4s;
}
.link-parent-hotel:hover::before{
  opacity: 1;
  transition: 0.4s;
}
#hotel-ul{
  padding: 0;
}
.advertising{
  padding: 40px 0 60px;
}
@media (min-width: 1200px){
  .container {
    max-width: 1280px !important;
  }
}
.nav-menu > li > a.link-menu-padding-right{
  padding-right: 0 ;
}
