/**
 * mBox
 */
 
 .mBox, #mBox img {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

 #mBox {
    display: none;
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1000000;
    text-align: center;
    background: #fff;
     padding: 12px 24px;
     border-radius: 8px;
}

@media (max-width: 1200px) {
    #mBox {
        width: 60%;
    }
}

@media (max-width: 992px) {
    #mBox {
        width: 60%;
    }
}

@media (max-width: 768px) {
    #mBox {
        width: 80%;
    }
}

@media (max-width: 576px) {
    #mBox {
        width: 95%;
    }
    #mBox .mBox-image {
        width: 37% !important;
    }
}

#mBox .mBox-current {
    position: relative;
    background-color: #FFF;
    border-radius: 8px;
}

#mBox .mBox-current img {
    border-radius: 8px;
    height: 365px;
    width: 100%;
    object-fit: cover;
}

#mBox .mBox-content {
    margin-top: 6px;
    position: relative;
    text-align: center;
    padding: 3px 0 0 0;
    background-color: #FFF;
    height: 100%;
    overflow: hidden;
    border-radius: 8px;
}

#mBox .mBox-images {
    position: relative;
    display: block;
    width: 100%;
    white-space: nowrap;
} 

#mBox .mBox-image {
    position: relative;
    display: inline-block;
    height: 88px;
}

#mBox .mBox-image img {
    position: relative;
    display: inline-block;
    border-radius: 8px;
    padding: 0px 3px;
    object-fit: cover;
}

#mBox .mBox-navigation-count {
    position: absolute;
    bottom: 0;
    text-align: left;
    width: 100%;
    z-index: 103;
    color: #FFF;
    margin-bottom: 0;
    padding: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: none;
}

#mBox .mBox-navigation-txt {
    font-style: italic;
    background-color: #00000040;
    padding: .4em .8em;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#mBox .mBox-current-image-title {
    float: right;
}

#mBox .mBox-thumbnail-pagination {
    font-size: .55em;
    display: flex;
    justify-content: center;
}

#mBox .mBox-thumbnail-pagination .dots {
    width: 9px;
    height: 9px;
    margin: 5px 3px;
    background: #c2c3c3;
    display: block;
    -webkit-backface-visibility: visible;
    transition: all ease .3s;
    border-radius: 30px;
    cursor: pointer;

}

#mBox .mBox-thumbnail-pagination .dots:hover {
    background: var(--mainColor);
}

#mBox .mBox-thumbnail-pagination .dots.active {
    background: var(--mainColor);
}

#mBox .mBox-thumbnail-pagination i {
    color: #d6d6d6;
    margin-right: .5em;
    cursor: pointer;
    width: 9px;
    height: 9px;
    font-size: 9px;
}

#mBox .mBox-thumbnail-pagination i:hover {
    color: #565a5a;
}

#mBox .mBox-thumbnail-pagination i.active {
    color: #565a5a;
}

#mBox .mBox-navigation {
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    padding: 0 .6em;
    color: #fff;
    transform: rotateY(180deg);
}

#mBox .mBox-navigation .fas {
    cursor: pointer;
    display: inline-block;
    font-size: 1.8em;
    text-shadow: 0px 0 6px rgba(0, 0, 0, 0.45);
    font-weight: 300 !important;
}

#mBox .mBox-next {
    float: right;
}

#mBox .mBox-previous {
    float: left;
}

#mBox .mBox-previous:after {
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(to right,rgba(0,0,0,.7),rgba(0,0,0,0));
}

#mBox .mBox-close {
    font-size: 1.6em;
    text-shadow: none;
    color: #333;
    line-height: .5;
    opacity: 1;
    cursor: pointer;
}

#mBox .mBox-close i {
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#mBox button.mBox-close {
    font-size: 2.3em;
    /*position: absolute;*/
    right: -28px;
    top: 0;
    border: 0;
    padding: 0;
    background: transparent;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: default;
    padding-bottom: 12px;
}

/*#mBox .mBox-close:hover, #mBox .mBox-close:focus {*/
/*    color: #c5c5c5;*/
/*    text-decoration: none;*/
/*    opacity: .75;*/
/*}*/

.body-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100000;
    background-color: #000;
    opacity: .8;
}

#mBox .hide {
    display: none!important;
}

#mBox .small {
    font-size: .8em;
}

#mBox p {
    padding: 0;
    margin: 0;
}